page-safty-instruction {

}
// .instcontent{
// 	background-color: skyblue;
// 	color: white;
// }
.mystyle{
	padding:20px;
	line-height: 2;
}
.litems{
    font-size: 15px;
    line-height: 1.6;
    left: 3%;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #f04141;
    position: relative;
}
.myrow{
	align-items: center;
}
.col{
	right: 1%;
}
.itemIcon{
	font-size:48px;
	color:#f7cf01;
}
.iconclass{
	font-size: 221%; 
	color: #FF5722;
}
.round{
	border-radius: 50%;
    border: 2px solid orangered;
    width: 20px;
    color: orangered;
}
.myrow1{
	p{
    	margin: 2px 0px;
    	font-weight: 500;
	}
}