<!--
  Generated template for the SaftyInstructionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color='header'>
		<button class='button' ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Safety Instruction</ion-title>
		<ion-buttons>
			<button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
				<!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
				<ion-icon ios="ios-cart" md="md-cart"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons right>
			<button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
				<ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
				<ion-icon name="md-notifications" item-end></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>



<ion-content padding>

	<div>
		<ion-list *ngFor="let item of instructions ;let i=index">
			<ion-row class="myrow">
				<!-- <ion-col col-1><i class="fa fa-warning itemIcon" aria-hidden="true"></i></ion-col> -->
				<ion-col col-1>
					<!-- <span class="iconclass">&#9312;</span> -->
					<div text-center>
						<p class="round">{{i+1}}</p>
					</div>
				</ion-col>
				<ion-col col-11>
					<div class="litems">
						{{item.type}}
						<div *ngFor="let itm of item.List;let j=index">
							<ion-row>
								<ion-col class="myrow1">
									<p><span>{{j+1}}</span> {{itm.list}}</p>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-col>
			</ion-row>
		</ion-list>

	</div>
</ion-content>