page-login {

	.mainDiv{
		// background: linear-gradient(to bottom right, #488aff 31%, #66ccff 93%);
	}
	.list-md .item-block .item-inner {
    border-bottom: none !important;
   }

   .item-input ion-input, .item-input ion-textarea {
	    position: static;
	    // border: 1px solid #dcd4d4;;
	    // border-radius: 4px;
	    border-bottom: 1px solid #ddd;
	    color: black;
	}
	.item-md.item-block .item-inner {
	    padding-right: 0px;
	    border-bottom: 1px solid #dedede;
	}


	.item-md{
		padding-top:16px !important;
		padding-left:0px !important;
	}

	.mainList{
		padding-left: 8px;
		width:80%;
		margin: auto;
	}

	.text-input::-moz-placeholder {
	  color: #dcd4d4;
	}

	.text-input:-ms-input-placeholder {
	  color:  #dcd4d4;
	}

	.text-input::-webkit-input-placeholder {
	  text-indent: 0;
	  color:  #dcd4d4;
	}

	.loginBtn{
		    height: 50px !important;
		    font-size: 1.6rem !important;
		   // background-color: orangered;
		    margin: 0px;
	}
	.facebook{
		height: 50px !important;
		font-size: 1.6rem !important;
		background-color: #3B5998;
		//width:80%;
		border-radius: 4px;
		text-transform: none;
		margin-bottom: 2vw;
		padding:0 !important;
	}
	.google{
		height: 50px !important;
		font-size: 1.6rem !important;
		background-color: #fff;
		color: gray;
		//width:80%;
		border-radius: 4px;
		text-transform: none;
		margin-bottom: 5%;
		box-shadow: none !important;
		border:1px solid #ddd;
		padding:0 !important
	}
	.btnRow{
		width: 100%;
	}
	.colFacebook{
		padding-top: 8px;
	    padding-right: 14vw;
	}
	.colGoogle{
		padding-top: 8px;
	    padding-right: 15vw;
	}

	.label-md {
	    margin: 0;
	}
	.img_parent{
		// display: inline-flex;
	}
	.imgs{
		//border-radius:50%;
		width: 100%;
        height: 100%;
        background:transparent !important;
	}

	
	.imgs_wk{
		//border-radius:50%;
		width: 41vw;
        height: 41vw;
        background:transparent !important;
	}
	
	.fbgooBtnDiv{

	}
	// ion-img{
	// 	background:transparent !important;
	// }
	.terms{
		font-size: 11px;
	}
	.terms1{
		// font-size: 12px;
	}
	// .col{
	// 	padding:0 !important;
	// }
	.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	    
	    bottom: 0 !important;
	    background-position: left 0 top 0;
	    height: 2px;
	}
	.labelIcon{
		padding-right: 2vw;
	}
	.labelName{
		color:#666 !important;
	}
	.mainDivlogin{
		// padding-top:12vw;
		    // padding-top: 20%;
	}
	.loginImg{
		width:100%;
	}
	.txtClr{
		color: #f04141 !important;
	}
	.label-md[floating]{
		color: #f04141;
	}
}

.ios{
	.loginHeader{
		.toolbar-ios-header .toolbar-background-ios{
			background-color:#f53d3d;
		}
	}
}