<ion-header class="loginHeader">
	<ion-navbar color='header'>
		<!-- <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button> -->
		<ion-title>
			Login
		</ion-title>
		<!-- <ion-buttons end>
					<button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
				</ion-buttons> -->
	</ion-navbar>
</ion-header>


<ion-content padding>
	<!-- <div class="fbgooBtnDiv">
		<button ion-button block class="facebook">
			<ion-row class="btnRow">
				<ion-col col-2>
					<ion-img width="auto" height="auto" src="assets/imgs/facebooklogo.png"></ion-img>
				</ion-col>
				<ion-col class="colFacebook" col-10>
					Connect with Facebook
				</ion-col>
			</ion-row>
		</button>
		<button ion-button block class="google">
			<ion-row class="btnRow">
				<ion-col col-2>
					<ion-img width="auto" height="auto" src="assets/imgs/google.png"></ion-img>
				</ion-col>
				<ion-col class="colGoogle" col-10>
					Connect with Google
				</ion-col>
			</ion-row>
		</button>
	</div> -->
	<div class="mainDivlogin">
		<div class="img_parent">
			<!-- <div text-center>
				<img class="imgs" src="assets/imgs/loginImg1.png">
			</div> -->
			<div text-center>
		          <img class="loginImg" src="assets/imgs/ew_wk.png">
		         <!--  <img class="menuImg" src="assets/imgs/wkNew1.png" > -->
		    </div>
		</div>
		<div>
			<form novalidate [formGroup]="loginForm">
				<ion-list class="mainList">
					<!-- <ion-item>
					 <ion-label class="labelName" floating><ion-icon class="labelIcon" name="md-person"></ion-icon>USERNAME</ion-label>
					<ion-input type="text"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label class="labelName" floating><ion-icon class="labelIcon" name="md-lock"></ion-icon>PASSWORD</ion-label>
					<ion-input type="password"></ion-input>
				</ion-item> -->

					<ion-item class="inputItem">
						<ion-label class="labelName" floating>
							<ion-icon class="labelIcon" name="md-call"></ion-icon>MOBILE NUMBER
						</ion-label>
						<ion-input type="tel" [(ngModel)]="loginCredentials.mobile" formControlName="mobile" maxlength="10" required></ion-input>
					</ion-item>

					<div text-center>
						<p class="terms1" text-center>
							Don't have an account? <a class="txtClr" (click)="gotosignUp()">Sign Up</a>
						</p>
					</div>



				</ion-list>
			</form>
		</div>
	</div>
	<!-- <div>
	 <button ion-button block class="facebook"><ion-img width="auto" height="auto" src="../assets/imgs/facebooklogo.png"></ion-img>Connect with facebook</button>
	  <button ion-button block class="google"><ion-img width="auto" height="auto" src="../assets/imgs/google.png"></ion-img>Connect with google</button>
	</div> -->





</ion-content>
<ion-footer>
	<!-- <div>
		<p class="terms" text-center>
			By logging in,you agree to the <a>Terms & condition</a> & <a>Privacy Policy</a> of EsselWorld.
		</p>
	</div> -->
	<button ion-button block color="danger" [disabled]="loginForm.invalid" class="loginBtn" (click)="gotoOtp()">LOGIN</button>
</ion-footer>