page-games {
		.gameCard{
		//margin: 0 !important;
		//width: 100% !important;
		border-radius:6px !important;
		 //border: 1px solid #ddd;
		 //box-shadow: none !important;
		}
		.gameImage{
			    height: 45vw;
			    width: 100%;
			     // border-bottom: 1px solid #ddd;
			    //  border-right: 1px solid #ddd;
			    // border-left: 1px solid #ddd;
			    // border-top: 1px solid #ddd;
		}
		.card-md p{
		    font-size: 4vw;
		    font-weight: 400;
		    // overflow: hidden;
	     //    text-overflow: ellipsis;
	     // white-space: nowrap;
	     //    -webkit-line-clamp: 2;

	          display: block;
			  display: -webkit-box;
			  // max-width: 100%;
			  // height: 43px;
			  // margin: 0 auto;
			  //font-size: 14px;
			  line-height: 1;
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			  overflow: hidden;
			  text-overflow: ellipsis;
            
	}
		.card-content-md {
			//background: #E37222;
			border-top: 1px solid #ddd;
		}

		.contentImg{
			width:100%;
			height: 60vw;
		}
		ion-content {
		    position: absolute;
		    background: #eee !important;
		}
}
