<!--
  Generated template for the BookhomecategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color='{{ThemeC}}' no-border>
    <button class='button' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BOOK NOW</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">

        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

	<ion-content>
		<ion-card class="card" *ngFor = "let item of homelist;let i = index">
      <div class="topim" (click)="booking(i)">
      <img [src]="item.imgPath"/>
    </div>
		  <ion-card-content (click)="booking(i)">
		  	<div class="imagediv">
 		     	<img [src]="item.icon"/>
	     	</div>
	     	<!-- <ion-card-title></ion-card-title> -->
	  	</ion-card-content>
    </ion-card>
    <!-- <div class="card" *ngFor = "let item of homelist;let i = index">
    <ion-card (click)="booking(i)">
      <img class="contentImg" [src]="item.imgPath"/>
    </ion-card>
  </div> -->
	</ion-content>
