page-bookhomecategory {
    .card{
        height: 28vh;
        position: relative;
    }
    .topim{
        height: 23vh;
    }
     .topim img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        
    }
    ion-card-content{
        position: absolute;
        bottom: 0;
        padding: 0!important;
        width: 100%;
    }
    .imagediv{
        height: 76px;
        width: 100px;
        margin: auto;
      
    }
    .imagediv img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    // .contentImg{
    //     height: 200px;
    // }

    // .card img {
    //     height: 100%;
    //     width: 100%;
    //     max-height: 45vh;
    //     object-fit: cover;
    // }
    // .card ion-card{
    //     height: 235px;
    // }
@media (max-height: 640px) {
        // .card ion-card {
        //     height: 180px;
        // }
}

.redClass{
    .alert-md .alert-button {
        text-align: right;
        text-align: end;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: uppercase;
        color: #f30000;
        background-color: transparent;
        margin: 0 8px 0 0;
        padding: 10px;
    }
}
.blueClass{
    .alert-md .alert-button {
        text-align: right;
        text-align: end;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: uppercase;
        color: #488aff;
        background-color: transparent;
        margin: 0 8px 0 0;
        padding: 10px;
    }
}
.greenClass{
    .alert-md .alert-button {
        text-align: right;
        text-align: end;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: uppercase;
        color: #16910b;
        background-color: transparent;
        margin: 0 8px 0 0;
        padding: 10px;
    }
}
}
