.ios, .md {
    page-geofence {
        .scroll {
            height: 100%
          }
     
          #map {
            width: 100%;
            height: 100%;
          }
          .button1 {
            float: right;
            background-color: transparent;
            color: #fff;
            ion-badge {
                position: absolute;
                top: -0.5rem;
                right: 0.1rem;
                opacity: 0.9;
                border-radius: 15px;
    
                & ~ ion-icon {
                    margin-right: 1.2rem;
                }
            }
        }

        .header-image {
            height: 100% !important;
            /* height: 100vh;*/
        }
        .setHeight{
         height: 70vh !important;   
        }
        .main-content {
            /*padding: 20px;*/
            background-color: white;
        }    
        .animation{
          /*animation: mymove 1s;*/
        }
        @keyframes mymove {
          from {
              bottom: -1000px;
            }
          to {
              bottom: 0px;
            }
        }

        .hideContent{
            display: none;
        }
        .customcard{
            margin: 0;
            width: 100% !important;
            margin-bottom: 10px;
            .card-content{
                padding: 0px 0px 13px 16px !important;
                .card-title{
                    padding: 8px 0 0px 0 !important;
                }
                ion-item{
                    padding-left: 0px;
                    ion-label{
                        margin: 0px;
                    }
                    .item-inner{
                        padding-right: 0px !important;
                    }
                    .cross{
                        /*margin: 0 !important;
                        position: absolute;
                        right: 5px;
                        top: 0;
                        color: #666666;*/
                        font-size: 2rem;
                    }
                    h2{
                        font-size: 1.7rem;
                        font-weight: 500;
                    }
                }
                .itemicons{
                    overflow-x: scroll;
                    button{
                        font-size: 1.3rem;
                        ion-icon{
                            margin-right: 3px;
                        }
                    }
                    ion-badge{
                        margin: 8px 0px 8px 8px;
                    }
                }
            }
        }
        .scrollable{
            overflow-x: scroll !important;
        }
    .thumbsBtnfocus{
            // width:100%;
            background-color:#488aff !important;
            // color: #488aff !important;
            //border: 1px solid;
            box-shadow: none;
            color: #fff !important;
        }

    .seenClass{
        background-color:#488aff !important;
        box-shadow: none;
        color: #fff !important;
    }

    }
}
