<ion-header>
  <ion-navbar color='{{ThemeC}}'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Near By
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
          <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
  </ion-buttons>    
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
          <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
          <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
</ion-buttons>
<ion-buttons right>
    <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
      
      <ion-icon name="md-home" item-end></ion-icon>
    </button>
  </ion-buttons>	
     <!-- <button ion-button icon-only class='button1' color="trans" (click)="startWatcher()" >
        <ion-icon name="ios-navigate" item-end></ion-icon>
      </button>
    </ion-buttons> -->
    <!-- <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons> -->
    <!-- <ion-buttons end>
      <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header-image" [ngClass]="{'setHeight':locationshow}"> 
    <div #map id="map"></div>
  </div>
  <div class="main-content animation" [ngClass]="{'hideContent':!locationshow}">
    <ion-card class="customcard" *ngIf="locationshow">
      <ion-card-content>
        <ion-card-title>
          <ion-item>
            <h2>{{locationdetail.locname}}</h2>
            <ion-note item-end class="cross">
              <ion-icon name="ios-arrow-down" color="dark" (click)="removeParallax()"></ion-icon>
            </ion-note>
            <!-- <ion-note item-end class="cross">
                  <ion-icon name="close-circle" (click)="removeParallax()"></ion-icon>
                </ion-note> -->
          </ion-item>
        </ion-card-title>
        <ion-item class="itemicons">
          <!-- <button ion-button color="secondary" round outline>
                  <ion-icon name="thumbs-up"></ion-icon>
                    Like
                  <ion-badge item-end color="dark" mode="ios" outline>{{locationdetail.like}}</ion-badge>
                </button> -->
          <!-- {{itemlike}}{{itemdislike}} -->
          <div class="scrollable">
          <button class="thumbsBtn" [ngClass]="{'thumbsBtnfocus':itemlike == true}" round outline small (click)="like(locationdetail.locid)"
            ion-button>
            <ion-icon md="md-thumbs-up"></ion-icon>
            {{locationdetail.like}}
            <!-- <div class="vl"></div> -->
          </button>
          <!-- <button ion-button color="danger" round outline small >
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>{{locationdetail.dislike}} Dislikes</div>
                  <ion-badge item-end color="dark" mode="ios" outline>{{locationdetail.dislike}}</ion-badge>
                </button> -->
          <button class="thumbsBtn" [ngClass]="{'thumbsBtnfocus':itemdislike == true}" round outline small (click)="dislike(locationdetail.locid)"
            ion-button>
            <ion-icon md="md-thumbs-down"></ion-icon>
            {{locationdetail.dislike}}
            <!-- <div class="vl"></div> -->
          </button>
          <button ion-button color="primary" round outline small (click)="share(locationdetail)">
            <ion-icon name="share"></ion-icon>
            Share
          </button>
          <button ion-button color="primary" round outline small (click)="openCamera()">
            <ion-icon name="camera"></ion-icon>
            Click Picture
          </button>
          <button ion-button [ngClass]="{'seenClass':seenStatus == true}" round outline (click)="Updateseen(locationdetail.locid)">
            <ion-icon name="eye"></ion-icon>
            Seen
          </button>
        </div>
        </ion-item>
        <p>
          {{locationdetail.loctext}}
        </p>
      </ion-card-content>
      <!-- <img [src]="getImage(locationdetail.locimgpath)"/> -->
      <img [src]="locationdetail.locimgpath" />
    </ion-card>
  </div>
</ion-content>