<!--
  Generated template for the UserDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="udHeader">
  <ion-navbar color='header'>
    <button class='button' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User Details</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <ion-content no-padding>
  <div padding-left>
    <h3>Details</h3>
  </div>
  <form novalidate [formGroup]="userForm">
    <div class="formDiv">
      <ion-list>
        <ion-item class="allItem">
          <ion-label class="headLabel" stacked>
            <ion-icon name="person" class="headLabel" stacked></ion-icon> Name <span class="reqField">*</span>
          </ion-label>
          <ion-input class="textclr" type="text" [(ngModel)]="userArray.firstname" formControlName="firstname" required
            [class.error1]="!userForm.controls.firstname.valid && userForm.controls.firstname.dirty" maxlength="50"></ion-input>
        </ion-item>
        <ion-item class="allItem" no-lines
          *ngIf="(userForm.get('firstname').hasError('minlength') || userForm.get('firstname').hasError('maxlength') || userForm.get('firstname').hasError('pattern') || userForm.get('firstname').hasError('required') ) && userForm.get('firstname').touched">
          <span class="error"
            *ngIf="userForm.get('firstname').hasError('required') && userForm.get('firstname').touched">
            Please enter your name.
          </span>
        </ion-item>
    
        <ion-item class="allItem">
          <ion-label class="headLabel" stacked>
            <ion-icon name="call" class="headLabel" stacked></ion-icon> Mobile No. <span class="reqField">*</span>
          </ion-label>
          <ion-input class="textclr" type="tel" [(ngModel)]="userArray.mobile" formControlName="mobile" required
            [class.error1]="!userForm.controls.mobile.valid && userForm.controls.mobile.dirty" maxlength="10">
          </ion-input>
        </ion-item>
        <ion-item class="allItem" no-lines
          *ngIf="(userForm.get('mobile').hasError('minlength') || userForm.get('mobile').hasError('pattern') || userForm.get('mobile').hasError('required') ) && userForm.get('mobile').touched">
          <span class="error" *ngIf="userForm.get('mobile').hasError('required') && userForm.get('mobile').touched">
            Please enter mobile number.
          </span>
          <span class="error" *ngIf="userForm.get('mobile').hasError('minlength') && userForm.get('mobile').touched">
            Please enter valid mobile number.
          </span>
          <span class="error" *ngIf="userForm.get('mobile').hasError('pattern') && userForm.get('mobile').touched">
            Please enter only numbers.
          </span>
        </ion-item>
        <ion-item class="allItem">
          <ion-label class="headLabel" stacked>
            <ion-icon name="mail" class="headLabel" stacked></ion-icon> Email <span class="reqField">*</span>
          </ion-label>
          <ion-input class="textclr" type="text" [(ngModel)]="userArray.emailid" formControlName="emailid" required
            [class.error1]="!userForm.controls.mobile.valid && userForm.controls.mobile.dirty"></ion-input>
        </ion-item>
        <ion-item class="allItem" no-lines
          *ngIf="(userForm.get('emailid').hasError('pattern') || userForm.get('emailid').hasError('required') ) && userForm.get('emailid').touched">
          <span class="error" *ngIf="userForm.get('emailid').hasError('required') && userForm.get('emailid').touched">
            Please enter email.
          </span>
          <span class="error" *ngIf="userForm.get('emailid').hasError('pattern') && userForm.get('emailid').touched">
            Please enter valid email.
          </span>
        </ion-item>
        <ion-item class="allItem">
          {{userArray.dob}}
          <ion-label class="headLabel" stacked><i class="fa fa-birthday-cake headLabel" aria-hidden="true"></i> Date of
            Birth <span class="reqField">*</span></ion-label>
          <ion-datetime class="textclr" displayFormat="DD/MM/YYYY" [(ngModel)]="userArray.dob" formControlName="dob"
            required [class.error1]="!userForm.controls.dob.valid && userForm.controls.dob.dirty"></ion-datetime>
        </ion-item>
        <ion-item class="allItem" no-lines
          *ngIf="(userForm.get('dob').hasError('required') ) && userForm.get('dob').touched">
          <span class="error" *ngIf="userForm.get('dob').hasError('required') && userForm.get('dob').touched">
            Please enter Date of Birth.
          </span>
        </ion-item>
        <ion-item class="allItem">
          <ion-label class="headLabel" stacked><i class="fa fa-address-card-o headLabel" aria-hidden="true"></i> Address
            Line 1</ion-label>
          <ion-input class="textclr" type="text" [(ngModel)]="userArray.addrline1" formControlName="addrline1">
          </ion-input>
        </ion-item>
        <ion-item class="allItem">
          <ion-label class="headLabel" stacked><i class="fa fa-address-card-o headLabel" aria-hidden="true"></i> Address
            Line 2</ion-label>
          <ion-input class="textclr" type="text" [(ngModel)]="userArray.addrline2" formControlName="addrline2">
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-item class="allItem" col-6 padding-right>
            <ion-label class="headLabel" stacked text-center><i class="fa fa-globe headLabel" aria-hidden="true"></i>
              Country</ion-label>
            <ion-input class="textclr" type="text" [(ngModel)]="userArray.country" formControlName="country"
              [class.error1]="!userForm.controls.country.valid && userForm.controls.country.dirty" text-center>
            </ion-input>
          </ion-item>
          <ion-item class="allItem" col-6 padding-left>
            <ion-label class="headLabel" stacked text-center><i class="fa fa-map-marker headLabel"
                aria-hidden="true"></i> State</ion-label>
            <ion-input class="textclr" type="text" [(ngModel)]="userArray.state" formControlName="state"
              [class.error1]="!userForm.controls.state.valid && userForm.controls.state.dirty" text-center></ion-input>
          </ion-item>
        </ion-row>
        <div class="comments">
          <ion-row>
            <ion-item class="allItem" no-lines
              *ngIf="(userForm.get('country').hasError('pattern') ) && userForm.get('country').touched" col-6
              padding-right>
              <span class="error" *ngIf="userForm.get('country').hasError('pattern') && userForm.get('country').touched"
                text-wrap>
                Please enter characters only.
              </span>
            </ion-item>
            <ion-item class="allItem" no-lines
              *ngIf="(userForm.get('state').hasError('pattern') ) && userForm.get('state').touched" col-6 padding-right
              align-self-endS>
              <span class="error" *ngIf="userForm.get('state').hasError('pattern') && userForm.get('state').touched"
                text-wrap>
                Please enter characters only.
              </span>
            </ion-item>
          </ion-row>
        </div>
        <ion-row>
          <ion-item class="allItem" col-6 padding-right>
            <ion-label class="headLabel" stacked text-center><i class="fa fa-building headLabel" aria-hidden="true"></i>
              City</ion-label>
            <ion-input class="textclr" type="text" [(ngModel)]="userArray.city" formControlName="city"
              [class.error1]="!userForm.controls.city.valid && userForm.controls.city.dirty" text-center></ion-input>
          </ion-item>
          <ion-item class="allItem" col-6 padding-left>
            <ion-label class="headLabel" stacked text-center><i class="fa fa-map-pin headLabel" aria-hidden="true"></i>
              Pincode <span class="reqField">*</span></ion-label>
            <ion-input class="textclr" type="tel" [(ngModel)]="userArray.pincode" formControlName="pincode"
              maxlength="6" required [class.error1]="!userForm.controls.pincode.valid && userForm.controls.pincode.dirty" text-center>
            </ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="allItem" no-lines
            *ngIf="(userForm.get('city').hasError('pattern') ) && userForm.get('city').touched" col-6 padding-right>
            <span class="error" *ngIf="userForm.get('city').hasError('pattern') && userForm.get('city').touched"
              text-wrap>
              Please enter characters only.
            </span>
          </ion-item>
          <ion-item class="allItem" no-lines
          *ngIf="(userForm.get('pincode').hasError('required') ) && userForm.get('pincode').touched">
          <span class="error textBelowInput" *ngIf="userForm.get('pincode').hasError('required') && userForm.get('pincode').touched">
            Please enter pincode.
          </span>
        </ion-item>
        </ion-row>
      </ion-list>
    </div>
  </form>
</ion-content> -->

<ion-content>
  <div class="mainDiv">
    <form novalidate [formGroup]="userForm">
      <ion-grid class="grid">
        <ion-row>
          <ion-col col-1>
            <p>Mr.</p>
          </ion-col>

          <ion-col class="innerUDtext">
            <ion-input [(ngModel)]="userArray.firstname" formControlName="firstname" required
              [class.error1]="!userForm.controls.firstname.valid && userForm.controls.firstname.dirty" maxlength="50"
              placeholder="First Name*"></ion-input>
            <span class="error"
              *ngIf="userForm.get('firstname').hasError('required') && userForm.get('firstname').touched">
              Please enter your First name.
            </span>
          </ion-col>

          <ion-col class="innerUDtext">
            <ion-input [(ngModel)]="userArray.lastname" formControlName="lastname" required
            [class.error1]="!userForm.controls.lastname.valid && userForm.controls.lastname.dirty" maxlength="50"
            placeholder="Last Name"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="innerform">
        <div>
          <ion-input type="email" [(ngModel)]="userArray.emailid" formControlName="emailid" required
            [class.error1]="!userForm.controls.mobile.valid && userForm.controls.mobile.dirty" placeholder="Email*">
          </ion-input>
          <span class="allItem" no-lines
            *ngIf="(userForm.get('emailid').hasError('pattern') || userForm.get('emailid').hasError('required') ) && userForm.get('emailid').touched">
            <span class="error" *ngIf="userForm.get('emailid').hasError('required') && userForm.get('emailid').touched">
              Please enter email.
            </span>
            <span class="error" *ngIf="userForm.get('emailid').hasError('pattern') && userForm.get('emailid').touched">
              Please enter valid email.
            </span>
          </span>
        </div>

        <div class="dateBirth">
          <ion-datetime class="textclr" placeholder="Date Of Birth*" displayFormat="DD/MM/YYYY" [(ngModel)]="userArray.dob" formControlName="dob"
            required [class.error1]="!userForm.controls.dob.valid && userForm.controls.dob.dirty"></ion-datetime>
          <span *ngIf="(userForm.get('dob').hasError('required') ) && userForm.get('dob').touched">
            <span class="error" *ngIf="userForm.get('dob').hasError('required') && userForm.get('dob').touched">
              Please enter Date of Birth.
            </span>
          </span>
        </div>

        <div>
          <ion-input type="tel" [(ngModel)]="userArray.mobile" formControlName="mobile" required
            [class.error1]="!userForm.controls.mobile.valid && userForm.controls.mobile.dirty" maxlength="10"
            placeholder="+91 | Phone Number*"></ion-input>
          <span class="allItem" no-lines
            *ngIf="(userForm.get('mobile').hasError('minlength') || userForm.get('mobile').hasError('pattern') || userForm.get('mobile').hasError('required') ) && userForm.get('mobile').touched">
            <span class="error" *ngIf="userForm.get('mobile').hasError('required') && userForm.get('mobile').touched">
              Please enter mobile number.
            </span>
            <span class="error" *ngIf="userForm.get('mobile').hasError('minlength') && userForm.get('mobile').touched">
              Please enter valid mobile number.
            </span>
            <span class="error" *ngIf="userForm.get('mobile').hasError('pattern') && userForm.get('mobile').touched">
              Please enter only numbers.
            </span>
          </span>
        </div>

        <div>
          <ion-input type="text" placeholder="Address" [(ngModel)]="userArray.addrline1" formControlName="addrline1"></ion-input>
        </div>

        <div>
          <ion-input type="number" [(ngModel)]="userArray.pincode" formControlName="pincode"
          maxlength="6" required [class.error1]="!userForm.controls.pincode.valid && userForm.controls.pincode.dirty" placeholder="Pin Code*"></ion-input>
          <span
          *ngIf="(userForm.get('pincode').hasError('required') ) && userForm.get('pincode').touched">
          <span class="error textBelowInput" *ngIf="userForm.get('pincode').hasError('required') && userForm.get('pincode').touched">
            Please enter pincode.
          </span>
          </span>
        </div>

        <div>
          <ion-input type="text" [(ngModel)]="userArray.country" formControlName="country"
          [class.error1]="!userForm.controls.country.valid && userForm.controls.country.dirty" placeholder="India"></ion-input>
          <span class="allItem" no-lines
          *ngIf="(userForm.get('country').hasError('pattern') ) && userForm.get('country').touched" col-6
          padding-right>
          <span class="error" *ngIf="userForm.get('country').hasError('pattern') && userForm.get('country').touched"
            text-wrap>
            Please enter characters only.
          </span>
        </span>
        </div>

        <div>
          <ion-input type="text" [(ngModel)]="userArray.state" [class.error1]="!userForm.controls.state.valid && userForm.controls.state.dirty" formControlName="state"
          placeholder="State"></ion-input>
          <span
          *ngIf="(userForm.get('state').hasError('pattern') ) && userForm.get('state').touched" col-6 padding-right>
          <span class="error" *ngIf="userForm.get('state').hasError('pattern') && userForm.get('state').touched"
            text-wrap>
            Please enter characters only.
          </span>
         </span>
        </div>

        <div>
          <ion-input type="text" [(ngModel)]="userArray.city" [class.error1]="!userForm.controls.city.valid && userForm.controls.city.dirty" formControlName="city"
           placeholder="City"></ion-input>
           <span
           *ngIf="(userForm.get('city').hasError('pattern') ) && userForm.get('city').touched" col-6 padding-right>
           <span class="error" *ngIf="userForm.get('city').hasError('pattern') && userForm.get('city').touched"
             text-wrap>
             Please enter characters only.
           </span>
          </span>
        </div>


      </div>
    </form>

    <ion-item class="check">
      <ion-checkbox></ion-checkbox>
      <ion-label>Click here if infant is acconmpainig you. No. of infants (0-3 years)</ion-label>
    </ion-item>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar color="red">
    <ion-fab bottom center class="buttonDiv">
      <button (click)="onSave(userArray)" ion-button clear>PROCEED TO REVIEW ></button>
    </ion-fab>
  </ion-toolbar>
</ion-footer>