page-user-details {
    // .labelAll{
    //     font-size: 3.2vw !important;
    // }
    // .formFields{
    //     border: 1px solid rgb(93, 107, 235)
    // }
    // .mainBody{
    // padding-left: 0px!important;
    // }
    input::-webkit-inner-spin-button, 
    input::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  .allItem{
		padding-left:0px !important;
		border-bottom:1px solid #ddd;
	  }
	.formDiv{
		padding-left:3vw;
		padding-right:3vw;
    }
    .headLabel{
		font-size: 3.2vw !important;
    }
    .textclr{
    color: black;
        // font-weight: normal;
    }
    .btnSave{
		width: -webkit-fill-available;
		// margin-bottom: 0px;
        // margin-top: 0px;
    margin:0px;
    padding:0px; 
    }
    .error{
        color: rgb(223, 62, 62);
        font-size: 11px;
      }
    
    .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
      }
    .reqField{
      color: red;
      padding: 0px;
    }
    .comments{
      display: inline;
    }
    .textBelowInput{
      margin-left: 58%;
    }
}


page-user-details{
  ion-content{
  --background: #f4f4f4;
}
.mainDiv{
  margin: auto;
  max-width: 530px;
  background: white;
}
ion-input{
  --placeholder-color: #454545;
  --placeholder-opacity: 1;
  font-size: 20px;
}
.grid{
  border-bottom: 1px solid gray;
  padding-top: 19px;
}
.grid p{
  margin: 0;
  padding-top: 12px;
  font-size: 19px;
  text-align: center;
  color: #9b9b9b;
}
.grid ion-col{
  padding: 0;
  border-right: 1px solid gray;
}
.grid ion-col:first-child{
  margin-left: 16px;
}
.grid ion-col:last-child{
  border-right: 0px;
}
.innerform ion-input{
  border-bottom: 1px solid gray;
  padding-top: 24px;
  padding-left: 16px;
}
ion-checkbox{
  border-color :#f04141;
  background-checked :#f04141;  
  border-color-checked :#f04141;  
  size : 28px; 
}
.item.item-md .checkbox-md{
  margin: 0;
  /*margin-left: 10px; */
}
.check{
  padding-top: 10px;
}
.check ion-label{
  font-size: 13px;
  padding-left: 5px;
  color: #494949;  
}
.item-md.item-block .item-inner{
  border-bottom: 1px solid #dedede00!important;
}
.checkbox-md .checkbox-checked {
  border-color: #f04141;
  background-color: #f04141;
}
.checkbox-md .checkbox-icon{
  width: 25px;
  height: 25px;
  border-color: #f04141;
  border-radius: 6px;
}
.checkbox-md .checkbox-checked .checkbox-inner {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
}


.buttonDiv button{
  border: 1px solid #fff;
  padding: 7px 14px;
  border-radius: 8px;
  color: #fff;
  font-size: 13px;
}

ion-fab[center]{
  margin-left: -95px;
}
ion-fab[bottom] {
  top: 13%;
}

.dateBirth{
  position: relative;
  border-bottom: 1px solid gray;
  padding-left: 8px;
}


@media (min-width: 768px) {
  .check ion-label{
    font-size: 13px;
  }
  .grid{
    padding-top: 23px;
  }
  .innerform ion-input{
    padding-bottom: 12px;
  }
}




@media (max-height: 823px) {
  .grid{
    padding-top: 26px;
  }
  ion-input{
    font-size: 15px;
  }
   .innerform ion-input {
    padding-bottom: 6px;
    padding-top: 20px;
  } 
  .grid p, ion-datetime{
    font-size: 15px;
  }

}


@media (max-height: 736px) {
  .innerform ion-input {
    padding-bottom: 0px;
    padding-top: 16px;
  }
  .grid {
    padding-top: 20px;
  } 
}

@media (max-height: 640px) {
  .grid {
    padding-top: 12px;
  }
   ion-input {
    font-size: 12px;
  }
  .grid p {
    font-size: 12px;
    padding-right: 7px;
  }
  .innerform ion-input {
    padding-top: 10px;
  }
  .check ion-label{
    font-size: 11px;
  }
  ion-datetime{
    font-size: 12px;
  }
}

@media (max-height: 568px) {
  .innerform ion-input {
    padding-left: 25px;
  }
}

}

.ios{
  input::-webkit-inner-spin-button, 
  input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .buttonDiv button{
    margin:-1px 0 0 0;
  }
  .udHeader{
    .toolbar-title-ios{
      color: #ffffff!important;
    }
    ion-navbar{
      .toolbar-background-ios,
      .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
        background-color: #f04141!important;
        color: #fff;
      }
    }
  }
  .grid{
    .innerUDtext{
      margin-left: 8px;
    }
  }
}
