<style>
	.tabbar::after {
		content: none;
	}
</style>

<!--icon and title-->
<ion-tabs #ionTabs [scrollable-tabs]="ionTabs" [opts]="scrollableTabsopts" selectedIndex='0' color="{{tabsColor}}" mode='{{tabsMode}}'
	tabsHighlight="true" tabsPlacement="{{tabsPlacement}}">
	<ion-tab [root]="HomeRoot" [show]='tabToShow[0]' tabIcon="home" tabTitle="Home"></ion-tab>
	<ion-tab [root]="ListRoot" [show]='tabToShow[1]' tabIcon="calendar" tabTitle="Entry Rates"></ion-tab>
	<ion-tab [root]="ScheduleRoot" [show]='tabToShow[2]' tabIcon="camera" tabTitle="My Schedule"></ion-tab>
	<ion-tab [root]="GeofenceRoot" [show]='tabToShow[3]' tabIcon="list" tabTitle="Near By"></ion-tab>
  <ion-tab [root]="BookingRoot" [show]='tabToShow[4]' tabIcon="list" tabTitle="Booking History"></ion-tab>
  <ion-tab [root]="GeofenceRoot" [show]='tabToShow[5]' tabIcon="list" tabTitle="GeoFence"></ion-tab>

	</ion-tabs>

	<!-- <ion-list [style.marginTop.px]="200">
		<ion-item>
			<ion-label>Color</ion-label>
			<ion-select [(ngModel)]="tabsColor">
				<ion-option value="default">Default</ion-option>
				<ion-option value="primary">Primary</ion-option>
				<ion-option value="secondary">Secondary</ion-option>
				<ion-option value="danger">Danger</ion-option>
				<ion-option value="dark">Dark</ion-option>
				<ion-option value="light">Light</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Tabs Mode</ion-label>
			<ion-select [(ngModel)]="tabsMode" (ionChange)="presentChangeOrendationToast()">
				<ion-option value="md">Material Design</ion-option>
				<ion-option value="ios">ios</ion-option>
				<ion-option value="wp">Windows Phone</ion-option>n>
			</ion-select>
		</ion-item>
	</ion-list> -->

