<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='{{ThemeC}}' no-border>
    <button class='button' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BOOKING</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">

        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <span class="dateReq">Please select a date for your visit</span>
  <ionic-calendar-date-picker [ngClass]="{redClass: red == true, greenClass: green == true, blueClass: blue == true}" (onSelect)="dateSelected($event)"></ionic-calendar-date-picker>
  <button ion-button full [ngStyle]="{'background-color': getColor(pushToBook.bookHCID)}" (click)="proceed();">Proceed</button>
</ion-content>


