page-booking {
    .dateReq{
        width: 100%;
        text-align: center;
        color: #f04141;
        margin-left: 45px;
    }

    .redClass{
        // .button-clear-md {
        //     border-color: transparent;
        //     color: #f04141;
        //     background-color: transparent;
        //     -webkit-box-shadow: none;
        //     box-shadow: none;
        //     opacity: 1;
        // }
        button .ion-button{
            color: #ffffff !important;
            background: #fa1000 !important;
        }
        .button-full {
            display: block;
            width: 100%;
            contain: strict;
            color: #ffffff !important;
            background: #fa1000 !important;
        }
        .button-md {
            border-radius: 2px;
            overflow: hidden;
            height: 3.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #fa1001;
            background-color: transparent;
            // -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            // -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0.4rem 0.2rem;
            padding: 0 1.1em;
        }
    }
    .blueClass{
        // .button-clear-md {
        //     border-color: transparent;
        //     color: #488aff;
        //     background-color: transparent;
        //     -webkit-box-shadow: none;
        //     box-shadow: none;
        //     opacity: 1;
        // }
        button{
            color: #ffffff;
            background: #488aff;
        }
        .button-full {
            display: block;
            width: 100%;
            contain: strict;
            color: #ffffff !important;
            background: #488aff !important;
        }
        .button-md {
            border-radius: 2px;
            overflow: hidden;
            height: 3.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #488aff;
            background-color:transparent;
            // -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            // -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0.4rem 0.2rem;
            padding: 0 1.1em;
        }
    }
    .greenClass{
        // .button-clear-md {
        //     border-color: transparent;
        //     color: #16910b;
        //     background-color: transparent;
        //     -webkit-box-shadow: none;
        //     box-shadow: none;
        //     opacity: 1;
        // }
        button{
            color: #ffffff;
            background: #16910b;
        }
        .button-full {
            display: block;
            width: 100%;
            contain: strict;
            color: #ffffff !important;
            background: #16910b !important;
        }
        .button-md {
            border-radius: 2px;
            overflow: hidden;
            height: 3.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #16910b;
            background-color: transparent;
            // -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            // -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
            // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0.4rem 0.2rem;
            padding: 0 1.1em;
        }
    }
}

.ios{
    // .calendar .button-full-ios{
	// 	height:2.2em;
	// 	font-size:1.4rem;
	// 	padding:0 0.5em;
	// }   
    .redClass{
        .calendar-button, .item-ios .item-button{
            background-color:transparent!important;
            color: #fa1001!important;
        }
    }
    .blueClass{
        .calendar-button, .item-ios .item-button{        
            background-color:transparent!important;
            color: #488aff;
        }
    }
    .greenClass{
        .calendar-button, .item-ios .item-button{        
            background-color:transparent!important;
            color: #16910b;
        }
    }
}

