<!--
  Generated template for the BookingSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="bsHeader">
  <ion-navbar color='header' no-border>
    <button class='button' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Booking Summary</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">

        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="bgcolor">
  <div *ngFor="let item of bookingSummary">
    <!-- <div class="usrDetails"> -->
    <ion-list class="ticket">
      <ion-list-header>
        <!-- <h1 class="headerEW">EsselWorld</h1> -->
        Ticket Summary
      </ion-list-header>
      <div class="innerContent">
        <ion-row>
          <ion-item no-lines col-6>
            <ion-icon name="person"></ion-icon>
            Name
          </ion-item>
          <ion-item no-lines col-6 text-right>
            {{item.userDetails.firstname}}
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item no-lines col-6>
            <ion-icon name="phone-portrait"></ion-icon>
            Mobile no.
          </ion-item>
          <ion-item no-lines col-6 text-right>
            {{item.userDetails.mobileno}}
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item no-lines col-6>
            <ion-icon name="calendar"></ion-icon>
            Ticket Date
          </ion-item>
          <ion-item no-lines col-6 text-right>
            {{item.userDetails.bookingdate | date:'dd/MM/yyyy'}}
          </ion-item>
        </ion-row>
      </div>
    </ion-list>

    <ion-list class="ticket">
      <ion-list-header>
        Tickets
      </ion-list-header>
      <div padding-top>

        <ion-item *ngFor="let content of item.tickets" no-lines>
          <h2 text-wrap>{{content.ticketname}} ({{content.hctitle}})</h2>
          <p><i class="rupee fa fa-rupee"></i> {{content.ticketprice}} x {{content.ticCount}}</p>
          <ion-note item-end> <i class="rupee fa fa-rupee"></i>{{content.totalPirce}}</ion-note>
        </ion-item>
      </div>
      <ion-item>
        <h2>Total</h2>
        <ion-note item-end><i class="rupee fa fa-rupee"></i> {{ TTP }}</ion-note>
      </ion-item>

    </ion-list>

    <ion-list class="ticket">
      <ion-list-header>
        Food & Beverages
      </ion-list-header>
      <!-- <ion-col col-4 text-right>
          <i class="rupee fa fa-rupee"></i> 930
          </ion-col>
        </ion-row>
      </ion-list>
      <div class="innerContent">
      <ion-row>
        <ion-col col-10>
        Name
        </ion-col>
        <ion-col col-2 text-right>
        Total
        </ion-col>
      </ion-row> -->
      <div padding-top>

        <ion-item *ngFor="let food of item.FandB" no-lines>
          <h2 text-wrap>{{food.ticketname}} ({{food.hctitle}})</h2>
          <p><i class="rupee fa fa-rupee"></i> {{food.ticketprice}} x {{food.ticCount}}</p>
          <ion-note item-end> <i class="rupee fa fa-rupee"></i> {{food.totalPirce}}</ion-note>
        </ion-item>
      </div>
      <ion-item>
        <h2>Total</h2>
        <ion-note item-end><i class="rupee fa fa-rupee"></i> {{TFP}}</ion-note>
      </ion-item>

    </ion-list>


    <ion-list class="ticket">
      <ion-list-header>
        Paid Attractions
      </ion-list-header>
      <!-- </ion-col>
          <ion-col col-4 text-right>
            <i class="rupee fa fa-rupee"></i> 360
            </ion-col>
          </ion-row>
        </ion-list>
        <div class="innerContent">
        <ion-row>
          <ion-col col-10>
          Name
          </ion-col>
          <ion-col col-2 text-right>
          Total
          </ion-col>
        </ion-row> -->
      <div padding-top>
        <!-- <ion-row>
          <ion-col col-9>
            {{attractions.name}}
          </ion-col>
          <ion-col col-3 text-right>
            <i class="rupee fa fa-rupee"></i> {{attractions.total}}
          </ion-col>
        </ion-row>
        <ion-row  class="innerRow">
          <ion-col>
            <i class="rupee fa fa-rupee"></i> {{attractions.price}} x   {{attractions.qty}}
        </ion-col>
        </ion-row>
        </div>
    </div> -->
        <ion-item *ngFor="let attractions of item.paidAttr" no-lines>
          <h2 text-wrap>{{attractions.ticketname}} ({{attractions.hctitle}})</h2>
          <p><i class="rupee fa fa-rupee"></i> {{attractions.ticketprice}} x {{attractions.ticCount}}</p>
          <ion-note item-end> <i class="rupee fa fa-rupee"></i> {{attractions.totalPirce}}</ion-note>
        </ion-item>
      </div>
      <ion-item>
        <h2>Total</h2>
        <ion-note item-end><i class="rupee fa fa-rupee"></i> {{TAP}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-list class="ticket">
      <ion-list-header>
        <ion-row>
          <!-- <ion-col col-5> -->
          Price Details
          <!-- </ion-col>
        <ion-col col-7 class="inctax" text-right>
            (Inclusive of all taxes)
        </ion-col> -->
        </ion-row>
      </ion-list-header>

      <ion-item no-lines padding-top>
        <h2>Item Total</h2>
        <div class="inctax">(Inclusive of all taxes)</div>
        <ion-note item-end><i class="rupee fa fa-rupee"></i> {{TTP+TFP+TAP}}</ion-note>
      </ion-item>
      <!-- <ion-item no-lines>
        <h2> Convinience Fee</h2>
        <ion-note item-end><i class="rupee fa fa-rupee"></i> 6.60</ion-note>
      </ion-item>
      <ion-item no-lines>
        <h2> GST(18%)</h2>
        <ion-note item-end><i class="rupee fa fa-rupee"></i> {{ (TTP+TFP+TAP) * 0.18 | number : '1.2-2'}}</ion-note>
      </ion-item> -->
      <!-- <ion-item no-lines>
        <h2>Total Amount</h2> -->
      <!-- <ion-note item-end><i class="rupee fa fa-rupee"></i> {{(TTP+TFP+TAP)+6.60+((TTP+TFP+TAP) * 0.18)|number : '1.2-2'}}</ion-note> -->
      <!-- <ion-note item-end><i class="rupee fa fa-rupee"></i> {{TTP+TFP+TAP}}</ion-note>
      </ion-item> -->
    </ion-list>
    <ion-row class="tnc">
      <ion-checkbox color="primary" (ionChange)="onCheck($event)"></ion-checkbox>&nbsp;
      I accept the &nbsp;<u class="txtclr" (click)="gotoTandC()"> Terms & Conditions</u>
    </ion-row>

  </div>
  <!-- <div col-12 class="paySelect">
    <div col-4>
      <button [disabled]="checkedTick == false" color="red" ion-button class="btnSave" (click)="payment()">Pay </button>
    </div>
    <div col-4>
      <button [disabled]="checkedTick == false" color="red" ion-button class="btnSave" (click)="paymentUPI()">UPI</button>
    </div>
  </div> -->
</ion-content>
<ion-footer>
  <div col-12 class="bot">
     <!-- <div col-4>  -->
      <button [disabled]="checkedTick == false || TTP == 0" color="red" ion-button class="btnSave" (click)="paymentPage()">Proceed to Payment</button>
     <!-- </div>  
     <div col-4>
      <button [disabled]="checkedTick == false" color="red" ion-button class="btnSave" (click)="paymentUPI()">Pay(UPI)</button>
    </div>  -->
  </div>
</ion-footer>