page-booking-summary {
.bgcolor{
    background-color:#f3f3f3
}
.usrDetails{
    margin-left: 5px;
    font-weight: lighter;
}
.headerEW{
    margin-left: 5px;
}
.heading{
    padding: 3px;
    font-size: 14px;
    background-color: #c8cbce;
    color: black;
}
.innerRow{
    font-weight: lighter;
}
.innerContent{
    padding: 5px;
}
.rupee{
    font-size: small!important;
    font-weight: lighter;
}
.totalBadge{
    border-radius: 50%;
    background-color: #fd453a;
    color: white;
}
.btnSave{
    width: -webkit-fill-available;
    margin:0px;
    padding:0px; 
}
.ticket{
    margin: 0;
    background-color: #fff;
    ion-list-header{
        color: black;
        background: #ddd;
        margin: 0;
        padding-bottom: 0px;
        font-size: 17px;
        ion-item{
            color: black;
        }
    }
    ion-item{
        color:black;
        ion-label{
            // margin: 10px 0;
            margin: 0px 8px 10px 0;
        }
        ion-note{
            margin: 0px 8px 2px 0 !important;
            font-size: 14px;
            position: relative;
            color: black;
            top: -5px;   
        }
        h2{
            font-weight: bold;
        }
    }
}
.inctax{
    color: red;
    // margin: auto;
    font-size: 1.2rem;
}
.txtclr{
    color: blue;
}
.tnc{
    padding: 5vw;
}
    .paySelect{
        margin-left: 17vw;
        display: inline-flex;
    }
    .bot{
        margin-bottom: 10px;
    }
}

.ios{
    .bsHeader{
        .toolbar-title-ios{
            font-size:1.5rem;
        }
        ion-buttons{
            margin: 0!important;
          }
        .toolbar-title-ios{
          color: #ffffff!important;
        }
        ion-navbar{
          .toolbar-background-ios,
          .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
            background-color: #f04141!important;
            color: #fff;
          }
        }
      }
}