page-list {

	.button1 {
		float: right;
		background-color: transparent;
		color: #fff;
		ion-badge {
			position: absolute;
			top: -0.5rem;
			right: 0.1rem;
			opacity: 0.9;
			border-radius: 15px;

			& ~ ion-icon {
				margin-right: 1.2rem;
			}
		}
	}

    .segment-button{
            width: auto !important;
    }
    .padding{
        padding:10px;
    }
    // .border{
    //     border:1px solid #ddd;
    // }
    .border-bottom{
        border-bottom:1px solid #ddd
    }
    .mt1rem{
        margin-top: 1rem !important;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .rupee{
        font-size:small !important;
    }

    .noDataInner{
        top: 40%;
        left: 33%;
        font-size: 4vw;
        position: absolute;
    }
    .noDataOuter{
        background:#fff;
        height: -webkit-fill-available;
    }
    .textcenter{
        text-align: center !important;
        .toolbar-content{
            display: block;
        }
    }

    .segment-ios .segment-button:first-of-type {
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 4px;
        margin-right: 0;
        // background-color: blue !important;
    }

    .segAct{
        background-color: #f04141 !important;
        -webkit-transition: 100ms all linear !important;
        transition: 100ms all linear !important;
        color: white !important;    
    }

    .segment-ios .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 3.2rem;
        border-width: 1px;
        border-style: solid;
        border-color: #f30000;
        font-size: 1.3rem;
        line-height: 3rem;
        color: #f04141;
        background-color: transparent;
    }

    button{
        background: #f04141 !important;
        color: #ffffff;
    }

}

.ios{
    .etHeader{
        ion-navbar{
            .toolbar-background-ios,
            .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
              background-color: #f04141!important;
              color: #fff;
            }
          }
    }
    .textcenter{
        margin-top: 10px;
        .segment-ios .segment-button:hover:not(.segment-activated){
            color:#f04141!important;
            background-color: transparent;
        }
    }
}