<ion-header class="etHeader">
    <ion-navbar color='header'>
        <button class='button' ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class='title'>Entry Rates</ion-title>
        <ion-buttons>
            <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
                <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
                <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
                <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
                <ion-icon name="md-notifications" item-end></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
    <ion-toolbar class="textcenter">
        <div>
            <ion-segment [(ngModel)]="park" mode="ios" class="segment-activated">
                <ion-segment-button *ngFor="let p of allParks" value="{{p.hcid}}" (ionSelect)='changeArr(p.hcid)'
                    [ngClass]="{'segAct': p.hcid == park}">
                    {{ p.hcname }}
                    <!-- {{p.hcid == park}}
                      {{park}}
                      {{p.hcid}} -->
                </ion-segment-button>
                <!-- <ion-segment-button value="wk">
                      WaterKingdom
                    </ion-segment-button> -->
            </ion-segment>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content #content>

    <div [ngSwitch]="park" ngSelected="selected">

        <div class="padding" *ngIf="!nodataAvailable">
            <div class="border">

                <div class="border-bottom">
                    <ion-row>
                        <ion-col col-9>
                            <p class="mt1rem">Ticket Type</p>
                        </ion-col>
                        <ion-col col-3 text-right>
                            <p class="mt1rem">Price</p>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="border-bottom" *ngFor="let EW of EsselWorld">
                    <ion-row>
                        <ion-col col-9>
                            <p>{{EW.ttDesc}}</p>
                        </ion-col>
                        <ion-col col-3 text-right>
                            <p><i class="rupee fa fa-rupee"></i> {{EW.ttp}}</p>
                        </ion-col>
                    </ion-row>
                </div>
                <div text-center>
                    <button (click)="goToHomeCategories()" ion-button>
                          Book
                    </button>
                </div>
                <div class="noDataOuter" *ngIf="nodataAvailable">
                    <div class="noDataInner">
                        No Data Available
                    </div>
                    <!-- <p>Data not available</p> -->
                </div>

            </div>
        </div>


        <!-- <div  class="padding" *ngSwitchCase="'2'">
            <div class="border">

               <div class="border-bottom">
                   <ion-row>
                    <ion-col col-9>
                        <p class="mt1rem">Ticket Type</p>
                    </ion-col>
                     <ion-col col-3 text-right>
                        <p class="mt1rem">Price</p>
                    </ion-col>  
                   </ion-row>
               </div>
               <div class="border-bottom" *ngFor="let WK of WaterKingdom">
                   <ion-row>
                    <ion-col col-9>
                        <p>{{WK.ttDesc}}</p>
                    </ion-col>
                     <ion-col col-3 text-right>
                        <p><i class="rupee fa fa-rupee"></i> {{WK.ttp}}</p>
                    </ion-col>  
                   </ion-row>
               </div>
            </div>
        </div>  -->

    </div>

</ion-content>