<ion-header>

    <ion-navbar color='header'>
      	<button class='buttonMenu' ion-button menuToggle>
        	<ion-icon name="menu"></ion-icon>
      	</button>
      	<ion-title class='title'>To Do</ion-title>
      <!-- 	<ion-buttons right>
        	<button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
          		<ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
          		<ion-icon name="md-notifications" item-end></ion-icon>
        	</button>
      	</ion-buttons> -->
	</ion-navbar>
  
</ion-header>

<ion-content>

	<swipe-tab [tabs]='array'></swipe-tab>

</ion-content>