ion-segment {
  display: block;
  white-space: nowrap;
  font-size: 0;
  overflow: auto;

  &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
  }

  ion-segment-button.segment-button {
      display: inline-block;
      min-width: 100px;
      width: auto;
  }	

}

.button1 {
  float: right;
  background-color: transparent;
  color: #fff;
  ion-badge {
    position: absolute;
    top: -0.5rem;
    right: 0.1rem;
    opacity: 0.9;
    border-radius: 15px;

    & ~ ion-icon {
      margin-right: 1.2rem;
    }
  }
}