<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color='red'>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          Cart
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div  *ngIf="!nodataAvailable">
        <div class="bkgclr" *ngFor="let item of bookingCart">
            <ion-card>
                <ion-card-header>
                    Basic Tickets
                </ion-card-header>
                <ion-card *ngFor="let content of item.tickets">
                    <ion-row>
                      <ion-col col-9>
                        <ion-item text-wrap class="lineItem">
                          {{content.ticketname}}
                          <p>({{content.hctitle}})</p>
                        </ion-item>
                        <ion-item text-wrap class="lineItem">
                          <p class="subItem">Item Price: <i class="rupee fa fa-rupee"></i> {{content.ticketprice}}</p>
                          <p class="subItem">Total Price: <i class="rupee fa fa-rupee"></i> {{content.totalPirce}}</p>
                        </ion-item>
                      </ion-col>
                      <ion-col col-3 class="imgDImg">
                        <img src="assets/imgs/TicketIconRed.png" />
                      </ion-col>
                    </ion-row>
                    <ion-row class="addQuantity">
                      <ion-col col-6>
                        <ion-row>
                          <ion-col col-4>
                            <ion-fab right><button (click)="onDecrement(1,content.ticketId,content.ticCount)" ion-fab class="fabColor" mini>
                                <ion-icon name="remove"></ion-icon>
                              </button></ion-fab>
                          </ion-col>
                          <ion-col col-4 text-center>
                            <ion-input class="countinput" [(ngModel)]="content.ticCount" type="number" min="0" max="10" disabled="true" text-center></ion-input>
                          </ion-col>
                          <ion-col col-4>
                            <ion-fab><button (click)="onIncrement(1,content.ticketId,content.ticCount)" ion-fab class="fabColor" mini>
                                <ion-icon name="add"></ion-icon>
                              </button></ion-fab>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col class="rmBtnCol">
                        <ion-icon name="trash" (click)="DeleteAllTicket(1,content.ticketId,content.ticCount, content.hcid)"></ion-icon>
                      </ion-col>
                    </ion-row>
                </ion-card>
                <div class="addmore" (click)="AddMore(1)">Add More Item</div>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    Food & Beverages
                </ion-card-header>
                <ion-card *ngFor="let food of item.FandB">
                    <ion-row>
                      <ion-col col-9>
                        <ion-item text-wrap class="lineItem">
                          {{food.ticketname}}
                          <p>({{food.hctitle}})</p>
                        </ion-item>
                        <ion-item text-wrap class="lineItem">
                          <p class="subItem">Item Price: <i class="rupee fa fa-rupee"></i> {{food.ticketprice}}</p>
                          <p class="subItem">Total Price: <i class="rupee fa fa-rupee"></i> {{food.totalPirce}}</p>
                        </ion-item>
                      </ion-col>
                      <ion-col col-3 class="imgDImg">
                        <img src="assets/imgs/TicketIconRed.png" />
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-6>
                        <ion-row>
                          <ion-col col-4>
                            <ion-fab right><button (click)="onDecrement(2,food.ticketId,food.ticCount)" ion-fab class="fabColor" mini>
                                <ion-icon md="md-remove"></ion-icon>
                              </button></ion-fab>
                          </ion-col>
                          <ion-col col-4 text-center>
                            <ion-input class="countinput" [(ngModel)]="food.ticCount" type="number" min="0" max="10" disabled="true" text-center></ion-input>
                          </ion-col>
                          <ion-col col-4>
                            <ion-fab><button (click)="onIncrement(2,food.ticketId,food.ticCount)" ion-fab class="fabColor" mini>
                                <ion-icon md="md-add"></ion-icon>
                              </button></ion-fab>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col class="rmBtnCol">
                        <ion-icon name="trash" (click)="DeleteAllTicket(2,food.ticketId,food.ticCount)"></ion-icon>
                      </ion-col>
                    </ion-row>
                </ion-card>
                <div class="addmore" (click)="AddMore(2)">Add More Item</div>
            </ion-card>
            <ion-card >
                <ion-card-header>
                    Paid Attractions
                </ion-card-header>
                <ion-card *ngFor="let pdAttr of item.paidAttr">
                    <ion-row>
                      <ion-col col-9>
                        <ion-item text-wrap class="lineItem">
                          {{pdAttr.ticketname}}
                          <p>({{pdAttr.hctitle}})</p>
                        </ion-item>
                        <ion-item text-wrap class="lineItem">
                          <p class="subItem">Item Price: <i class="rupee fa fa-rupee"></i> {{pdAttr.ticketprice}}</p>
                          <p class="subItem">Total Price: <i class="rupee fa fa-rupee"></i> {{pdAttr.totalPirce}}</p>
                        </ion-item>
                      </ion-col>
                      <ion-col col-3 class="imgDImg">
                        <img src="assets/imgs/TicketIconRed.png" />
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-6>
                        <ion-row>
                          <ion-col col-4>
                            <ion-fab right><button (click)="onDecrement(3,pdAttr.ticketId,pdAttr.ticCount)" ion-fab class="fabColor" mini>
                                <ion-icon md="md-remove"></ion-icon>
                              </button></ion-fab>
                          </ion-col>
                          <ion-col col-4 text-center>
                            <ion-input class="countinput" [(ngModel)]="pdAttr.ticCount" type="number" min="0" max="10" disabled="true" text-center></ion-input>
                          </ion-col>
                          <ion-col col-4>
                            <ion-fab><button (click)="onIncrement(3,pdAttr.ticketId,pdAttr.ticCount)" ion-fab class="fabColor" mini>
                                <ion-icon md="md-add"></ion-icon>
                              </button></ion-fab>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col class="rmBtnCol">
                        <ion-icon name="trash" (click)="DeleteAllTicket(3,pdAttr.ticketId,pdAttr.ticCount)"></ion-icon>
                      </ion-col>
                    </ion-row>
                </ion-card>
                <div class="addmore" (click)="AddMore(3)">Add More Item</div>
            </ion-card>
        </div>
    </div>
    <div class="noDataOuter" *ngIf="nodataAvailable">
        <div class="noDataInner">
            No Items In Cart
        </div>
        <!-- <p>Data not available</p> -->
    </div>
</ion-content>
<ion-footer class="cartFooter">
  <ion-row>
    <ion-item col-7 text-center>
      <p class="prcdt">Price details</p>
      <i class="rupee fa fa-rupee"></i> {{TotalTPrice()+TotalFPrice()+TotalPAPrice()}}
      <p class="inctax">(Inclusive of all taxes)</p>
    </ion-item>
    <ion-col col-5 class="contdbtn">
      <button ion-button full (click)="Continue()" [disabled]="nodataAvailable || TotalTPrice() == 0">Continue</button>
    </ion-col>
  </ion-row>
</ion-footer>
