page-cart {
    input::-webkit-inner-spin-button, 
    input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    .button-md{
        background-color: #f04141;
    }
    // .bkgclr{
    //     background-color: rgb(182, 182, 182)!important;
    // }
    ion-content{
        background-color: #f3f3f3!important;
        ion-list-header{
            color: black!important;
        }
        ion-card-header{
            padding: 7px!important;
            background-color: #d6d6d6;
        }
    }
    .lineItem{
      color: black!important;
      margin-top: -8px;
      margin-left: -10px;
      div{
        div{
          ion-label{
              margin: 10px 0px 5px 2px;
          }
        }
      }
    }
    .rupee{
        font-size: small!important;
    }
    .subItem{
        font-weight: bold;
    }
    ion-footer{
        ion-row{
            ion-item{
                color: black!important;
                .prcdt{
                    font-size: 15px;
                    font-weight: bold;
                }
                .inctax{
                    font-size: 12px;
                    color: red;
                }
            }
        }
    }
    .rmBtn{
        background-color: #dcdcdc;
        color: black;
    }
    .countinput{
        width : 25px!important;
    }
    .fab[mini]{
        width: 25px!important;
        height: 25px!important;
    }
    .fab ion-icon{
        font-size: 1.8rem!important;
    }
    .fabColor{
        background-color: #dcdcdc;
        color: black;
    }
    .imgDImg{
        img{
            width: 60px;
            height: 60px;
            margin: auto;
            margin-top: 10px;
        }
    }
    .rmBtnCol{
        text-align: right;
        ion-icon{
            font-size: 40px;
            margin-right: 22px;
            color: #787676;
        }
    }
    .noDataInner{
        top: 40%;
        left: 33%;
        font-size: 4vw;
        position: absolute;
    }
    .noDataOuter{
        background:#fff;
        height: -webkit-fill-available;
    }
    .addmore{
        padding: 10px 0px 0px 0px;
        color: #488aff;
        font-weight: 700;
        font-size: 1.4rem;
        border-bottom: 1px solid #488aff;
        width: max-content;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .contdbtn{
        margin: auto;
    }
    // ion-row{
    //     ion-col{
    //         ion-fab{
    //             button{
    //                 margin: 0px !important;
    //             }
    //         }
    //         ion-input{
    //             input{
    //                 width: 100% !important;
    //                 margin: 2px 2px !important;
    //             }
    //         }
    //     }
    // }
}

.ios{
    .cartFooter{
        .contdbtn{
            margin: 0;
            background-color: white;
            .button{
                background-color: #f04141;
            }
        }
    }
    input::-webkit-inner-spin-button, 
    input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    .addQuantity{
        padding-left: 5px;
    }
}