page-profile {

	.imgDiv{
		height: 40vw;
		// background: -webkit-gradient(linear, left top, right bottom, color-stop(31%, #ff7979), color-stop(93%, #b80000));
		background: linear-gradient(to bottom right, #ff7979 31%, #b80000 93%);
		padding-top: 2vw;
	}
	.profilePic{
		border-radius: 50%;
		width: 35vw;
		height: 35vw;
		img{
			border-radius: 50%;
			width: 35vw;
			height: 35vw;
		}
	}
	.saveBtn{
		background: transparent;
        box-shadow: none;
        font-size: 4vw !important;
	}
	.checkItem{
		color:#999 !important;
		padding-left:0px !important;
	}
	.checkLabel{
		color: #999;
		font-size: 3.2vw !important;
	}
	.allItem{
		padding-left:0px !important;
		border-bottom:1px solid #ddd;
	}
	.formDiv{
		padding-left:3vw;
		padding-right:3vw;
	}
	// .item.item-md .checkbox-md {
	//     position: static;
	//     display: block;
	//     margin: 9px 10px 12px 4px;
	// }
	.item-md.item-block .item-inner {
		border-bottom:none !important;
	}
	.username{
		color:#fff;
		font-weight: 500;
        font-size: 5vw;
	}
	.headLabel{
		font-size: 3.2vw !important;
	}
	.checkLabelInner{
		font-size: 3.4vw !important;
	}
	.item-md .radio-md[item-left], .item-md .radio-md[item-start] {
	    margin: 10px 10px 11px 4px;
	}
	.item-label-stacked .text-input-md, .item-label-floating .text-input-md {
		color:black;
	}
	.item-label-stacked ion-datetime, .item-label-floating ion-datetime {
		color:black;
	}
	.btnSave{
		width: -webkit-fill-available;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.camIcon{
		color: #1d77ab;
	    background-color: #e0e0e0;
	    width: 7vw;
	    height: 7vw;
	    font-size: 5vw;
	    padding: 1vw;
	    border-radius: 50%;
	}
	.divIcon{
		padding: 1vw;
	    position: relative;
	    bottom: 7vw;
	    left: 7vw;
	}

}
