<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="redcolorHeader">

  <ion-navbar color='header'>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Profile
		</ion-title>
		<!-- <ion-buttons end>
				<button ion-button (click)="saveProfile(profileform)" [disabled]="profileForms.invalid">SAVE</button>
			</ion-buttons> -->
	</ion-navbar>

</ion-header>


<ion-content>
    <div class="imgDiv" text-center>
			<ion-avatar item-start>
		<ion-img  class="profilePic" src="{{proImage}}"></ion-img>
		<div class="divIcon"><ion-icon name="camera" (click)="selectImg()" class="camIcon"></ion-icon></div>
		</ion-avatar>
	</div>
	<form novalidate [formGroup]="profileForms">
	<div class="formDiv">
		<ion-list >
		  	<ion-row>
		  		<ion-col col-12>
		  			<ion-item class="allItem">
					    <ion-label class="headLabel" stacked>First Name</ion-label>
					    <ion-input type="text" [(ngModel)]="profileform.firstname" formControlName="firstname" required></ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-12>
					<ion-item class="allItem">
					    <ion-label class="headLabel" stacked>Last Name</ion-label>
					    <ion-input type="text" [(ngModel)]="profileform.lastname" formControlName="lastname" required></ion-input>
					</ion-item>
				</ion-col>
		    </ion-row>

		  <ion-item class="allItem">
		    <ion-label class="headLabel"  stacked>Email</ion-label>
		    <ion-input type="text" [(ngModel)]="profileform.email" formControlName="email" placeholder="e.g xyz@abc.com" required></ion-input>
		  </ion-item>

		  <ion-item class="allItem">
		    <ion-label class="headLabel"  stacked>Mobile Number</ion-label>
		    <ion-input [disabled]="true" type="tel" maxlength="10" [(ngModel)]="profileform.mobile" formControlName="mobile" required></ion-input>
		  </ion-item>

		 
		    <ion-label class="checkLabel" stacked>Gender</ion-label>
	          <ion-row radio-group [(ngModel)]="profileform.gender" formControlName="gender">
	         	<ion-col col-6>
				  <ion-item class="checkItem">
					  
					  <ion-radio  color="danger" value="1" item-left required></ion-radio>
					  <ion-label class="checkLabelInner">Male</ion-label>
				  </ion-item>
				</ion-col>

				<ion-col col-6>
					<ion-item class="checkItem">
					  
					  <ion-radio color="danger" value="2" item-left required></ion-radio>
					  <ion-label class="checkLabelInner">Female</ion-label>
					</ion-item>
				</ion-col>
			  </ion-row>
		

		  <ion-item class="allItem">
		    <ion-label class="headLabel" stacked>Birthday</ion-label>
		    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="profileform.bdate" formControlName="bdate" required></ion-datetime>
		  </ion-item>

		  <!-- ion-label class="checkLabel" stacked>Married?</ion-label>
	          <ion-row radio-group [(ngModel)]="profileform.radioMarried" formControlName="radioMarried">
	         	<ion-col col-6>
				  <ion-item class="checkItem">
					  
					  <ion-radio value="yes" item-left required></ion-radio>
					  <ion-label class="checkLabelInner">Yes</ion-label>
				  </ion-item>
				</ion-col>

				<ion-col col-6>
					<ion-item class="checkItem">
					  
					  <ion-radio value="no" item-left required></ion-radio>
					  <ion-label class="checkLabelInner">No</ion-label>
					</ion-item>
				</ion-col>
			  </ion-row> -->
			

		</ion-list>
	</div>
	       
    </form>
			

</ion-content>
<ion-footer>
				
				<button ion-button color="danger" class="btnSave" (click)="saveProfile(profileform)" [disabled]="profileForms.invalid" full>SAVE</button>
		
			</ion-footer>