<!-- Generated template for the SwipeTabComponent component -->
<!-- <div *ngIf='array.length>0'> -->

	<ion-scroll scrollX="true" class="headScroll">
		<ion-segment [(ngModel)]="relationship" color="primary">
			<ion-segment-button class='segButton' *ngFor='let item of tabs' value="{{item.tabId}}" (ionSelect)='tabChanged(item)'>
			<div id='content-{{item.tabId}}'>
			  {{item.tabLabel}}
			</div>
			</ion-segment-button>
		</ion-segment>
	</ion-scroll>

	<ion-slides (ionSlideDidChange)='slideChanged()'>
		<ion-slide *ngFor='let content of tabs'>
			<div>
				<!-- <p>{{content.subContentTitle}}</p> -->
				<img [src]="content.contentImg" src-fallback="{{ placeholder }}" (loaded)="onLoaded($event)">
				<h1 class='cHead'>{{content.contentHead}}</h1>
				<hr>
				<!-- <h3 class='csHead'>{{content.subContentHead}}</h3>
				<h4 class='csTitle'>{{content.subContentTitle}}</h4> -->
				<p class='csAns'>{{content.subContentP1}}</p>
				<!-- <h5 class='csQues'>{{content.subContentQues}}</h5>
				<p class='csAns'>{{content.subContentAns}}</p>
				<p class='csAns'>{{content.subContentP2}}</p>
				<p class='csAns'>{{content.subContentP3}}</p>
				<p class='csAns'>{{content.subContentP4}}</p> -->
			</div>
		</ion-slide>
	</ion-slides>

<!-- </div> -->