swipe-tab {

    .headScroll {
        position: relative;
        display: block;
        width: 100vw !important;
        height: 42px !important;
        top: 10% !important;
    }

    .segButton{
        width: auto !important;
    }

    .slide-zoom {
        text-align: left !important;
        display: block;
        width: 100%;
    }

    .cHead{
        color: red;
        text-align: center !important;
        font-weight: 300 !important;
        font-size: 16px !important;
    }

    .csHead{
        padding-left: 16px;
        font-weight: 300 !important;
        font-size: 16px !important;
    }

    .csTitle{
        padding: 0px 16px;
        font-weight: 300 !important;
        text-align: justify;
        font-size: 16px !important;
    }

    .csQues{
        padding: 0px 16px;
        font-weight: 300 !important;
        text-align: justify;
        font-size: 16px !important;
    }

    .csAns{
        padding: 0px 16px;
        font-weight: 300 !important;
        text-align: justify;
        font-size: 16px !important;
    }

}
