<!-- Generated template for the ScrollableTabComponent component -->
<div class="scroll-tabs">
  <ion-scroll #scrollTab class="scroll-container" scrollX="true">
    <div class="section" *ngFor="let tab of tabs">
      <button class="tab9-button" [class.three]="tabs.length<=3" [class.selected]="tab.selected" ion-button small clear (click)="tabChange(tab)">
        {{tab.name}}
      </button>
    </div>
  </ion-scroll>
</div>