<!--
  Generated template for the ModalpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='header'>
    <ion-title class='title'>Congratulations!</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>
  <p>Dear {{name}}, your account has been credited with {{value}} points</p>
</ion-content>
