<!--
  Generated template for the GroupsNschoolsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="redcolorHeader">

		<ion-navbar color='header'>
			<button class='buttonMenu' ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title class='title'>Group & Schools</ion-title>
			<ion-buttons>
				<button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
					<!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
					<ion-icon ios="ios-cart" md="md-cart"></ion-icon>
				</button>
			</ion-buttons>
			<ion-buttons right>
				<button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
					<ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
					<ion-icon name="md-notifications" item-end></ion-icon>
				</button>
			</ion-buttons>
		</ion-navbar>

</ion-header>


<ion-content padding>

		<!-- <div *ngIf="groups.length > 0 && !nodataAvailable">
			<swipe-tab [tabs]='groups'></swipe-tab>
		</div>

		<div class="noDataOuter" *ngIf="nodataAvailable">
		<div class="noDataInner">
			No Data Available
		</div>
		
	</div> -->
	<div *ngIf="groups.length > 0 && !nodataAvailable">
	<ion-card class="rideCard" *ngFor="let groups of groups">
		<img class="contentImg" (click)="gotogroupsDetails(groups)" [src]="groups.contentImg"/>
		<ion-card-content>
			<ion-card-title (click)="gotogroupsDetails(groups)">
				{{groups.contentHead}}
			   
			</ion-card-title>

					<p [innerHTML] = "groups.subContentP1 | slice:0:100 | safeHtml" (click)="gotogroupsDetails(groups)">
						
					</p>
					<!-- <span>{{groups.subContentP1.length > 100 ? 'view more' : '' }}</span> -->

				
			  <div (click)="gotogroupsDetails(groups)" text-center>
					<!-- <a>view more</a> -->
					<a>{{groups.subContentP1.length > 100 ? 'view more' : '' }}</a>
			  </div>
		</ion-card-content>
	  </ion-card>
	</div>	
	<!-- <ion-fab bottom right>
			<button ion-fab mini><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></button>
		</ion-fab>	 -->
</ion-content>
