<ion-header>
	<ion-navbar color='header'>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Registration
		</ion-title>
		<!-- <ion-buttons end>
				<button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
			</ion-buttons> -->
	</ion-navbar>
</ion-header>


<ion-content padding>
	<div class="imgDiv" text-center>
		<ion-img class="imgs" width="80" height="80" src="../assets/imgs/user-blank.PNG"></ion-img>
	</div>
	<div>
		<ion-list class="mainList">
			<ion-item>
				<!--  <ion-label stacked>Username</ion-label> -->
				<ion-input type="text" [(ngModel)]="registrationVal.fullname" placeholder="Full Name"></ion-input>
			</ion-item>

			<ion-item>
				<!--  <ion-label stacked>Username</ion-label> -->
				<ion-input type="text" [(ngModel)]="registrationVal.email" placeholder="Email"></ion-input>
			</ion-item>

			<ion-item>
				<!-- <ion-label stacked>Username</ion-label> -->
				<ion-input type="text" [(ngModel)]="registrationVal.phonenumber" placeholder="Mobile No."></ion-input>
			</ion-item>

			<ion-item>
				<!-- <ion-label stacked>Username</ion-label> -->
				<ion-input type="text" [(ngModel)]="registrationVal.password" placeholder="Password"></ion-input>
			</ion-item>

			<ion-item>
				<!-- <ion-label stacked>Username</ion-label> -->
				<ion-input type="text" [(ngModel)]="registrationVal.conpassword" placeholder="Confirm Password"></ion-input>
			</ion-item>

			<ion-item>
				<!-- <ion-label stacked>Username</ion-label> -->
				<!-- <ion-input type="text" [(ngModel)]="registrationVal.gender" placeholder="Gender"></ion-input> -->
				<ion-select [placeholder]="Gender" [(ngModel)]="registrationVal.gender">
				    <ion-option value="f">Female</ion-option>
				    <ion-option value="m">Male</ion-option>
				  </ion-select>
			</ion-item>

			<!--  <ion-item>
		    <button ion-button block class="regBtn">SUBMIT</button>
		</ion-item> -->

		</ion-list>
	</div>

</ion-content>
<ion-footer>
	<button ion-button block class="regBtn" (click)="submitRegform(registrationVal)">SUBMIT</button>
</ion-footer>