page-registration {
	.mainDiv{
		// background: linear-gradient(to bottom right, #488aff 31%, #66ccff 93%);
	}

	.list-md .item-block .item-inner {
    border-bottom: none !important;
   }

   .item-input ion-input, .item-input ion-textarea {
	    position: static;
	    border: 2px solid #ddd;
	    border-radius: 4px;
	}

	.item-md{
		padding-top:16px !important;
		padding-left:0px !important;
	}

	.mainList{
		padding-left: 8px;
	}

	.text-input::-moz-placeholder {
	  color: #ddd;
	}

	.text-input:-ms-input-placeholder {
	  color: #ddd;
	}

	.text-input::-webkit-input-placeholder {
	  text-indent: 0;
	  color: #ddd;
	}

	.regBtn{
		    height: 50px !important;
		    font-size: 1.6rem !important;
		    background-color: orangered;
		    margin-bottom: 0px;
	}

	.label-md {
	    margin: 0;
	}

	.imgs{
		border-radius:50%;
	}
	.imgDiv{
		   // padding-top: 24%;
	}
	.text-input-md {
		color:black !important;
	}
	ion-select{
		max-width:100% !important;
	}
	.select-md {
	    padding: 13px 8px 13px 16px;
	    width: 100%;
	    border: 2px solid #ddd;
	    border-radius: 4px;
	}

}
