page-otp {

    .otpContent{
        // background: #efefef;
       background: #f53d3d;
        //background: linear-gradient(to bottom right, #488aff 58%, #ffffff 104%);
    }

    .otpContent .scroll-content{
        padding: 0px !important;
    }

    .Head{
        margin-top: 35px !important;
        text-align: center;
        // color: #000;
        color: #fff;
        font-size: 1.8rem;
    }

    .subHead{
        text-align: center;
        // color: #000;
        color: #fff;
        font-size: 1.3rem;
        margin-top: 0 !important;
        //width: 80%
    }

    .divContent{
        border: 1px solid #000;
        border-radius: 50px;
        background-color: #000;
        height: 35px;
        width: 175px;
        margin: auto;
    }

    .Ques{
        text-align: center;
        // color: #000;
        // font-size: inherit;
        // float: right;
        // padding-right: 5vw;
        //float: right;
       // padding-right: 5vw;
        color: #fff;
        font-size: 1.2rem;
    }

    #keyboard {  
        margin: 0;  
        padding: 0;  
        list-style: none;  
    }  

    .head2{
        // color: #000;
        color: #fff;
    }
            
    .pincode{
        max-width:500px;
        ion-input{
            border-bottom:1px solid #000;
        }
    }
    .item-inner {
        padding-right: 0px !important;
        border-bottom: none !important;
    }
    .border-bottom{
        color: #000;
        // border-bottom:1px solid #fff !important;
        border-bottom: 3px solid #ffbd48 !important;
    }

    .border-bottom .item-inner .input-wrapper ion-label{
        margin-left: 2px;
        color: #fff;
    }

    .border-bottom.active{
        // border-bottom:1.5px solid color($colors, primary) !important;
        transition: 150ms cubic-bezier(0.4, 0, 1, 1);
        border-bottom: 3px solid #ffbd48 !important;
    }

    .loginbtn{
        button.active{
            //background-color:color($colors, primary);
            color:#fff;
        }
    }
    
    .center-vertical {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .center-vertical > * {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .button-stretch {
        width: 100%;
    }
    
    .col-offset-15 {
        margin-left: 15%;
    }
    .pinnumber{
        ion-item{
            background: transparent;
        }
        height:calc(100% - 80%);
        padding:13vw;
        ion-col{
            ion-item{
                    height: 100%;
            }
        }
        ion-row{
                position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        ion-note{
            .password{
                margin:0px;
                background-color:transparent;
                font-size: 1.5rem;
                .item-inner{
                    margin:0px;
                }
            }
        }
    }
    .numberpad{
        // position:fixed;
        bottom:0;
        width:100%;
        padding:13vw;
        ion-row{
            padding:0;
    
            ion-col{
                padding:0;
                button{
                    //background-color: #fff;
                    //color: #000;
                    text-align:center;
                    min-height:56px;
                    //border-left: none !important; 
                    //border-right: 2px solid #efefef !important;
                    //border-top: 2px solid #efefef !important;
                    //border-bottom: 1px solid #efefef !important;
                }
            }
        }
    }
    .eye{
        margin-top: 16px !important;
        font-size: 2.5rem;
    }
    .logButton{
        //background-color:#fff;
        //color:#488aff;
            color: transparent;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        position: unset;
    }

    .pL0{
        padding-left:0px !important
    }

}

.ios{
    .Head{
        margin-top: 10px !important;
    }
     .numberpad ion-row ion-col button{
       color: #fff;
       background: #f53d3d;
     }
     .pinnumber{
        padding:10px;
        height:calc(100% - 79%);
        margin: 0;
        .showHide{
            padding:0 16px!important;
            .innershowHidw{ 
                .label-ios{
                    margin:11px 30px 13px 0!important;
                }
                .ion-note{
                    margin: 0!important;
                }
            }
        }
     }
    //  .showHide{
    //     .item-ios [item-right], .item-ios [item-end]{
    //         margin: 0!important;
    //     }
    //     .innershowHidw .label-ios{
    //         margin:11px 30px 13px 0!important;
    //     }
    //  }
}
