<!--
  Generated template for the OtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="redcolorHeader">

  	<ion-navbar color='header'>
    	<ion-title></ion-title>
  	</ion-navbar>

</ion-header>


<ion-content padding class='otpContent'>

    <h4 class='Head'>Verification Code</h4>

    <h5 class='subHead'>Please type verification code sent to your registered mobile number.</h5>

    <br>

	<ion-list class="pinnumber" [class.animated]="authPassFlag" id="confirmpincode" *ngIf="authPassFlag==true">
	
		<ion-row text-center padding class="showHide">
			<ion-item no-lines class="innershowHidw">
				<!-- <h2><strong class="head2">Enter OTP</strong></h2> -->
				<ion-note item-end>
					<button ion-item no-padding no-margin class="password head2" *ngIf="!pinshow" (click)="showpassword()">
						<ion-icon class="eye" ios="ios-eye" md="md-eye" item-start no-margin></ion-icon>
						Show
					</button>
					<button ion-item no-padding no-margin class="password head2" *ngIf="pinshow" (click)="hidepassword()">
						<ion-icon class="eye" ios="ios-eye-off" md="md-eye-off" item-start no-margin></ion-icon>
						Hide
					</button>
				</ion-note>
			</ion-item>
			<ion-col col-2>
				<ion-item no-lines class="border-bottom pL0" [class.active]="confirmpin.length == 0" text-center>{{confirmpin.substring(0, 1)}}</ion-item>
				
			</ion-col>
			<ion-col col-2>
				<ion-item no-lines class="border-bottom pL0" [class.active]="confirmpin.length == 1" text-center>{{confirmpin.substring(1, 2)}}</ion-item>
				
			</ion-col>
			<ion-col col-2>
				<ion-item no-lines class="border-bottom pL0" [class.active]="confirmpin.length == 2" text-center>{{confirmpin.substring(2, 3)}}</ion-item>
				
			</ion-col>
			<ion-col col-2>
				<ion-item no-lines class="border-bottom pL0" [class.active]="confirmpin.length == 3" text-center>
				{{confirmpin.substring(3, 4)}}</ion-item>
			</ion-col>
			<ion-col col-2>
				<ion-item no-lines class="border-bottom pL0" [class.active]="confirmpin.length == 4" text-center>{{confirmpin.substring(4, 5)}}</ion-item>
				
			</ion-col>
			<ion-col col-2>
				<ion-item no-lines class="border-bottom pL0" [class.active]="confirmpin.length == 5" text-center>{{confirmpin.substring(5, 6)}}</ion-item>
				
			</ion-col>

			<ion-item>
				<ion-note item-end>
					<h6 class='Ques' (click)="resendOTP()">Resend OTP ?</h6>
				</ion-note>
			</ion-item>

			
		</ion-row>
	</ion-list>

	

	<div class="numberpad">
		<ion-row>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(1)" no-padding no-lines detail-none>1</button>
			</ion-col>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(2)" no-padding no-lines detail-none>2</button>
			</ion-col>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(3)" no-padding no-lines detail-none>3</button>
			</ion-col>


		</ion-row>
		<ion-row>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(4)" no-padding no-lines detail-none>4</button>
			</ion-col>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(5)" no-padding no-lines detail-none>5</button>
			</ion-col>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(6)" no-padding no-lines detail-none>6</button>
			</ion-col>
			

		</ion-row>
		<ion-row>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(7)" no-padding no-lines detail-none>7</button>
			</ion-col>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(8)" no-padding no-lines detail-none>8</button>
			</ion-col>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(9)" no-padding no-lines detail-none>9</button>
			</ion-col>
			

		</ion-row>
		<ion-row >
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch"  no-padding (click)="delete()" detail-none>
					<ion-icon ios="ios-backspace" md="md-backspace"></ion-icon>
				</button>
			</ion-col>
			<ion-col col-4>
				<button ion-item class="button button-light button-stretch" (click)="add(0)" no-padding detail-none>0</button>
			</ion-col>
			<ion-col col-4 class="loginbtn">
				<!-- <button ion-item class="button button-light button-stretch" *ngIf="!authPassFlag" no-padding (click)="authenticate()" [class.active]="passcode.length == 4" detail-none>
					<ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
				</button> -->
				<!-- <button ion-item class="button button-light button-stretch logButton" *ngIf="authPassFlag" no-padding (click)="login()" [class.active]="confirmpin.length == 6" detail-none>
					LOGIN
				</button> -->
				
			</ion-col>
			
		</ion-row>

	</div>

</ion-content>
