<!-- <ion-header color="red">

  <ion-navbar color='header'>
    <button class='buttonMenu' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align-self-start color="white">EsselWorld</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-list class='fullWidth' *ngFor='let item of homelist; let i = index'>
    <div (click)="gotoEW(i)">
      <img class="titleimg" [src]="item.imgPath" />
      <ion-item>
        <h1 class="head1">
          {{item.cardHeader}}
        </h1>
        <p class="para">
          {{item.cardBody}}
        </p>
      </ion-item>
    </div>
    <ion-row no-padding>
      <ion-col class='align'>
        <button ion-button clear small color="danger" icon-start (click)="booking(i)">
          <img class="img1" src="assets/imgs/TicketIcon.png">&nbsp;
          Book Ticket
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start (click)="goToOffers()">
          <img class="img1" src="assets/imgs/offerIcon.png">&nbsp;
          Offers
        </button>
      </ion-col>
    </ion-row>
    <br>
  </ion-list>
</ion-content> -->

<!-- <ion-header class="header">
  <ion-toolbar color="red">
    <ion-buttons slot="start" color="white">
      <ion-menu-button color="white"></ion-menu-button>
    </ion-buttons>
    <ion-title align-self-start color="white">
      esselworld
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header color="red">

  <ion-navbar color='red'>
    <button class='buttonMenu' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align-self-start color="white">EsselWorld</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="mainDiv">
  <ion-card class="banner">
    <div class="bannimage">
      <img src="/assets/imgs/Home-banner6.png">
    </div>
    <ion-card-header (click)="goToHomeCategories()">
      <ion-card-title text-center>Book Now</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6" (click)="gotoEW(0)">
        <div class="imageDiv">
          <img src="/assets/imgs/ewNew.png">
        </div>
      </ion-col>

      <ion-col size="6" (click)="gotoEW(1)">
        <div class="imageDiv">
          <img src="/assets/imgs/wkNew1.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="imageDiv" (click)="gotoEW(2)">
          <img src="/assets/imgs/bpNew.png">
        </div>
      </ion-col>

      <ion-col class="txtdiv" size="6">
        <div class="txtinner" (click)="goToEvents()">
          <p>EVENTS</p>
        </div>
        <div class="txtinner" (click)="goToOffers()">
          <p>OFFERS</p>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</div>
</ion-content>
