
*{
	font-family: 'Helvetica';
}
ion-content{
--background: #efefef;
}
.header ion-title{
padding: 0;
}
.header ion-back-button{
padding: 0;
margin: 0;
}
.mainDiv{
margin: auto;
max-width: 600px;
}
.banner{
background: #fff;
margin: 16px 12px 2px 12px;
box-shadow: none;
border: 1px solid #dad8d8;
}
.banner img{
width: 100%;
height: 100%;
overflow: hidden;
object-fit: cover;
}
.banner ion-card-title{
font-size: 31px;
font-weight: 600;
}
.imageDiv,.txtdiv {
height: 28vh;
}
.imageDiv img {
	width: 100%;
	height: 100%;
	border-radius: 7px;
	border: 1px solid #dad8d8;
}

.txtdiv .txtinner:first-child{
margin-bottom: 8px;
}
.txtinner{
margin-bottom: 8px;
position: relative;
border: 1px solid #dad8d8;
text-align: center;
border-radius: 5px;
background: #fff;
height: 133px;
}
.txtinner p{
margin: 0px 0;
text-align: center;
font-size: 28px;
background: #fff;
position: absolute;
transform: translate(-50%,-50%);
width: 100%;
top: 50%;
left: 50%;
}

.grid{
	    padding: 5px 5px 5px 10px;
}


@media only screen and (min-width: 768px) {
.banner ion-card-header{
	padding: 0;
}
.bannimage{
	height: 31vh;
}
.imageDiv{
	height: 25vh;
}
.txtinner{
	height: 12vh;
}
}

@media only screen and (max-width: 480px) {
.imageDiv{
	height: 176px;
}
.txtinner{
	height: 83px;
}
.txtinner p{
	font-size: 21px;
}
.banner ion-card-title{
	font-size: 23px;
	padding: 0;
}
}


@media only screen and (max-width: 384px) {
.banner ion-card-header{
padding: 5px 16px;
}
.txtinner p{
	font-size: 17px;
}
}
@media only screen and (max-width: 320px) {
	.banner{
		margin: 8px 12px 0px 12px;
	}
.banner ion-card-title{
	font-size: 21px;
}
.txtinner p{
	font-size: 15px;
}
}


@media (max-height: 823px) {
.bannimage{
	height: 26vh;
}
.imageDiv{
	height: 27vh;
}
.txtinner{
	height: 13vh;
}
}

@media (max-height: 812px) {
.bannimage{
	height: 27vh;
}
}
@media (max-height: 736px) {
.bannimage{
	height: 24vh;
}
}
@media (max-height: 640px) {
.bannimage{
	height: 23vh;
}
}
@media (max-height: 568px) {
.bannimage{
	height: 22vh;
}
.txtinner {
height: 12.6vh;
}
}

// CSS By Harsh
.mainDiv {
	background: #ffffff;   // #efefef;
}
ion-content[_ngcontent-lbm-c0] {
    --background: #efefef;
}

.toolbar-md-header .toolbar-background-md {
    background: #f04141 !important;
}

.txtinner[_ngcontent-lbm-c0] {
    margin-bottom: 8px;
    position: relative;
    border: 1px solid #dad8d8;
    text-align: center;
    border-radius: 5px;
    background: #f9f9f9;
    height: 133px;
}

.content-md {
    color: #000;
    background-color: #ffffff;
}



