page-reward {
    font-family: 'helvetica' !important;
    font-weight: normal !important;
   
    .imgdiv{
        text-align: center;
        margin-top: 2vh;
        img {
            max-width: 30%;
            border: 0;
        }
    }
    .super_pay{
        text-align: center;
        font-size: 20px;
    }
    .pay{
        text-align: center;
        font-family: 'helvetica' !important;
        font-weight: normal !important;

    }
    .topgroup{
        margin-left: 0vw;
        margin-top: 2vh;
        text-align: center;
    }
    .history_table{
        margin-top: 0vh;
        text-align: center;
    }
    .subtext{
        font-family: 'helvetica' !important;
        font-weight: normal !important;
    }
    .success-row{
        color: green;
        border-bottom: black 1px solid;
    }
    .success{
        text-align: right;
        font-size: 15px !important;
        color: green;
    }
    
    .failure{
        text-align: right;
        font-size: 15px !important;
        color: red;
    }

    .qrcode{
        img{
            height: 30vh;
            width: 50vw;
        }
    }
}
