<!--
  Generated template for the RewardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="redcolorHeader">

  <ion-navbar color='header' no-border>
    <button class='button' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>REWARD CENTER</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <div class="super_pay">
        <span class="pay">Available Points</span>      
    </div>
    <div class="imgdiv">
      <img src="assets/imgs/coins.png" alt="">
    </div>
    <div class="topgroup">
      
      <h1 class="amount">{{value}}</h1>    
    </div>

    <div class="history_table">
        <!-- <ion-grid>
            <ion-row class="success-row">
              <ion-col col-6>Signup</ion-col>
              <ion-col col-6 class="success"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{totalAmount}}</ion-col>
            </ion-row>
          </ion-grid> -->
          <ngx-qrcode class="qrcode" [qrc-value]='mobile'></ngx-qrcode>
          <span class="subtext">Scan this QR at F&B, Merchandize or Paid Attractions Outlets and redeem points</span>
    </div>
</div>    
</ion-content>
