page-ride {
	.card-title-md {
		display: block;
		font-size: 1.6rem;
		line-height: 1.2;
		color: #222;
		margin: 2px 0;
		padding: 8px 0;
	}

	.rideCard{
		// margin: 0 !important;
		// width: 100% !important;
		border-radius: 6px !important;
        //border: 1px solid #c7c5c5;
	}
	.rideImage{
		    height: 45vw;
		    width: 100%;
		    //border: 8px solid #fff;
		    //border-radius: 12px;
	}
	.card-md p1{
		    font-size: 4vw;
		    font-weight: 400;
		    // overflow: hidden;
	     //    text-overflow: ellipsis;
	     // white-space: nowrap;
	     //    -webkit-line-clamp: 2;

	          display: block;
			  display: -webkit-box;
			  // max-width: 100%;
			  // height: 43px;
			  // margin: 0 auto;
			  //font-size: 14px;
			  line-height: 1;
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			  overflow: hidden;
			  text-overflow: ellipsis;
            
	}
	.rideContent{
		//padding:0;
		//padding-bottom: 4px !important;
	}
	.headScroll {
        position: relative;
        display: block;
        width: 100vw !important;
        height: 42px !important;
        top: 0% !important;
        background: #fff;
    }

    .segButton{
        width: auto !important;
    }

    .slide-zoom {
        text-align: left !important;
        display: block;
        width: 100%;
    }
  
	ion-slides {
		display: block;
		width: 100%;
		height: -webkit-fill-available !important;
	}
	.slideContent{
		background:#eee;
	}
	.contentImg{
		width:100%;
		height: 60vw;
	}
	ion-content {
	    position: absolute;
	    background: #eee !important;
	}
	.noDataInner{
		top: 40%;
	    left: 33%;
	    font-size: 4vw;
	    position: absolute;
	}
	.noDataOuter{
		background:#fff;
		height: -webkit-fill-available;
	}

	.redClass{
		.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
			border-color: #ff0000;
			color: #ff0000;
			opacity: 1;
		}

		.segment-md-primary .segment-button {
			color: #f04141;
		}
		.button-md {
			border-radius: 2px;
			overflow: hidden;
			height: 3.6rem;
			font-size: 1.4rem;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			background-color: #fa1001;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			margin: 0.4rem 0.2rem;
			padding: 0 1.1em;
		}
	}

	.blueClass{
		.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
			border-color: #488aff;
			color: #488aff;
			opacity: 1;
		}

		.segment-md-primary .segment-button {
			color: #488aff;
		}
		.button-md {
			border-radius: 2px;
			overflow: hidden;
			height: 3.6rem;
			font-size: 1.4rem;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			background-color: #488aff;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			margin: 0.4rem 0.2rem;
			padding: 0 1.1em;
		}
	}

	.greenClass{
		.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
			border-color: #16910b;
			color: #16910b;
			opacity: 1;
		}

		.segment-md-primary .segment-button {
			color: #16910b;
		}
		.button-md {
			border-radius: 2px;
			overflow: hidden;
			height: 3.6rem;
			font-size: 1.4rem;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			background-color: #16910b;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			margin: 0.4rem 0.2rem;
			padding: 0 1.1em;
		}
	}
	@media only screen and (max-width: 384px) {
		.headScroll{
			height:32px!important;
		}
	}
}

.ios{
		.rideHeader{
			ion-buttons{
			  margin: 0!important;
			}
			.bar-button-ios{
				font-size: 1.3rem;
			}
		}
	
	.rideCard .button-ios{
		height:2.2em;
		font-size:1.4rem;
		padding:0 0.5em;
	}
	.redClass{
		.segment-ios-primary .segment-button.segment-activated{
			color: #fa1001;
			background-color: transparent;
			border-bottom-color: #fa1201;
		}
		.segment-ios-primary .segment-button{
			border-color: transparent;
			color: #fa1001;
			padding-left: 4px;
		}
		.rideCard .button-ios{
			background-color: #fa1001;
		}
		.segment-ios .segment-button:hover:not(.segment-activated){
			background-color: transparent!important;
		}
	}

	.blueClass{
		.segment-ios-primary .segment-button.segment-activated{
			color: #488aff;
			background-color: transparent;
			border-bottom-color: #488aff;
		}
		.segment-ios-primary .segment-button{
			border-color: transparent;
			color: #488aff;
			padding-left: 4px;
		}
		.rideCard .button-ios{
			background-color: #488aff;
		}
		.segment-ios .segment-button:hover:not(.segment-activated){
			background-color: transparent!important;
		}
	}

	.greenClass{
		.segment-ios-primary .segment-button.segment-activated{
			color: #16910b;
			background-color: transparent;
			border-bottom-color: #16910b;
		}
		.segment-ios-primary .segment-button{
			border-color: transparent;
			color: #16910b;
			padding-left: 4px;
		}
		.rideCard .button-ios{
			background-color: #16910b;
		}
		.segment-ios .segment-button:hover:not(.segment-activated){
			background-color: transparent!important;
		}
	}

}


