<!--
  Generated template for the RidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="rideHeader">

  <ion-navbar color={{ThemeC}}>
  	<button class='button' ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
		<ion-title>{{attraction}}</ion-title>
		<ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
		</ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>				
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
        
        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>			
  </ion-navbar>

</ion-header>

<!-- (ionScroll)="scrolling($event)" (ionScrollEnd)="scrollComplete($event)" -->
<ion-content [ngClass]="{redClass: red === true, greenClass: green == true, blueClass: blue == true}"> 
	<div *ngIf="!nodataAvailable">
		<ion-scroll *ngIf="rides.length>=1" scrollX="true" class="headScroll">
			<ion-segment mode="ios" [(ngModel)]="relationship" color="primary">
				<ion-segment-button mode="ios" class='segButton' *ngFor='let item of rides' value="{{item.lscid}}" (ionSelect)='tabChanged(item)'>
				<div id='content-{{lscid}}'>
				  {{item.lscname}}
				</div>
				</ion-segment-button>
			</ion-segment>
		</ion-scroll>

		<ion-slides (ionSlideDidChange)='slideChanged()'>
			<ion-slide class="slideContent" *ngFor='let content of rides'>
				<div *ngFor="let item of content.subRides">
					<!-- <ion-row>
						<ion-col col-6 *ngFor="let item of content.subRides">
							<ion-card class="rideCard" (click)="gotorideDetails(item.id,item.imgpath)">
							  <img class="rideImage" [src]="item.imgpath">
							  <ion-card-content class="rideContent" text-center>
							    <p>{{item.name}}</p>
							    <button ion-button>VIEW</button>
							  </ion-card-content>
							</ion-card>
						</ion-col>
					</ion-row> -->
					<!-- <ion-card class="rideCard" (click)="gotorideDetails(item.id,item.imgpath,item.name,item.desc,item.like,item.dislike)">
					  <ion-item>
					    <ion-avatar item-start>
					      <img [src]="item.imgpath">
					    </ion-avatar>
					    <h2>{{item.name}}</h2>
					    <p>{{item.desc}}</p>
					  </ion-item>
					</ion-card> -->
					

					  
					<ion-card class="rideCard">
					  <img class="contentImg" (click)="gotorideDetails(item)" [src]="item.imgpath"/>
					  <ion-card-content>
					      <ion-card-title>
					      	{{item.name}}
					      	<!-- <ion-row>
					      		<ion-col (click)="gotorideDetails(item)" col-6>
					      			{{item.name}}
					      		</ion-col>
					      		<ion-col col-6>
							      	<button *ngIf="scheduleBtn" (click)="gotoschedule(item)" ion-button>
							      		Add To Schedule
									</button>
					      		</ion-col>
					      	</ion-row> -->
					         
					      </ion-card-title>
						    <p (click)="gotorideDetails(item)">
						      {{item.desc | slice:0:90}}  {{item.desc.length > 50 ? '...' : '' }}
						    </p>
						    <div text-center>
							    <!-- <a>view more</a> -->
							    <button *ngIf="scheduleBtn" (click)="gotoschedule(item)" ion-button>
						      		Add To Schedule
								</button>
							</div>
					  </ion-card-content>
					</ion-card>
				</div>
			</ion-slide>
		</ion-slides>
	</div>

	<div class="noDataOuter" *ngIf="nodataAvailable">
		<div class="noDataInner">
			No Data Available
		</div>
		<!-- <p>Data not available</p> -->
	</div>

	<!-- <ion-fab bottom right>
		<button ion-fab mini><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></button>
	</ion-fab> -->

</ion-content>
