page-book-ticket {
	.cardContent{
		height:20vw !important;
	}
	.text-input-md {
		color:black !important;
		margin:0 !important;
		text-align: center;
		font-size: 22px;
	    font-weight: bold;
	}
	ion-card-header {
		background:linear-gradient(to bottom right, #488aff 31%, #66ccff 93%);
	}
	.card-header-md {
		color:#fff;
		padding:9px;
	}
	.goBtn{
		    height: 56px !important;
		    font-size: 1.6rem !important;
		    background-color: #E37222 !important;
		    margin-bottom: 0px;
	}
	.totalamt{
		font-size: 4vw;
	}

	ion-datetime {
		width:100%;
	}
	.datetime-md {
	   color: black !important;
       text-align: center;
       padding:0 !important;
	}
	.countItem{
		border-bottom:none !important;
	}
	.list-md .item-input:last-child {
	    border-bottom: none !important; 
	}
	.item-md.countInner .item-inner{
		border-bottom: none !important;
	}
	.countHeader{
		font-size: 2rem !important;
		font-weight:bold !important;
		color: #666;
	}
	.fabColor{
		background-color: #66B9BF !important;
	}
	.mainItem{
		padding-left:0px !important;
	}
	.item-md.item-block .item-inner {
	    padding-right: 0px !important;
	    border-bottom: 1px solid #dedede;
	}
	.label-md {
	    margin: 13px 0px 13px 0;
	}
	.fab[mini] {
		margin:0px !important;
	}

}
