<!--
  Generated template for the BookTicketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color='header'>
        <button class='button' ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class='title'>Book-Ticket</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
	<!-- <ion-card>
	  <ion-card-header>
	    Select Date
	  </ion-card-header>
	  <ion-card-content class="cardContent">
	    <div>
	    	<ion-item>
	    	 <ion-datetime displayFormat="DD-MMM-YYYY" [min]="date" [(ngModel)]="date"></ion-datetime>
	    	</ion-item>
	    </div>
	  </ion-card-content>
	</ion-card>
	<ion-card>
	  <ion-card-header>
	    Adult
	  </ion-card-header>
	  <ion-card-content class="cardContent">
	    <ion-row>
	    	<ion-col col-4>
	    		<ion-fab (click)="decrementAdult()" right>
				  <button ion-fab color="primary" mini><ion-icon md="md-remove"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    	<ion-col col-4>
	    		 <ion-item>
				    <ion-input type="number" disabled="true" [(ngModel)]="adultCount"></ion-input>
				  </ion-item>
	    	</ion-col>
	    	<ion-col col-4>
	    		<ion-fab (click)="incrementAdult()">
				  <button ion-fab color="primary" mini><ion-icon md="md-add"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    </ion-row>
	  </ion-card-content>
	</ion-card>

	<ion-card>
	  <ion-card-header>
	    Child
	  </ion-card-header>
	  <ion-card-content class="cardContent">
	     <ion-row>
	    	<ion-col col-4>
	    		<ion-fab (click)="decrementChild()" right>
				  <button ion-fab color="primary" mini><ion-icon md="md-remove"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    	<ion-col col-4>
	    		 <ion-item>
				    <ion-input type="number" disabled="true" [(ngModel)]="childCount"></ion-input>
				  </ion-item>
	    	</ion-col>
	    	<ion-col col-4>
	    		<ion-fab (click)="incrementChild()">
				  <button ion-fab color="primary" mini><ion-icon md="md-add"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    </ion-row>
	  </ion-card-content>
	</ion-card>

	<ion-card>
	  <ion-card-header>
	    Sr. Citizen
	  </ion-card-header>
	  <ion-card-content class="cardContent">
	     <ion-row>
	    	<ion-col col-4>
	    		<ion-fab (click)="decrementsrCitizen()" right>
				  <button ion-fab color="primary" mini><ion-icon md="md-remove"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    	<ion-col col-4>
	    		 <ion-item>
				    <ion-input type="number" disabled="true" [(ngModel)]="srCitizenCount"></ion-input>
				  </ion-item>
	    	</ion-col>
	    	<ion-col col-4>
	    		<ion-fab (click)="incrementsrCitizen()">
				  <button ion-fab color="primary" mini><ion-icon md="md-add"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    </ion-row>
	  </ion-card-content>
	</ion-card> -->

	<ion-list>
		<div text-center>
		  	<p class="countHeader">Select Date</p>
		 </div>

	  <ion-item class="mainItem">
	  	<h2>Select Date</h2>
	    <ion-datetime displayFormat="DD-MMM-YYYY" [min]="date" [(ngModel)]="date"></ion-datetime>
	  </ion-item>

	  <ion-item class="mainItem">
	  	<div text-center>
		  	<p class="countHeader">Adult</p>
		 </div>
	    <ion-row>
	    	<ion-col col-4>
	    		<ion-fab (click)="decrementAdult()" right>
				  <button ion-fab class="fabColor" mini><ion-icon md="md-remove"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    	<ion-col col-4>
	    		 <ion-item class="countInner">
				    <ion-input type="number" class="countItem" disabled="true" [(ngModel)]="adultCount"></ion-input>
				  </ion-item>
	    	</ion-col>
	    	<ion-col col-4>
	    		<ion-fab (click)="incrementAdult()">
				  <button ion-fab class="fabColor" mini><ion-icon md="md-add"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    </ion-row>
	  </ion-item>

	  <ion-item class="mainItem">
	  	<div text-center>
		  	<p class="countHeader">Child</p>
		 </div>
	    <ion-row>
	    	<ion-col col-4>
	    		<ion-fab (click)="decrementChild()" right>
				  <button ion-fab class="fabColor" mini><ion-icon md="md-remove"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    	<ion-col col-4>
	    		 <ion-item class="countInner">
				    <ion-input type="number" class="countItem" disabled="true" [(ngModel)]="childCount"></ion-input>
				  </ion-item>
	    	</ion-col>
	    	<ion-col col-4>
	    		<ion-fab (click)="incrementChild()">
				  <button ion-fab class="fabColor" mini><ion-icon md="md-add"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    </ion-row>
	  </ion-item>

	  <ion-item class="mainItem">
	  	<div text-center>
		  	<p class="countHeader">Sr. Citizen</p>
		 </div>
	    <ion-row>
	    	<ion-col col-4>
	    		<ion-fab (click)="decrementsrCitizen()" right>
				  <button ion-fab class="fabColor" mini><ion-icon md="md-remove"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    	<ion-col col-4>
	    		 <ion-item class="countInner">
				    <ion-input type="number" class="countItem" disabled="true" [(ngModel)]="srCitizenCount"></ion-input>
				  </ion-item>
	    	</ion-col>
	    	<ion-col col-4>
	    		<ion-fab (click)="incrementsrCitizen()">
				  <button ion-fab class="fabColor" mini><ion-icon md="md-add"></ion-icon></button>
				</ion-fab>
	    	</ion-col>
	    </ion-row>
	  </ion-item>

	</ion-list>

</ion-content>
<ion-footer>
	<div>
		<ion-row>
			<ion-col col-6>
				<p class="totalamt" text-center>
					TOTAL TICKET(S) : {{count}}
				</p>
			</ion-col>
			<ion-col col-6>
				<p class="totalamt" text-center>
					TOTAL COST : {{total}}
				</p>
			</ion-col>
		</ion-row>
		
	</div>
	<button ion-button block class="goBtn">GO</button>
</ion-footer>