<!-- <ion-header>
    <ion-navbar color='header'>
        <button class='button' ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class='title'>Booking History</ion-title>
        <ion-buttons>
            <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
           
                <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
                <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
                <ion-icon name="md-notifications" item-end></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngFor="let item of bookingSummary">
        <ion-list class='l1'>
            <ion-item class='nopad'>
                <img class="avatarImg" [src]="imagePath">
                <ion-item class='card-content'>

                    <div class="outer">
                        <div class="inner inn1">

                            <div class="content Details">

                                <div style="display: grid;">
                                    <div class="display">
                                        <div class="div1">
                                            <p class="para">Name</p>
                                            <H2 class='header2'>{{item.userDetails.regusername}}</H2>
                                        </div>
                                        <div class="right">
                                            <p class="para">Mobile</p>
                                            <H2 class='header2'>{{item.userDetails.mobileno}}</H2>
                                        </div>
                                    </div>
                                    <hr class="ruler">
                                    <div class="display">
                                        <div class="div1">
                                            <p class="para">Visit Date</p>
                                            <H2 class='header2'>{{item.userDetails.bookingdate | date:'dd-MMMyyyy'}}
                                            </H2>
                                        </div>
                                        <div class="right">
                                            <p class="para">Booking Date</p>
                                            <H2 class='header2'>{{item.userDetails.recordeddate | date:'dd-MMM-yyyy'}}
                                            </H2>
                                        </div>
                                    </div>
                                    <hr class="ruler">
                                    <div class="display">
                                        <div class="div1">
                                            <p class="para">Total</p>
                                            <H2 class='header2'>{{totalPrice}}</H2>
                                        </div>
                                        <div class="right">
                                            <p class="para">No. of Tickets</p>
                                            <H2 class='header2'>{{totalTickets}}</H2>
                                        </div>
                                    </div>
                                    <hr class="ruler">
                                    <div class="display" *ngFor="let content of item.tickets">
                                        <div class="div1">
                                            <p class="para">Tickets</p>
                                           
                                            <span class="subpara">{{content.ticketname}} 
                                            </span>
                                        </div>
                                        <div class="right">
                                            <p class="para">Price</p>
                                            <p><span class="subpara">{{content.ticketprice}}
                                            </span></p>
                                        </div>
                                        <div class="right">
                                                <p class="para">Quantity</p>
                                                <p><span class="subpara">{{content.ticCount}}
                                                </span></p>
                                            </div>                                        
                                    </div>                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="outer">
                        <div class="inner inn2">
                            <i class="top left"></i>
                            <i class="top right"></i>
                            <div class="content">
                                <ngx-qrcode class="qrcode" [qrc-value]='createdCode'></ngx-qrcode>
                                <p class="para1">{{ createdCode }}</p>
                            </div>

                        </div>
                    </div>
                </ion-item>
            </ion-item>
        </ion-list>
    </div>
</ion-content> -->
<!-- ------------------------------------------------------------------------------------------------------------ -->


<ion-header class="redcolorHeader">
    <ion-navbar color='header'>
        <button class='button' ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class='title'>Vouchers</ion-title>
        <ion-buttons>
            <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
                <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
                <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
                <ion-icon name="md-notifications" item-end></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngFor="let item of bookingSummary">
        <ion-card>
            <div>
                <div class="booking" col-12>
                    <div col-4>
                        <img class="img1" src="assets/imgs/TicketIcon.png" alt="">
                    </div>
                    <div class="bookerDetails" col-8>
                        {{item.userDetails.firstname}}
                        <div>
                            {{item.userDetails.mobileno}}
                        </div>
                        <div>
                            <span>{{item.userDetails.bookingdate|date:'EEE,dd MMM y'}}</span>
                        </div>
                    </div>
                </div>
                <div *ngFor="let content of item.tickets">
                    <div class="tickets" col-12>
                        <div col-5>
                            Tickets
                        </div>
                        <div col-2>
                            Rate
                        </div>
                        <div col-2>
                            Qty
                        </div>
                        <div col-3>
                            Redeemed
                        </div>
                    </div>
                    <div class="tickets1" col-12>
                        <div col-5>
                            {{content.ticketname}} ({{content.hctitle}})
                        </div>
                        <div col-2>
                            ₹ {{content.ticketprice}}
                        </div>
                        <div col-2>
                            {{content.ticCount}}
                        </div>
                        <div col-3>
                            {{content.redeemed}}
                        </div>
                    </div>
                </div>
                <div *ngFor="let content of item.FandB">
                    <div class="tickets" col-12>
                        <div col-5>
                            F & B
                        </div>
                        <div col-2>
                            Rate
                        </div>
                        <div col-2>
                            Qty
                        </div>
                        <div col-3>
                            Redeemed
                        </div>
                    </div>
                    <div class="tickets1" col-12>
                        <div col-5>
                            {{content.ticketname}} ({{content.hctitle}})
                        </div>
                        <div col-2>
                            ₹ {{content.ticketprice}}
                        </div>
                        <div col-2>
                            {{content.ticCount}}
                        </div>
                        <div col-3>
                            {{content.redeemed}}
                        </div>
                    </div>
                </div>
                <div *ngFor="let content of item.paidAttr">
                    <div class="tickets" col-12>
                        <div col-5>
                            Paid Attractions
                        </div>
                        <div col-2>
                            Rate
                        </div>
                        <div col-2>
                            Qty
                        </div>
                        <div col-3>
                            Redeemed
                        </div>
                    </div>
                    <div class="tickets1" col-12>
                        
                        <div col-5>
                            {{content.ticketname}} ({{content.hctitle}})
                        </div>
                        <div col-2>
                           ₹ {{content.ticketprice}}
                        </div>
                        <div col-2>
                            {{content.ticCount}}
                        </div>
                        <div col-3>
                            {{content.redeemed}}
                        </div>
                    </div>
                    <hr>
                    <!-- <div class="tickets" col-12>
                        <div col-6>
                            Redeemed Tickets
                        </div>
                        <div col-3>
                            
                        </div>
                        <div col-3>
                            {{totalTickets}}
                        </div>
                </div> -->             
                </div>
                <hr>
                <div class="tickets" col-12>
                       
                        <div col-6>
                            Total Tickets
                        </div>
                        <div col-3>
                            
                        </div>
                        <div col-3>
                            {{totalTickets}}
                        </div>
                </div>
                <div class="tickets" col-12>
                        <div col-6>
                            Total (₹)
                        </div>
                        <div col-3>
                            
                        </div>
                        <div col-3>
                           {{totalPrice}}
                        </div>
                </div>       
            </div>
            <ion-card>
                <div>
                    <div class="content">
                        <ngx-qrcode class="qrcode" [qrc-value]='bookdetails.id'></ngx-qrcode>
                        <p class="para1">{{ bookdetails.id }}</p>
                    </div>
                </div>
            </ion-card>
        </ion-card>
    </div>
</ion-content>