page-booking-history {

	.button1 {
		float: right;
		background-color: transparent;
		color: #fff;
		ion-badge {
			position: absolute;
			top: -0.5rem;
			right: 0.1rem;
			opacity: 0.9;
			border-radius: 15px;

			& ~ ion-icon {
				margin-right: 1.2rem;
			}
		}
	}

	.button{
		color: #fff;
	}

	.title{
		color: #fff
	}

	.nopad{
		padding: 0px !important;
	}

	.nopad div{
		padding-right: 0px !important;
	}

	.nopad div .label-md{
		margin: 0px !important;
	}

	.Details{
		background-color: #efefef;
	}

	.header1{
		font-weight: 700;
		padding-top: 13px;
    	padding-left: 16px;
    	color: black;
	}

	.header2{
		font-weight: 700;
		padding: 0px 16px;
		color: black;
	}

	.para{
		padding: 0px 16px;
	}

	.ruler{
		margin-left: 16px;
		margin-right: 16px;
	}

	.card-content{
		padding: 0px 0px;
	}

	.outer {
		  overflow: visible;
		  min-height: 52vh;
	}

	.inner {
  		border: none;
	}

	.inn1{
		border-bottom: 2px dotted black;
	}

	.inn2{
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

	.inner i {
  		width: 40px;
  		height: 40px;
  		border: 1px solid #888;
  		border-radius: 50%;
  		background-color: #fff;
	}

	.inner .top {
  		margin-top: -20px;
	}

	.inner .bottom {
  		margin-top: -20px;
  		margin-bottom: -22px;
	}

	.inner .left {
  		float: left;
  		margin-left: -20px;
	}

	.inner .right {
  		float: right;
  		margin-right: -20px;
	}

	.content {
  		min-height: 200px;
	}

	.display{
		display: inline-flex;
	}

	.right{
		float: right;
	}

	.div1{
		width: 50%
	}

	.qrcode div img{
		display: block;
	    width: 116px; 
	    margin: auto;
	}

	.qrcode div{
		padding-top: 25px;
	}

	.para1{
		text-align: center;
	}

	.l1{
		box-shadow: 0px 0px 10px 5px rgba(199,189,199,0.85);
	}
	.subpara{
		color: slategray;
		font-size: 1.3rem;
		text-overflow: ellipsis;
	}
	.img1{
		width: 65%;
	}

	.booking{
		display: inline-flex !important;
		text-align: center;
	}
	.bookerDetails{
		text-align: center;
		color: slategray;
	}
	.tickets{
		display: inline-flex !important;
		text-align: center !important;
	}
	.tickets1{
		display: inline-flex !important;
		text-align: center !important;
		color: slategray;
	}
}
