<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="redcolorHeader">

  <ion-navbar color='header'>
		<button class='buttonMenu' ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
		</button>
	<ion-title class='title'>Notifications</ion-title>
	<ion-buttons right>
			<!-- <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
			  
			  <ion-icon name="md-home" item-end></ion-icon>
			</button> -->
		  </ion-buttons>	
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="noti_backg" *ngIf="!nodata">
		<!-- <div > -->
    	<!-- <ion-card> -->
    		<ion-item *ngFor="let item of res">		    
		    	<ion-avatar class="avatar" item-start>
		      		<img class="avatarImg" [src]="item.customdata">
		    	</ion-avatar>
		    	<h2 class="noti_title" text-nowrap>
		    		{{item.title}}
		    	</h2>
		    	<h3 class="noti_desc" text-wrap>
		    		{{item.message}}
		    		<!-- {{item.message | slice:0:30}} {{item.message.length > 30 ? '...' : '' }} -->
		    	</h3>
		    	<p class="datetime">
		    		{{item.date | date:'dd MMM yyyy, h:mma' }}
		    	</p>
			  	<!-- <ion-card-header class="head">
			    	{{item.title}}
			  	</ion-card-header>
			  
			  	<ion-card-content class="ionCardContent">
							<div class="desc">
								{{item.message | slice:0:30}} {{item.message.length > 30 ? '...' : '' }}
						</div>
				</ion-card-content>
					<p class="notTime">{{item.date | date:'dd MMM yyyy, h:mma' }}</p> -->
			</ion-item>
		<!-- </ion-card> -->
		<!-- </div> -->
	</div>
    
	<div class="noDataOuter" *ngIf="nodataAvailable">
		<div class="noDataInner">
			No Notifications
		</div>
	</div>

    <!-- <ion-list>
    	<ion-item-sliding *ngFor="let item of notifications">
    		<ion-item > 
				<ion-avatar class="avatar" item-start>
			      	<img class="avatarImg" [src]="item.imagePath">
			      	<ion-avatar *ngIf='item.category=="Games"' class="avatar av2" item-end>
						<ion-icon class='ionIcon' name="game-controller-b"></ion-icon>
					</ion-avatar>
					<ion-avatar *ngIf='item.category=="FNB"' class="avatar av1" item-end>
						<ion-icon class='ionIcon' name="restaurant" md="md-restaurant"></ion-icon>
					</ion-avatar>
			    </ion-avatar>

			    <h2>{{item.headerMsg}}</h2>
			    <p>{{item.time}}</p>
			    <p>{{item.desc}}</p>
				
			</ion-item>
			<ion-item-options side="right">
		        <button ion-button color="danger" (click)="delete(item)"><ion-icon name="trash"></ion-icon>Delete</button>
		    </ion-item-options>
    	</ion-item-sliding>
		</ion-list> -->
		
		<!-- <ion-avatar>
			<img [src]="user.img">
		</ion-avatar>
		
		<ion-chip>
			<ion-avatar>
				<img [src]="user.img">
			</ion-avatar>
			<ion-label>Chip Avatar</ion-label>
		</ion-chip>
		
		<ion-item>
			<ion-avatar slot="start">
				<img [src]="user.img">
			</ion-avatar>
			<ion-label>Item Avatar</ion-label>
		</ion-item> -->

</ion-content>	
