page-notification {

	/*.title{
		color: #fff
	}
	.scroll-content{
		padding:0 !important;
	}
	.card-md {
	    margin: 0px !important; 
	    border-radius: 2px;
	    width: 100% !important;
	}
	.item-md.item-block .item-inner {
	    padding-right: 0px !important;
	    border-bottom: none !important;
	}
	.item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
	    margin: 0px;
	}
	.item-md [item-start], .item-md [item-end] {
	    margin: 0px;
	}
	.ionCardContent{
		white-space: normal;
	}
	// .avatar{
	// 	margin-bottom:25% !important;
	// }
	.avatarImg{
		width:50px !important;
		height:50px !important;
	}
	.card-header-md {
	    font-size: 1.6rem;
	    color: #222;
	    padding: 16px;
	    padding-bottom: 0px;
	}
	.card-content-md {
	    // padding: 5px 16px;
	    padding-left: 16px;
	    padding-right: 16px;
	    padding-bottom:5px;
	    padding-top: 0px;
	    font-size: 1.4rem;
	    line-height: 1.5;
	}
	.label-md {
	     margin: 0px !important; 
	}
	.notTime{
		// float: right;
		// margin-right: 3%;
		padding-left: 16px;
	}
	.noBackground{
		background-color: #fff;
	}
	.greyBackground{
		background-color: #eaeaea;
	}*/
	.item-md.item-block .item-inner {
	    padding-right: 0px !important;
	    border-bottom: 1px solid #dedede !important;
	}
	.ItemIcon{
		float: right;
	}
	.display{
		display: inline-flex;
	}
	.av1{
		// margin-right: 5px !important;
		border-radius: 50%;
    	background-color: #488aff;
    	min-width: 10px;
	    min-height: 10px;
	    position: absolute;
	    bottom: 8px;
		left: 30px;
	    width: 25px;
	    height: 25px;
	}
	.av2{
		// margin-right: 5px !important;
		border-radius: 50%;
	    background-color: #32CD32;
	    min-width: 10px;
	    min-height: 10px;
	    position: absolute;
	    bottom: 8px;
	    left: 30px;
	    width: 25px;
	    height: 25px;
	}
	.ionIcon{
	    display: inline-block;
	    color: #f3f3f3;
	    font-size: 1.2em;
	    padding: 2px 4px;
	}

	.ionCardContent{
		padding:0 !important;
	}
	.head{
		padding:0 !important;
	}
	.desc{
		color:black;
		font-weight:normal;
	}
	.avatar{
		margin:8px 16px 8px 10px;
	}
	.avatarImg{
		width:60px !important;
		height:60px !important;
	}
	.nodata{
		left:50%;
		top:50%;
	}
	.noti_title{
		color: black;
	}
	.noti_desc{
		color: black;
	}
	.noti_backg{
		background-color:#f6f6f6;
	}
	.datetime{
		padding-top: 7px;
    	font-size: 11px;
	}
	.noDataInner{
        top: 40%;
        left: 43vw;
        font-size: 4vw;
        position: absolute;
    }
    .noDataOuter{
        background:#fff;
        height: -webkit-fill-available;
	}
	h2{
		font-weight: bold;
		white-space: normal!important;
	}
}
