<!--
  Generated template for the GroupsNschoolsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color={{ThemeC}}>
		<button class='buttonMenu' ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class='title'>Offers</ion-title>
		<ion-buttons>
			<button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
			  <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
			  <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
			</button>
		  </ion-buttons>
		  <ion-buttons right>
			<button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
			  <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
			  <ion-icon name="md-notifications" item-end></ion-icon>
			</button>
		  </ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<!-- <div *ngIf="groups.length > 0 && !nodataAvailable">
		<swipe-tab [tabs]='groups'></swipe-tab>
	</div>

	<div class="noDataOuter" *ngIf="nodataAvailable">
	<div class="noDataInner">
		No Data Available
	</div>
	
</div> -->
<div *ngIf="offers.length > 0 && !nodataAvailable">
<ion-card class="rideCard" *ngFor="let offers of offers">
	<img class="contentImg" (click)="gotoofferssDetails(offers)" [src]="offers.contentImg"/>
	<ion-card-content>
		<ion-card-title (click)="gotoofferssDetails(offers)">
			{{offers.contentHead}}
		   
		</ion-card-title>
			<!-- <p [innerHTML] = "offers.subContentP1 | slice:0:100 | safeHtml" (click)="gotoofferssDetails(offers)"></p> -->
			<p [innerHTML] = "offers.subContentP1 | truncate : 100 : '...'"></p>
			<div class="content">
				<!-- <p (click)="gotoofferssDetails(offers)">
					{{offers.subContentP1 | slice:0:90}}  {{offers.subContentP1.length > 50 ? '...' : '' }}
				</p> -->
		  <div text-center>
				<span *ngIf="red"> 
					<a style="color:red !important">{{offers.subContentP1.length > 100 ? 'view more' : '' }}</a>
				</span>
				<span *ngIf="blue"> 
						<a style="color:blue !important">{{offers.subContentP1.length > 100 ? 'view more' : '' }}</a>
					</span>
					<span *ngIf="green"> 
							<a style="color:green !important">{{offers.subContentP1.length > 100 ? 'view more' : '' }}</a>
						</span>
			</div>
		</div>
		<div>
			<p class="button_center">
			<button [ngStyle]="{'background-color': getColor(ThemeC)}" ion-button (click)="booknow(ThemeC)">
				BOOK NOW
			</button>
		</p>
		</div>
	</ion-card-content>
  </ion-card>
</div>	
<!-- <ion-fab bottom right>
		<button ion-fab mini><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></button>
</ion-fab> -->
<div class="noDataOuter" *ngIf="nodataAvailable">
	<div class="noDataInner">
		No Offers
	</div>
</div>
</ion-content>
