page-offers {
    
    .card-title-md {
        display: block;
        font-size: 1.6rem !important;
        line-height: 1.2;
        color: #222;
        margin: 2px 0;
        padding: 8px 0;
    }
    p{
		font-family: 'helvetica' !important;
		font-weight: normal !important;
	}
    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
      
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
      
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }	
      
    }
    .rideCard{
		// margin: 0 !important;
		// width: 100% !important;
		border-radius: 6px !important;
        //border: 1px solid #c7c5c5;
	}
    .scroll-content {
        padding: 0px !important;
    }
    
    .contentImg{
		width:100%;
		height: 60vw;
	}  
    .button1 {
        float: right;
        background-color: transparent;
        color: #fff;
        ion-badge {
            position: absolute;
            top: -0.5rem;
            right: 0.1rem;
            opacity: 0.9;
            border-radius: 15px;
      
            & ~ ion-icon {
                margin-right: 1.2rem;
            }
        }
    }
    
    .noDataInner{
        top: 40%;
        left: 43vw;
        font-size: 4vw;
        position: absolute;
    }
    .noDataOuter{
        background:#fff;
        height: -webkit-fill-available;
    }
    .btnClass{
        color: #f53d3d;
    }
    // .red-button{
    //     background: #f53d3d !important;
    //     color: #fff !important;
    // }
    .red-class{
        .button-md{
            background-color: red !important;
            color: #fff !important;
        }
    }

    .blue-class{
         .button-md{
             background-color: blue !important;
             color: #fff !important;
         }
    }

    .green-class{
         .button-md{
             background-color: green !important;
             color: #fff !important;
         }
    }
    .button_center{
        text-align: center;
    }
    
}