// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #488aff,
  secondary:    #32db64,
  danger:       #f53d3d,
  light:        #f4f4f4,
  dark:         #222,
  header:       #488aff,
  // header: #E8262C,
  // header: #F7AE19,
  contentColor: #eee,
  red : #f04141,
  green : #16910b,
  blue : #0274ff,
);

.thumbsup{
  color:color($colors,secondary);
}
.thumbsdown{
  color:color($colors,danger);
}
.share{
  color:color($colors,primary);
}
.seen{
  color:color($colors,secondary);
}
.infoicons{
  
    padding: 0 10px;
    .number{
      font-size: 14px;
      font-weight: 400;

    }
    i{
      font-size:22px;
    }

}


// $app-background: linear-gradient(to bottom right, #488aff 31%, #66ccff 93%);
// $background-color: transparent;
// $toolbar-background: transparent;
.card-title-md {
  display: block;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #222;
  margin: 2px 0;
  padding: 8px 0;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@font-face{
  font-family: 'DroidSans';
  font-style: normal;
  font-weight: 500;
  src:url('../assets/fonts/DroidSans.ttf');
}

body{
	font-family:'DroidSans' !important;
    font-weight: 500;
    font-size:0.7em;
}

h1,h2,h3,h4,h5,button,p,span,div,input{
  font-family:'DroidSans' !important;
  font-weight: 700;
}

$font-family: 'DroidSans' !important;
$font-weight-medium: 700 !important;

@import "roboto";
@import "noto-sans";
//@import "BubblegumSans-Regular";

.headScroll {
  position: relative;
  display: block;
  width: 100vw !important;
  height: 42px !important;
  top: 10% !important;
}

// CSS FOR CALENDAR MODAL IN BOOKING
.myModal{
  .modal-wrapper{
    height: 390px !important;
    position: absolute;
    width: 90%;
    bottom: 0px;
    left: 5%;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0 0 20px 1px black;
    box-shadow: 0 0 5px 0px black;
  }
  ion-backdrop{
    background-color: #8e8e8e !important;
  }

}
// NEW UI
// .mainDiv .list .item .item-inner .input-wrapper .label .row .sideicon{
//   --padding-start: 0!important;
// }
.menu-inner{
  color: #f04141;
  width: 240px!important;
}
.menu-inner .item-md ion-col {
  color: #000000;
}
.menu-inner .item-md ion-col:first-child {
  // background: transparent;
  color: #f04141;
  padding-top: 0;
}

.mainDiv .list .item {
  border-bottom: 0px; 
  padding-left: 5px !important;
}

ion-app.md [padding] .scroll-content {
  padding: 0px;
}
.modalPop{
  .modal-wrapper {
  z-index: 10 !important;
  height: 15% !important;
  contain: strict !important;
  margin-top: 50% !important;
  width: 80% !important;
  margin-left: 10% !important;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0 0 20px 1px black;
  box-shadow: 0 0 5px 0px black;

}
.toolbar-md {
  padding: 4px;
  min-height: 40px;
  /* font-size: 12px; */
}
ion-backdrop{
  background-color: #8e8e8e !important;
}
}

// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
