page-ticket-category {
    ion-badge {
        padding: 5px 5px 5px 5px;
        text-align: center;
        display: inline-block;
        min-width: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1;
        white-space: nowrap;
        vertical-align: baseline;
    }
    ion-scroll {
        // white-space: nowrap;
        height: 90vh;
        // height: -webkit-fill-available !important;
    }
    // .repeat{
    //     overflow-y: scroll !important;
    // }
    .expand-wrapper{
        height: 20vh;
    }
   ion-content{
    --background: #f4f4f4;
}
.anim{
    opacity: 1;
    animation: slow 1.1s forwards;
}
@keyframes slow {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
// .repeat:last-child .anim .hideDiv:last-child{
//     padding-bottom: 9vh;
// }
.repeat:last-child{
    margin-bottom: 10vh;
}
.mainDiv{
  margin: auto;
  max-width: 600px;
  background: white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.tabs{
  text-align: center;
}
.iconim{
    width: 8vw;
    transform: rotate(-20deg);
    margin-right: 4px;
    margin-bottom: 3px;
}
.rotate{
  transform: rotate(-180deg);
  transition: 500ms ease-in-out;
}
.tabs button{
  border-color: transparent;
  background-color: transparent;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px;   
}
.tabDiv{
    border-bottom: 1px solid red;
    padding: 0;
}
/*.tabDiv .tabs:first-child{
    border-right: 1px solid red;
}*/
.section{
  padding: 10px 0;
    border-bottom: 1px solid gray;
}
.section h2{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}
.section p{
    margin: 0;
    font-size: 18px;
    font-weight: 100;
}
// .section ion-icon{
//     font-size: 36px;
//   background: #f04141;
//   color: white;
//   border-radius: 4px;
//   margin-top: 19px;
//   width: 36px;
//   padding-left: 8px;
//   height: 34px;
// }
.sectionim img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.sectionim{
    padding-left: 3px;
}
.numbers{
    display: flex;
    padding-left: 19px;
}
 .dropdown ion-icon{
    color: #fff;
    font-size: 32px;
    padding-top: 3px;
    font-weight: 700;
    background: #f04141;
    width: 36px;
    padding-left: 10px;
    border-radius: 5px;
}
.lastcol{
  margin-left: 20px;
  padding-top: 9px;
  padding-bottom: 0;
}
.countRow{
  margin-left: -24px;
}
.countRow .fab[mini]{
  height: 29px;
  width: 29px;
}
.countRow ion-icon{
  font-size: 18px;
}
.countRow ion-col{
  padding: 0;  
}
.hideDiv input{
  width: 36px;
  text-align: center;
  border: none;
  border-bottom: 1px solid;
  height: 23px;
  margin: 9px 5px;
}
.hideDiv p{
  font-size: 11px;
  color: #868181;
}
.hideDiv h3{
  font-size: 14px;
  color: #868181;
  text-align: center;
}
.hideDiv:last-child{
    border-bottom: 1px solid #b8b8b8;
}
.grid{
    padding: 0;
   }
ion-fab{
   top: 6%;
   left: 0%;
  width: 100%;
}

.footer{
    text-align: center;
}
.footer ion-icon{
  font-size: 31px;
  padding-top: 5px;
  color: white;
  vertical-align: text-bottom;
  display: inline-block;
}
.footer p{
  display: inline-block;
  vertical-align: super;
  margin: 0;
  padding:0 12px;
  font-size: 23px;
  color: #fff;
}

.footerbtn{
  vertical-align: top;
  border: 2px solid;
  border-radius: 6px;
  font-size: 13px;
}

.redClass{
  .row button{
    background-color: #f04141;
  }


    /*ion-icon {
      font-size: 36px;
      background: #f04141 !important;
      color: white;
      border-radius: 4px;
      // margin-top: 19px;
      width: 36px;
      padding-left: 8px;
      height: 34px;
  }
  }
    .numbers ion-icon {
      background: #f04141 !important;
      color:white;
      font-size: 30px !important;
      padding-top: 3px !important;
      font-weight: 700 !important;
      padding-left: 3px !important;
  }*/
}

.blueClass{

  .row button,.dropdown ion-icon{
    background-color: #2874ff;
  }
   /*ion-icon {
    font-size: 36px;
    background: #2874ff !important;
    color: white;
    border-radius: 4px;
    // margin-top: 19px;
    width: 36px;
    padding-left: 8px;
    height: 34px;
  }
  .numbers ion-icon {
    background: #2874ff !important;
    color: white !important;
    font-size: 30px !important;
    padding-top: 3px !important;
    font-weight: 700 !important;
    padding-left: 3px !important;
  }*/
}

.greenClass{
  .row button,.dropdown ion-icon{
    background-color: #17910b;
  }
   /*ion-icon {
    font-size: 36px;
    background: #17910b !important;
    color: white;
    border-radius: 4px;
    // margin-top: 19px;
    width: 36px;
    padding-left: 8px;
    height: 34px;
  }
  .numbers ion-icon {
    background: #17910b !important;
    color: white !important;
    font-size: 30px !important;
    padding-top: 3px !important;
    font-weight: 700 !important;
    padding-left: 3px !important;
  }*/
}


@media (max-width: 480px) {
    .header ion-title{padding-left: 0;font-size: 13px;}
    .section h2{
        font-size: 14px;
    }
    .section p{
        font-size: 12px;
    }
    .section ion-icon{
        margin: 5px 0;
    }
}

@media (max-width: 384px) {
    .footerbtn{font-size: 11px;}
    .footer p{font-size: 20px;}
}

/********************************************************************/
page-ticket-category {
  $false: false !default;
  $true: true !default;
  .theader{
      padding-left: 2vw;
      font-size: 8vw;
      margin-top: 4vw;
  }
  .tdate{
      font-size: 5vw;
      margin-top: 6vw;
  }
  .headerboder{
      font-weight: normal;
      font-size: 6vw;
      padding: 1vw;
      border: 1vw solid #488aff;
  }
  .listheader{
      color: #fff;
      font-size: 5vw;
      border: 1px solid;
      width: fit-content;
      padding: 1vw 5vw 1vw 1vw;
      border-top-right-radius: 5vw;
      background-color: #488aff;
      margin: 5px 0px 0px -1px;
  }
  .contentList{
      margin-top: -1px;
  }
  .ticketdisc{
      font-size: 1.8Vh;
      font-weight: 100;
  }
  .ticketmorec{
      font-size: 1.9Vh;
      font-weight: 300;
      color: #f53d3d;
  }
  .ticketname1{
      min-height: 30px;
      ion-col{
          p{
              padding: 0px;
              margin: 0px;
          }
      }
  }
  // .imgDImg{
  //     text-align: center;
  //     margin-top: 15px;
  // }
  .contentLayout{
      ion-card{
          margin: 0px !important;
          width: 100% !important;
      }
  }
  .ticketname {
      min-height: 40px;
      ion-col{
          p{
              padding: 0px;
              margin: 0px;
          }
          ion-row{
              ion-col{
                  ion-fab{
                      button{
                          margin: 0px !important;
                      }
                  }
                  ion-input{
                      input{
                          width: 100% !important;
                          margin: 2px 2px !important;
                      }
                  }
              }
          }
      }
  }
  .rupee{
      font-size: small!important;
  }
  .trash{
      font-size: small!important;
  }
  .titledescp{
      font-weight: bold;
      
  }
  .EWbadge{
      border-radius: 5px;
      background-color: #f53d3d;
  }
  .paddingNo{
      margin: 0px;
  }
  .fontW500{
      font-weight: 500;
  }
  .contentLayout
  {
      padding: 5px !important;
      ion-card{
          box-shadow: 0px 1px 10px 0px #a0a4a0;
      }
  }
  .countRow{
      margin-left: 10px;
  }
  .countinput{
      width : 25px;
      right: 8%;
  }
  /*.contentLayout:first-child{
      border-top: 2px solid #ff4848;
  }
  .contentLayout:last-child{
      border-bottom: 2px solid #ff4848;
  }*/
  .fab[mini]{
      width: 25px!important;
      height: 25px!important;
  }
  .fab ion-icon{
      font-size: 1.8rem;
  }
  .totalcount{
      text-align: center;
      padding: 5px;
      margin-bottom: 5px;
      background-color: #e8e8e8;
      border: 1px solid #bababa;
  }
  .headerBorderBot{
      border-bottom: 1px solid #bababa;
  }
  .cartList{
      max-height: 200px;
      overflow: auto;
      padding: 5px;
      margin-top: 56px;
  }
  .calculations{
      padding: 5px;
      background-color: #488aff;
      color: white;
      font-size: 15px;
  }
  .showContent{
      height: 5vw!important;
  }
  .ticket{
      background-color: #fff;
      // max-height: 30vh;
      overflow-y: scroll;
  }
  .numRight{
      text-align: right;
  }
  .btnclass{
      background-color: #488aff;
      color: white;
  }
  .header-image {
      height: calc(100% - 56px) !important;
      /* height: 100vh;*/
      overflow: auto;
  }
  .setHeight{
      height: 30vh !important;   
     }
     .main-content {
      // /*padding: 20px;*/
      background-color: white;
  } 
  .hideContent{
      display: none;
  }
  @keyframes mymove {
      from {
          bottom: -1000px;
        }
      to {
          bottom: 0px;
        }
  }

  .navBarDisplay{
      display:inline-flex;     
  }

  .disableTicket{
      pointer-events: none;
      opacity: 0.5;
      // background: #CCC;
  }
  .red{
  color: white;
  text-align: center;
  margin-left: 3vw;
  font-size: 1.1rem;
  background-color: #463b3b;
  padding: 0.7vw 2vw;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  }
  .noDataInner{
//   top: 40%;
//     left: 33%;
    font-size: 4vw;
    position: absolute;
}
.noDataOuter{
  background:#fff;
  margin-left: 40% !important;
  margin-top: 50% !important;
//   height: -webkit-fill-available;
  }
  .arrow{
      font-size: 2.3em;
      margin-top: 5%;
      margin-left: 25%;
      transform: rotateZ(180deg);

  }
  .proccedbtn{
      margin-top: auto;
  }
  .imgWithDesc{
      width: 100%;
  }

    @media (max-width: 360px) {
        .tabs{padding: 0;}
    }
}

}

.ios{
    .dropdown ion-icon{
        padding-left:5px;
        padding-bottom:3px;
    }
    .countRow ion-icon{
        font-size:24px;
        font-weight:800;
    }
    .iosColor{
        .redClass{
            .row .button-ios{
                // background-color:#fa1001!important;
                color:#fff;
                padding:0 1.5em;
            }
        }
        .blueClass{
            .row .button-ios{
                // background-color:#488aff!important;
                color:#fff;
                padding:0 1.5em;
            }
        }
        .greenClass{
            .row .button-ios{
                // background-color:#16910b!important;
                color:#fff;
                padding:0 1.5em;
            }
        }
    }
}