<!--
  Generated template for the TicketCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="navBarDisplay" hideBackButton color='{{ThemeC}}'>
    <button
      class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button"
      ion-button="bar-button" ng-reflect-klass="back-button" ng-reflect-ng-class="back-button-md" *ngIf="!forBackButton"
      (click)="goBack();">
      <span class="button-inner">
        <ion-icon class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img"
          ng-reflect-klass="back-button-icon" ng-reflect-ng-class="back-button-icon-md" aria-label="arrow back"
          ng-reflect-name="md-arrow-back"></ion-icon><span class="back-button-text back-button-text-md"
          ng-reflect-klass="back-button-text" ng-reflect-ng-class="back-button-text-md"></span>
      </span>
      <div class="button-effect"></div>
    </button>
    <button
      class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button"
      ion-button="bar-button" ng-reflect-klass="back-button" ng-reflect-ng-class="back-button-md" *ngIf="forBackButton"
      (click)="goBack();">
      <span class="button-inner">
        <ion-icon class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img"
          ng-reflect-klass="back-button-icon" ng-reflect-ng-class="back-button-icon-md" aria-label="arrow back"
          ng-reflect-name="md-arrow-back"></ion-icon><span class="back-button-text back-button-text-md"
          ng-reflect-klass="back-button-text" ng-reflect-ng-class="back-button-text-md"></span>
      </span>
      <div class="button-effect"></div>
    </button>
    <ion-title>Tickets</ion-title>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
        
        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
<!--   <ion-toolbar no-padding color='light'>
    <h3 padding-left>{{pushToBook.bookHead}}</h3>
    <ion-buttons end>
      <button ion-button icon-end color="royal">
        <ion-icon name="calendar" padding-right></ion-icon>
        {{ tcktDt | date }}
      </button>       <div class="anim" *ngIf="item.expanded">

    </ion-buttons>
  </ion-toolbar> -->
</ion-header>



<ion-content>
<div class="mainDiv iosColor">
  <ion-grid  [ngStyle]="{'border-bottom': getColor(ThemeC)}"> <!--class="tabDiv"-->
    <ion-row>
      <ion-col col class="tabs">
        <button ion-button clear small color="{{ThemeC}}" icon-start>
          <img *ngIf="ThemeC == 'red'" class="iconim" src="assets/imgs/TicketIconRed.png" />
          <img *ngIf="ThemeC == 'blue'" class="iconim" src="assets/imgs/TicketIconBlue.png" />
          <img *ngIf="ThemeC == 'green'" class="iconim" src="assets/imgs/TicketIconGreen.png" />
          Book Ticket
        </button>
      </ion-col>
      <!-- <ion-col size="6" class="tabs">
        <button ion-button clear small color="danger" icon-start>
          <img class="iconim" src="/assets/TicketIcon.png">
          packages
        </button>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <ion-scroll scrollY="true">
    <!-- // your content here -->
    <div>
      <div class="repeat" *ngFor="let item of ticketCategory;">
       <ion-row [ngClass]="{redClass: red == true, greenClass: green == true, blueClass: blue == true}" class="section">
         <ion-col col-2>
           <div class="sectionim">
             <img *ngIf="ThemeC == 'red'" src="/assets/imgs/Ticket-Logo-Red.png">
             <img *ngIf="ThemeC == 'blue'" src="/assets/imgs/Ticket-Logo-Blue.png">
             <img *ngIf="ThemeC == 'green'" src="/assets/imgs/Ticket-Logo-Green.png">
           </div>
         </ion-col>
         <ion-col col-8>
           <h2>{{item.title}}</h2>
           <p>{{item.disc}}</p>
         </ion-col>
         <ion-col col-2 class="dropdown">
           <ion-icon name="arrow-dropdown" (click)="expandItem(item)"></ion-icon>
         </ion-col>
       </ion-row>   


     <!-- <epandable [expanded]="item?.expanded" *ngIf="item?.expanded"> -->
       <div class="anim" *ngIf="item.expanded">

       
     <div *ngFor="let content of item.subCat" class="hideDiv" >
       <ion-grid [ngClass]="{redClass: red == true, greenClass: green == true, blueClass: blue == true}">
         <ion-row>
           <ion-col col-1></ion-col>
            <ion-col col-1></ion-col>
           <ion-col col-3><p>{{content.name}}</p></ion-col>
           <ion-col col-3><h3>₹ {{content.displaytickprice}}</h3></ion-col>
           <ion-col col-3 class="lastcol" [ngClass]="{'disableTicket': content.isDisable == 1}">
               <ion-row *ngIf="content.Qnt == 0 && content.isDisable == 0">
                 <button ion-button small round (click)="onIncrement(item.id,content.id,content.Qnt)">Add</button>
               </ion-row>
               <ion-row *ngIf="content.isDisable == 1">
                  <ion-badge color="dark">Unavailable</ion-badge>
                </ion-row>
               <ion-row class="countRow" *ngIf="content.Qnt > 0 && content.isDisable == 0">
                 <ion-col col-4>
                   <button (click)="onDecrement(item.id,content.id,content.Qnt)" ion-fab
                       class="fabColor" mini>
                       <ion-icon name="remove"></ion-icon>
                     </button>
                 </ion-col>
                 <ion-col col-4>
                   <ion-input class="countinput" [(ngModel)]="content.Qnt" type="number" min="0" max="10"
                     disabled="true"></ion-input>
                 </ion-col>
                 <ion-col col-4>
                   <button (click)="onIncrement(item.id,content.id,content.Qnt)" ion-fab class="fabColor"
                       mini>
                       <ion-icon name="add"></ion-icon>
                     </button>
                 </ion-col>
               </ion-row>
             </ion-col>
         </ion-row>
       </ion-grid>
     </div>
    </div>
     <!-- </epandable> -->
      
     </div>
     
     </div>
</ion-scroll>

  
</div>
<div class="noDataOuter" *ngIf="nodataAvailable">
  <div class="noDataInner">
    No Data Available
  </div>

</div>
</ion-content>
<!-- <ion-footer *ngIf="cardList.length>0">
    <ion-toolbar color="{{ThemeC}}">

    </ion-toolbar>
  </ion-footer> -->
<ion-footer *ngIf="cardList.length>0">
  <ion-toolbar color="{{ThemeC}}">
    <ion-fab>
      <div class="footer">
        <ion-icon name="cart"></ion-icon>
        <p>₹ {{TotalTPrice()}}</p>
        <button ion-button color="{{ThemeC}}" class="footerbtn" (click)="proceed()">PROCEED TO ADDONS ></button>
      </div>
    </ion-fab>
  </ion-toolbar>
</ion-footer>