page-park-timings {
	
	.ptImg{
		// height:30vh;
	}
	// .ItemDtTm{
	// 	padding-left: 0px !important;
	// }
	// .item-md.item-block .item-inner {
	//     padding-right: 0px; 
	// }
	// .label-md {
	//     margin: 0;
	// }
	// .headDiv{
	//     background: #FF9F48;
	//     height: 10vw;
	//     .h2head{
	// 		padding-top: 2%;
	// 		margin: 0px;	
	// 	}
	// }
	// .headDivData{
	// 	height:10vw;
	// 	.h2headP{
	// 		padding-top: 2%;
	// 	}
	// }
	// .dtTmList{
	// 	 border: 1px solid #c3c0c0;
	// }
	// .listDiv{
	// 	padding:10px;
	// }


	.headh2{
		    color: #666;
		}
	.headRow{
		background:#488aff;
		color: #fff;
		border-bottom:1px solid #ddd;
	}
	.FromToRow{
		// background:#FFEBC8;
		border-bottom:1px solid #ddd;
		//background: #FFEBC8;
        color: #666;
	}
	.col-head{
		// padding:0px;
	}
	.headCol{
		padding:10px;
	}
	.mainDivTable{
		padding:10px;
	}
	.innerDivtable{
		border:1px solid #ddd;
	}
	.font-size{
		font-size: 12px;
	}
	.noDataInner{
        top: 40%;
        left: 33%;
        font-size: 4vw;
        position: absolute;
    }
    .noDataOuter{
        background:#fff;
        height: -webkit-fill-available;
	}
	.note{
		font-weight: 500;
		color: #df2604;
		font-size: small;
		// font-style: italic;
		padding-left: 8px;
		overflow: -webkit-paged-x;
		padding-right: 8px;
		padding-bottom: 8px;
	}
	.dataRow{
		border-bottom: 1px solid #ddd;
	}


}
