<!--
  Generated template for the ParkTimingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='header'>
        <button class='button' ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
		<ion-title class='title'>Park-Timing</ion-title>
		<ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
		</ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>		
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
        
        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>		
    </ion-navbar>

</ion-header>


<ion-content>

	<div text-center>
		<img class="ptImg" src="assets/imgs/esselworldHome.jpg">
	</div>
	<!-- <div class="listDiv"> 
		<ion-list class="dtTmList">
			<ion-item class="ItemDtTm" text-center>
				<div class="headDiv">
					<h2 class="h2head">Days</h2>
				</div>
				<div class="headDivData">
					<p class="h2headP">{{parkTime.startDate}} - {{parkTime.endDate}}</p>
				</div>
				
			</ion-item>
			<ion-item class="ItemDtTm" text-center>
				<div class="headDiv">
					<h2 class="h2head">Operatinal Hours</h2>
				</div>
				<div class="headDivData">
					<p class="h2headP">{{parkTime.startTime}} - {{parkTime.endTime}}</p>
				</div>
			</ion-item>
		</ion-list>
	</div> -->
<!-- 	<div>
		<ion-list>
		  <ion-item>
		    <h2 class="headh2">Days</h2>
		    <p>{{parkTime.startDate}} - {{parkTime.endDate}}</p>
		  </ion-item>
		</ion-list>
	</div> -->
	<div class="mainDivTable" *ngIf="!nodataAvailable">
		<div class="innerDivtable">
				<div>
					<ion-row class="headRow">
						<ion-col class="headCol" col-7>
							Days
						</ion-col>
						<ion-col class="headCol" col-5>
							Operational Hours
						</ion-col>
					</ion-row>
				</div>
				<div>
					<ion-row class="FromToRow">
						<ion-col class="col-head" col-7>
							<ion-row >
								<ion-col class="font-size" col-6>
									From
								</ion-col>
								<ion-col class="font-size" col-6>
									To
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col class="col-head" col-5>
							<ion-row >
								<ion-col class="font-size" col-6>
									From
								</ion-col>
								<ion-col class="font-size" col-6>
									To
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</div>
				<div>
					<ion-row class="dataRow" *ngFor="let item of parkTimes">
						<ion-col col-7>
							<ion-row>
								<ion-col class="font-size" col-6>
									{{item.fromdate | date: 'dd-MMM-yyyy'}}
								</ion-col>
								<ion-col class="font-size" col-6>
									{{item.todate | date: 'dd-MMM-yyyy'}}
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col col-5>
							<ion-row>
								<ion-col class="font-size" col-6>
									{{item.fromtime}}
								</ion-col>
								<ion-col class="font-size" col-6>
									{{item.totime}}
								</ion-col>
							</ion-row>
						</ion-col>
						<div class="note">
							{{item.note}}
						</div>
					</ion-row>
					
					
					
				</div>
		</div>
	</div>

	<div class="noDataOuter" *ngIf="nodataAvailable">
		<div class="noDataInner">
			No Data Available
		</div>
		<!-- <p>Data not available</p> -->
	</div>

	

</ion-content>
