<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="pHeader">
  <ion-navbar color='header' no-border>
    <button class='button' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Payment</ion-title>

    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">

        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <div class="imgdiv">
      <img src="assets/imgs/debit-card.png" alt="">
    </div>
    <div class="topgroup">
      <span class="pay">To Pay</span>      
      <h1 class="amount">₹ {{totalAmount}}</h1>    
    </div>
    <div class="paymentHead">
      Select Payment Mode
    </div>
    <div class="payment" col-12>
      <ion-list radio-group (ionChange)="onChangeHandler($event)">
        <ion-item>
          <ion-label>Debit Card, Credit Card, Net Banking</ion-label>
          <ion-radio value="dc"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>UPI Payment</ion-label>
          <ion-radio value="upi"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div col-12 class="bot">
    <button [disabled]="checkedTick == false" color="red" ion-button class="btnSave" (click)="pay(event)">Pay</button>
  </div>
</ion-footer>
