page-payment {
    font-family: 'helvetica' !important;
    font-weight: normal !important;
    img {
        max-width: 30%;
        border: 0;
    }
    .paymentHead{
        font-size: 2.0rem;
        text-align: center;
        font-family: 'helvetica' !important;
        font-weight: normal !important;
        margin-top: 0;
    }
    .payment{
        margin-top: 10vh;
        .item-md {
            background: transparent;
            color: #f04141;
        }
    }
    .btnSave{
        width: -webkit-fill-available;
        margin:0px;
        padding:0px; 
    }
    .topgroup{
        margin-left: 0vw;
        margin-top: 5vh;
        text-align: center;
    }
    .pay{
        text-align: center;
        font-family: 'helvetica' !important;
        font-weight: normal !important;
    }
    .imgdiv{
        text-align: center;
        margin-top: 10vh;
    }
    .bot{
        margin-bottom: 10px;
    }
}

.ios{
    .pHeader{
        ion-navbar{
            .toolbar-background-ios,
            .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
              background-color: #f04141!important;
              color: #fff;
            }
          }
    }
}