<ion-menu [content]="content" [swipeEnabled]="false" id="loginMenu">
  <!-- <ion-header padding>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-content class="mainDiv sideMenu" padding>
    <!-- <ion-card text-center class="hide-card p10" no-margin> -->

                  <!-- <img src="assets/imgs/user-blank.png" class="custom-avatar">
                  <h2>
                    <strong>{{UserDetail.FirstName}} {{UserDetail.LastName}}</strong>
                    
                  </h2>
                  <p><strong>{{UserDetail.Email}}</strong></p> -->

                  <!-- <h2>
                    <strong>Hi, {{UserDetails.regusername}}</strong>
                    
                  </h2>
                  <p><strong>{{UserDetails.mobileno}}</strong></p> -->

    <!-- </ion-card> -->
    <div class="menu_height" text-center>
          <!-- <img class="menuImg" src="/src/assets/imgs/ew_wk.png"> -->
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of loginpages" (click)="openPage(p)">
     <!--    <ion-icon name="{{p.icon}}" item-start color="light"></ion-icon> -->
           <ion-row>
            <ion-col class="sideIcon" col-2 text-center>
                  <i class="{{p.icon}}"></i>
            </ion-col>
            <ion-col class="sideText" col-10>
                   {{p.title}}
            </ion-col>
          </ion-row>
      </button >
   
      <button (click)="gotoHome()" menuClose ion-item>
      <!-- <ion-icon name="md-log-out" item-left></ion-icon>
        Logout -->
        <ion-row>
            <ion-col class="sideIcon" col-2 text-center>
                  <i class="fa fa-sign-out"></i>
            </ion-col>
            <ion-col class="sideText" col-10>
                   Logout
            </ion-col>
          </ion-row>
      </button>
    </ion-list>
    
  </ion-content>

</ion-menu>

<ion-menu [content]="content" [swipeEnabled]="false" id="logoutMenu">
<!--   <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-content class="mainDiv">
    <!-- <ion-card text-center class="hide-card p10" no-margin text-center> -->
     <!--  <p>
        <strong float-left>Last logged in</strong>
        <strong float-right>{{UserDetail.LastLogin | date:'dd MMM yyyy' }}</strong>
      </p> -->
            <!--   <div text-center>
                 <img class="menuImg" src="assets/imgs/ewNew.png">
              </div>
              <div text-center>
                 <img class="menuImg" src="assets/imgs/wkNew.jpg" >
              </div> -->
                 
                   
                  <!-- <h2>
                    <strong>{{UserDetail.FirstName}} {{UserDetail.LastName}}</strong>
                    
                  </h2>
                  <p><strong>{{UserDetail.Email}}</strong></p> -->
                  <!-- <p>Subscription expires on {{UserDetail.EndDate | date : 'dd, MMM yyy'}}</p> -->
    <!-- </ion-card> -->

    <div class="menu_height" text-center>
          <!-- <img class="menuImg" src="assets/imgs/ew_wk.png"> -->
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of logoutpages" (click)="openPage(p)">
      <!-- <ion-icon name="{{p.icon}}" item-start color="light"></ion-icon> -->
      <ion-row>
        <ion-col col-2 text-center>
              <i class="{{p.icon}}"></i>
        </ion-col>
        <ion-col col-10>
               {{p.title}}
        </ion-col>
      </ion-row>
        
       
      </button >
      <button (click)="gotoLogin()" menuClose ion-item>

        <ion-row>
          <ion-col col-2 text-center>
                 <i class="fa fa-sign-in"></i>
          </ion-col>
          <ion-col col-10>
                Login
          </ion-col>
        </ion-row>
        <!-- <ion-icon name="md-log-out" item-left></ion-icon> -->
         </button>
     
    </ion-list>
   
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>