// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$colors: (
  primary:     #387ef5,
  secondary:   #32db64,
  danger:      #f53d3d,
  light:       #f4f4f4,
  dark:        #222,
  favorite:    #69BB7B,
  navbarColor: #4d83e4
);

ion-navbar{
    background-color: #f53d3d;
}

.fa{
  font-size: x-large !important;
}

.custom-avatar {
  // height: 40vw;
    width: 40vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background: white;
}
.menuImg{
  // width:65%;
      width: 100%;
    padding: 20px;
}
// .menu_height{
//   height: 12% !important;
// }
.hide-card {
  -webkit-box-shadow: none!important;
  /*background: url('/assets/images/background-gradient.jpg') no-repeat !important;*/
  width: 100%;
  background: transparent;
  padding: 10vw;
}
.gradient{
	background: rgba(252,234,187,1);
background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 0%, rgba(248,181,0,1) 0%, rgba(251,223,147,1) 30%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(0%, rgba(252,205,77,1)), color-stop(0%, rgba(248,181,0,1)), color-stop(30%, rgba(251,223,147,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 0%, rgba(248,181,0,1) 0%, rgba(251,223,147,1) 30%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 0%, rgba(248,181,0,1) 0%, rgba(251,223,147,1) 30%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 0%, rgba(248,181,0,1) 0%, rgba(251,223,147,1) 30%, rgba(251,223,147,1) 100%);
background: linear-gradient(135deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 0%, rgba(248,181,0,1) 0%, rgba(251,223,147,1) 30%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}
.mainDiv{
	// background: linear-gradient(to bottom right, #488aff 31%, #66ccff 93%);
  background:#ffff;
  // background: #F7AE19;
 //background: linear-gradient(to bottom right, #488aff 70%, #ffffcc 98%);
  
  // linear-gradient(to top, #ffff00 0%, #ffe63375 100%)
  .list{
    // border-top: 1px solid #dedede;

    .item{
          // border-bottom: 1px solid #dedede;
          padding-left: 5px !important;
        .item-inner{
          border-bottom:none !important;
        }
    }  
}

}
.item-md{
	    background: transparent;
      color:#fff;
}
strong{
  color:#fff;
}

.swiper-slide img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.segment-ios .segment-button:hover:not(.segment-activated) {
  background-color: rgb(72, 138, 255);
  -webkit-transition: 100ms all linear;
  transition: 100ms all linear;
  color:white !important;
}

.segment-ios .segment-button:hover(.segment-activated) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 3.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #488aff;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #488aff;
    background-color: transparent;
}

// .segment-ios .segment-button:hover:not(.segment-activated) {
//   background-color: #488aff;
//   -webkit-transition: 100ms all linear;
//   transition: 100ms all linear;
//   // color: #ffff;
//   color: white !important;
// }

.Myalert{
    
  ion-backdrop{
    background-color: #cfcfcf42;

  }
  .alert-wrapper{
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
  }
  .alert-wrapper>.alert-head{
      padding: 0px;
  }
  .alert-wrapper>.alert-message{
    padding: 0px;
  }
  .alert-wrapper>.alert-button-group{
    padding: 0px;
    width: 100%;
    background-color: #fff;
  }
  .alert-wrapper>.alert-button-group>.alert-button{
    width: 100px;
    border: 1px solid;
    border-radius: 15px;
    margin: 5px;
    height: 30px;
    color: #fff;
    background-color: #488aff;
  }
  .alert-wrapper>.alert-button-group>.alert-button>.button-inner{
    -webkit-box-pack: center;
    justify-content: center;
  }
  .popupModelDiv{
      background: #fff;
      text-align: center;
      z-index: 11;
  }
  .para{
      width: 200px;
  }
  .popupMsgdiv{
      display: flex;
      flex-direction: row;
      height: auto;
      padding: 5px;
      background: #ffffff;
      color: #000;
      .para{
          margin-top: 0;
          font-weight: 400;
          font-size: 1.8Vh;
      }
  }
  .popupIcon{
      width: 40px !important;
      height: 40px !important;
      margin: 15px 15px;
      color: #fff !important;
  }
  .popupmsg{
      height: auto;
      margin-top: 10px;
      letter-spacing: 1px;
      font-weight: 100;
  }
  .popupmsg >* {
      vertical-align: middle;
  }
}

// CSS FOR CALENDAR MODAL IN BOOKING
.myModal{
  .modal-wrapper{
    height: 390px !important;
    position: absolute;
    width: 90%;
    bottom: 0px;
    left: 5%;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0 0 20px 1px black;
    box-shadow: 0 0 5px 0px black;
  }
  ion-backdrop{
    background-color: #8e8e8e !important;
  }

}

// CSS FOR BACK BUTTON AND TITLE IN TICKET CATEGORY PAGE
.toolbar-content-md {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  min-width: 0;
  max-width: 100%;
  display: inline-flex;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../assets/fonts/helvetica/Helvetica-Bold.ttf');
}

.picker-md .picker-button, .picker-md .picker-button.activated {
  color: #f53d3d;
}
.picker-md .picker-opt.picker-opt-selected {
  color: #f53d3d;
}

//no data found
.noDataOuter{
  // position: relative!important;
  .noDataInner{
    top: 45%!important;
    left: 0!important;
    font-size: 4vw!important;
    position: absolute!important;
    width: 100%!important;
    text-align: center!important;
  }
}


.ios{
  .action-sheet-ios .action-sheet-button{
    font-size: 1.4rem;
    color: #0d0908;
    min-height: 5rem;
  }
  .redcolorHeader{
    ion-navbar{
      .toolbar-background-ios,
      .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
        background-color: #f04141!important;
        color: #fff;
      }
    }
  }
  .sideMenu{
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
      border-bottom: none;
    }
    .scroll-content{
      padding: 0!important;
    }
    .label-ios{
      margin: 11px 5px 5px 11px;
    }
    ion-list{
      button{
        ion-row{
          .sideIcon{
            color: #f04141;
            i{
              font-size: 20px!important;
            }
          }
          .sideText{
            font-size: 15px!important;
            padding-top: 6px;
          }
        }
      }
    }
  }
}