page-ride-details {
	.fixed-content{
		margin-top: 56px;
		background: white;
	}
	h3 {
		font-size: 2.0rem;
	}
	.imgDImg{
		width:100%;
		height: 35vh;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.imgDiv{
		padding:5px;

	}
	.videoDiv{
		// position: absolute;
	 //    bottom: 22%;
	    padding: 10px;
	}
	.closeIcon{
		font-size: x-large !important;
	}
	.h3Header{
		margin-top:1rem !important;
		text-align: center !important;
	}
	.youtubeBtn{
		background-color: #de0b0bbd;
		text-transform: none;
	}
	.youtubeBtn1{
		background-color: #de0b0bbd;
		text-transform: none;
		width:100%;
	}
	.schedulebtn{
		width:100%;
	}
	.schedulebtn1{
		width:80%;
	}
	.schedulebtncol{
		padding-left:0px;
	}
	.youtubeBtncol{
		padding-left:3px;
	}
	.descDiv{
		padding-left: 10px;
		padding-right: 10px;
		overflow-y: scroll;
		text-align: left;
		font-family: 'helvetica' !important;
		font-weight: normal !important;
	}
	p{
		font-family: 'helvetica' !important;
		font-weight: normal !important;
	}
	.nameDiv{
		padding-left: 10px;
        padding-right: 10px;
	}
	.thumbsBtn{
		width:100%;
		background: transparent;
	    color: #aba6a6;
	    //border: 1px solid;
	    box-shadow: none;
	}
	.thumbsBtnfocus{
		width:100%;
		background: transparent;
	    color: #488aff;
	    //border: 1px solid;
	    box-shadow: none;
	}
	.thumbsCount{
		padding-left: 8px;
	}
	.colthumbs{
		padding-left: 0px;;
	}
	.button-md:hover:not(.disable-hover) {
	    background-color: #fff;
	}

	.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	     top: inherit;
        bottom: inherit;
	    background-position: left 0 top 0;
	    height: 2px;
	}
	.swiper-pagination-bullet-active {
	    background: #fff;
	    opacity: 1;
	    width: 14px;
	    height: 14px;
	}

	.contentDivDetailsInner{
		background:#fff;
		padding-bottom: 18vh;
		overflow: scroll;
	}
	.contentDivDetailsOuter{
		padding: 10px;
		background: #fff;
		height: -webkit-fill-available;
		height: -moz-fill-availabe;
	}
	.content-md {
	    background-color: #eee;

	}
	hr{
    	background-color: rgba(99, 80, 80, 0.22);
    	margin-right: 10px;
        margin-left: 10px;
    }
    .vl {
	  border-right: 2px solid #ddd;
	  height: 15px;
	}
	.likeDislikeShareDiv{
		bottom: 0px;
		width: 95vw;
		top: 100%;
		position: sticky;
		background-color: #fff;
	}

	.videoDom{
		height: 100% !important;
		width: 100% !important;
	}
	.scrollDiv{
		height:80%;
		overflow-y: hidden !important;
	}

	.redClass{
		.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
			border-color: #ff0000;
			color: #ff0000;
			opacity: 1;
		}

		.segment-md-primary .segment-button {
			color: #f04141;
		}
		.button-md {
			border-radius: 2px;
			overflow: hidden;
			height: 3.6rem;
			font-size: 1.4rem;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			background-color: #fa1001;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			margin: 0.4rem 0.2rem;
			padding: 0 1.1em;
		}
		.thumbsBtn{
			width:100%;
			background: transparent;
			color: #aba6a6;
			//border: 1px solid;
			box-shadow: none;
		}
		.thumbsBtnfocus{
			width:100%;
			background: transparent;
			color: #fa1001;
			//border: 1px solid;
			box-shadow: none;
		}
		.thumbsCount{
			padding-left: 8px;
		}
		.colthumbs{
			padding-left: 0px;;
		}
	}
	.blueClass{
		.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
			border-color: #488aff;
			color: #488aff;
			opacity: 1;
		}

		.segment-md-primary .segment-button {
			color: #488aff;
		}
		.button-md {
			border-radius: 2px;
			overflow: hidden;
			height: 3.6rem;
			font-size: 1.4rem;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			background-color: #488aff;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			margin: 0.4rem 0.2rem;
			padding: 0 1.1em;
		}
		.thumbsBtn{
			width:100%;
			background: transparent;
			color: #aba6a6;
			//border: 1px solid;
			box-shadow: none;
		}
		.thumbsBtnfocus{
			width:100%;
			background: transparent;
			color: #488aff;
			//border: 1px solid;
			box-shadow: none;
		}
		.thumbsCount{
			padding-left: 8px;
		}
		.colthumbs{
			padding-left: 0px;;
		}
	}

	.greenClass{
		.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
			border-color: #16910b;
			color: #16910b;
			opacity: 1;
		}

		.segment-md-primary .segment-button {
			color: #16910b;
		}
		.button-md {
			border-radius: 2px;
			overflow: hidden;
			height: 3.6rem;
			font-size: 1.4rem;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			background-color: #16910b;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
			margin: 0.4rem 0.2rem;
			padding: 0 1.1em;
		}
		.thumbsBtn{
			width:100%;
			background: transparent;
			color: #aba6a6;
			//border: 1px solid;
			box-shadow: none;
		}
		.thumbsBtnfocus{
			width:100%;
			background: transparent;
			color: #16910b;
			//border: 1px solid;
			box-shadow: none;
		}
		.thumbsCount{
			padding-left: 8px;
		}
		.colthumbs{
			padding-left: 0px;;
		}
	}
}

.ios{
	.likeDislikeShareDiv{
		.schedulebtn1{
			height: 2.2em;
		}
		
		// .redClass {
		// 	.button-ios{
		// 		background-color: #f04141;
		// 	}
		// 	.row .button-ios{
		// 		color:#f04141!important;
		// 	}
		// }
		// .blueClass {
		// 	.button-ios{
		// 		background-color: #488aff;
		// 	}
		// 	.row .button-ios{
		// 		color: #488aff!important;
		// 	}
		// }
	}
	.greenClass {
		.schedulebtn1{
			background-color: #16910b;
		}
		.colthumbs{
			.thumbsBtn{
				color: #aba6a6;
			}
			.thumbsBtnfocus{
				color: #16910b;
			}
		}
	}

	.redClass {
		.schedulebtn1{
			background-color: #f04141;
		}
		.colthumbs{
			.thumbsBtn{
				color: #aba6a6;
			}
			.thumbsBtnfocus{
				color: #f04141;
			}
		}
	}

	.blueClass {
		.schedulebtn1{
			background-color: #488aff;
		}
		.colthumbs{
			.thumbsBtn{
				color: #aba6a6;
			}
			.thumbsBtnfocus{
				color: #488aff;
			}
		}
	}
}
