<!--
  Generated template for the RideDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color={{ThemeC}}>
		<button class='button' ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title >{{headerName}}</ion-title>
		<ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
		</ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>				
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
        
        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>					
	</ion-navbar>

</ion-header>


<ion-content [ngClass]="{redClass: red == true, greenClass: green == true, blueClass: blue == true}">
	<div class="contentDivDetailsOuter">
		<div class="scrollDiv">
			<div class="imgDiv" *ngIf="showVideo == false">
				<ion-slides> <!--pager="true"-->
					<ion-slide>
						<img class="imgDImg" [src]="Desc.imgpath">
					</ion-slide>
					<!-- <ion-slide>
						<img class="imgDImg" [src]="Desc.imgpath">
					</ion-slide> -->
				</ion-slides>
				<!-- <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
						<button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()">Next</button> -->
			</div>
			<div class="videoDiv" *ngIf="showVideo == true">

				<ion-icon class="closeIcon" name="close-circle"  (click)="closeshowVideo()" float-right></ion-icon>

				<iframe src="{{Desc.ytlink | youtube}}" width=100% height=100%
				 frameborder="0" autoplay=1 allowfullscreen=1></iframe>
			</div>	
			<div class="nameDiv">
				<h3 class="h3Header">
					{{Desc.name}}
				</h3>
			</div>
		</div>

		<div class="contentDivDetailsInner">			
			<div class="descDiv">
				<p>
					{{Desc.desc}}
				</p>
			</div>
		</div>
		<div class="likeDislikeShareDiv" text-center>
			<div *ngIf="!scheduleBtn && !youtubebtn" text-center>
				
				</div>

		<div *ngIf="!scheduleBtn && youtubebtn" text-center>
			<span *ngIf="red">
			<button class="red youtubeBtn" (click)="openYoutube()" ion-button>
				<ion-row>
					<ion-col col-3 text-center>
						<ion-icon name="logo-youtube"></ion-icon>
					</ion-col>
					<ion-col col-9 text-center>
						YouTube
					</ion-col>
				</ion-row>
			</button>
		</span>
		<span *ngIf="blue">
				<button class="blue youtubeBtn" (click)="openYoutube()" ion-button>
					<ion-row>
						<ion-col col-3 text-center>
							<ion-icon name="logo-youtube"></ion-icon>
						</ion-col>
						<ion-col col-9 text-center>
							YouTube
						</ion-col>
					</ion-row>
				</button>
			</span>
		</div>
		<div *ngIf="!youtubebtn" text-center>
			<button *ngIf="scheduleBtn" class="schedulebtn1" (click)="gotoschedule(Desc)" ion-button>
						Add To Schedule
			</button>
		</div>
		<div *ngIf="scheduleBtn && youtubebtn">
			<ion-row>
				<ion-col class="youtubeBtncol" col-6>
					<button class="youtubeBtn1" (click)="openYoutube()" ion-button>
						<ion-row>
							<ion-col col-3 text-center>
								<ion-icon name="logo-youtube"></ion-icon>
							</ion-col>
							<ion-col col-9 text-center>
								YouTube
							</ion-col>
						</ion-row>
						<!-- <img src="assets/imgs/yt.png"/> -->
					</button>
				</ion-col>
				<ion-col class="schedulebtncol" col-6>
					<button *ngIf="scheduleBtn" class="schedulebtn" (click)="gotoschedule(Desc)" ion-button>
								Add To Schedule
					</button>
				</ion-col>
			</ion-row>
			
		</div>
		<hr>
		<ion-row>
			<!-- ng-class="(itemlike=='true') ? 'thumbsBtnfocus' : 'thumbsBtn'" -->
			<!-- [ngClass]="(itemlike==='true') ? 'thumbsBtnfocus' : 'thumbsBtn'" -->

			<ion-col class="colthumbs" col-4 text-center>
				<button class="thumbsBtn" [ngClass]="{'thumbsBtnfocus':itemlike == true}" (click)="like(Desc.id)"
				 ion-button>
					<ion-icon name="thumbs-up"  ></ion-icon>
					<p class="thumbsCount">{{Desc.likes}}</p>
					<!-- <div class="vl"></div> -->
				</button>

			</ion-col>

			<ion-col class="colthumbs" col-4 text-center>
				<button class="thumbsBtn" [ngClass]="{'thumbsBtnfocus':itemdislike == true}" (click)="dislike(Desc.id)"
				 ion-button>
					<ion-icon name="thumbs-down"></ion-icon>
					<p class="thumbsCount">{{Desc.dislikes}}</p>
					<!-- <div class="vl"></div> -->
				</button>

			</ion-col>

			<ion-col class="colthumbs" col-4 text-center>
				<button class="thumbsBtn" (click)="share(Desc)" ion-button>
					<ion-icon name="share"></ion-icon>
					<p class="thumbsCount">SHARE</p>
				</button>
			</ion-col>									
		</ion-row>
	</div>		
	</div>


</ion-content>

<ion-footer>
	<!-- <div text-center>
		<button class="youtubeBtn" ion-button>
			<ion-row>
				<ion-col col-3 text-center>
					<ion-icon name="logo-youtube"></ion-icon>
				</ion-col>
				<ion-col col-9 text-center>
					YouTube
				</ion-col>
			</ion-row>
		</button>
	</div>
	<ion-row>
		<ion-col class="colthumbs" col-4 text-center>
			<button class="thumbsBtn" ion-button>
				<ion-icon  md="md-thumbs-up"></ion-icon>
				<p class="thumbsCount">{{Desc.likes}}</p>
			</button>
		</ion-col>
		<ion-col class="colthumbs" col-4 text-center>
			<button class="thumbsBtn" ion-button>
				<ion-icon md="md-thumbs-down"></ion-icon>
				<p class="thumbsCount">{{Desc.dislikes}}</p>
			</button>
		</ion-col>
		<ion-col class="colthumbs" col-4 text-center>
			<button class="thumbsBtn" (click)="share(Desc)"ion-button>
				 <ion-icon md="md-share"></ion-icon>
				<p class="thumbsCount">SHARE</p>
			</button>
		</ion-col>
	</ion-row> -->
</ion-footer>