<!--
  Generated template for the FoodBeveragesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='header'>
        <button class='button' ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class='title'>Food and Beverages</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

	<div *ngFor="let item of food">
		<!-- <ion-row *ngFor="let item of food">
				<ion-card class="foodCard" (click)="gotoDetails(item.id)">
				  <img class="foodImage" [src]="item.imgpath">
				  <ion-card-content class="foodContent" text-center>
				    <p>{{item.name}}</p>
				  </ion-card-content>
				</ion-card>
		</ion-row> -->
		<ion-card class="foodCard" (click)="gotoDetails(item)">
		  <img class="contentImg" [src]="item.locimgpath"/>
			  <ion-card-content>
			    <ion-card-title>
			      {{item.locname}}
			      </ion-card-title>
				    <p>
				      {{item.loctext}}
				    </p>
				    <div text-right>
					    <a>view more</a>
					</div>
			  </ion-card-content>
		</ion-card>
	</div>

	

</ion-content>
