<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Intro</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

	<ion-slides pager="true">

		<ion-slide *ngFor='let item of introArray'>

			<img class="introImg" src="assets/imgs/ewNew.png">
			<!-- <img src="images/slide1.png" /> -->
			<!-- <h1>HELLO PAGE 1</h1> -->
			<ion-item>
				<div class="parent">
					<img class='imgIntro' [src]=item.imgPath>
					<div class='divIntro'>
						<ion-card-title class='title'>
							{{ item.introHeader }}
						</ion-card-title>
						<p class='paraIntro1'>
							{{ item.introBody }}
						</p>
					</div>

					<!-- <ion-row no-padding>
					<ion-col (click)='gotoSlide(item,0)'>
						<button ion-button clear small color="danger" icon-start>
								<ion-icon name="skip-backward"></ion-icon>
								Previous
						</button>
					</ion-col>
					<ion-col (click)='goToHome()' text-center>
						<button ion-button clear small color="danger" icon-start>
								<ion-icon name="fastforward"></ion-icon>
								Skip
						</button>
					</ion-col>
					<ion-col (click)='gotoSlide(item,1)' text-right>
						<button ion-button clear small color="danger" icon-start>
								<ion-icon name="skip-forward"></ion-icon>
								Next
						</button>
					</ion-col>
				</ion-row> -->
				</div>
			</ion-item>
			<p class='paraIntro' (click)='goToHome()'>Got it!</p>
		</ion-slide>
	</ion-slides>

</ion-content>