page-intro {

    .introImg{
        height: 75px !important;
        width: 75px !important;
        float: left;
        padding-left: 10px;
    }
    
    .parent{
        text-align: center !important;
    }
       
    ion-slide {
        // background: linear-gradient(to right bottom, #66ccff 20%, #488aff 50%);
        background:#f04141;
    }

    ion-slide img {
        height: 50vh !important;
        width: auto !important;
    }

    .scroll-content{
        padding: 0px !important;
    }

    .paraIntro{
        position: fixed;
        bottom: -10px;
        right: 10px;
        color: #fff;
    }

    .paraIntro1{
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #fff;
        white-space: normal;
        text-overflow: ellipsis;
    }

    .title{
        color: #fff;
        font-size: 5vw !important;
    }

    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }

    .divIntro{
        text-align: center;
        padding-top: 50px;
        margin-bottom: 115px;
    }

    .swiper-pagination-bullet-active {
            background: #fff;
    }

    .slide-zoom {
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
    }

}
