<!--
  Generated template for the NoInternetConnectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='header'>
    <!-- <ion-title>noInternetConnection</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content class="noInternetContent" padding>

  <!-- <img src="assets/imgs/wifiImage.png"> -->
  <!-- <ion-icon name="wifi" class='icon1'></ion-icon> -->
	<!-- <h1 class='head1'>No Internet Connection</h1> -->

	<div class="msgDiv">
		<p class="msg">
			Oops! Could not communicate with our server. Please make sure you're connected to the internet and then retry.
		</p>
	</div>

</ion-content>
