page-no-internet-connection {

    .head1{
        text-align: center;
        color: white
    }

    .header1{
        background-color: transparent;
    }

    .icon1{
        text-align: center;
        color: white;
        font-size: 2.4em;
    }

    .msgDiv{
        position:fixed;
        top: 40%;
        //left: 50%;
        width:90%;
        text-align: center;
        //height:auto;
        //margin-top: -9em; /*set to a negative number 1/2 of your height*/
       // margin-left: -15em; /*set to a negative number 1/2 of your width*/
        //border: 1px solid #ccc;
        //background-color: #f3f3f3;
    }
    .noInternetContent{
        background:#488aff;
    }
    .msg{
        color:#fff;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        position: unset;
    }


}
