// page-section {
// 	font-size: 3vw;
// 	.button1 {
// 		float: right;
// 		background-color: transparent;
// 		color: #fff;
// 		ion-badge {
// 			position: absolute;
// 			top: -0.5rem;
// 			right: 0.1rem;
// 			opacity: 0.9;
// 			border-radius: 15px;

// 			& ~ ion-icon {
// 				margin-right: 1.2rem;
// 			}
// 		}
// 	}
	
// 	.cardWidth{
// 		margin: 20vw !important;
// 		width: 25% !important;
// 		padding: 2px;
// 	}

// 	.parent{
// 		ion-card{
// 			width: 100% !important;
// 			margin: 0 !important;
// 		}
// 	}
// 	.backImage{
// 		// height: 55% !important;
// 		// background: linear-gradient(to right bottom, #66ccff 20%, #488aff 50%);
// 		// margin-top: 5%;
// 		padding-top: 10vw;
// 		img{
// 			// width: 75% !important;
// 			height: 20vw;
// 			width: 20vw;
// 		}
// 		ion-col{
// 			text-align: center !important;
// 			// border-left: 1px solid #000;
// 			// border-right: 1px solid #000;
// 			// border-top: 1px solid #000;
// 			// border-bottom: 1px solid #000;
// 			height: 35vw;
// 		}
// 		span{
// 			text-align: center !important;
// 			display: inline !important;
// 		}
// 	}

// 	.footer{
// 		height: auto;
// 		// background: linear-gradient(to right bottom, #66ccff 20%, #488aff 50%);
// 		text-align: center !important;
// 		span{
// 			display: inline-flex !important;
// 		}
// 		img{
// 			height: 10vw;
// 			width: 10vw;
			
// 		}
// 	}
// 	.promo{
// 		width: 100%;
// 	}

// 	// CSS FOR CALENDAR MODAL IN BOOKING
// .myModal{
// 	.modal-wrapper{
// 	  height: 390px !important;
// 	  position: absolute;
// 	  width: 90%;
// 	  bottom: 0px;
// 	  left: 5%;
// 	  border-radius: 10px 10px 0px 0px;
// 	  -webkit-box-shadow: 0 0 20px 1px black;
// 	  box-shadow: 0 0 5px 0px black;
// 	}
// 	ion-backdrop{
// 	  background-color: #8e8e8e !important;
// 	}
  
//   }

// }

// NEW UI
page-section {
ion-slides{
	height: 39vh;
}
ion-slide{
	height: 100%;
}
.slide-zoom{
	height: 100%;
}
.sliderim img{
	width: 100%;
	height: 100%;
  object-fit: cover;
}
.border1{
	border-left: 2px solid #d8dbe0;
	border-right: 2px solid #d8dbe0;
	/*border-top-width: 0;
	border-bottom-width: 0;
	border-image: linear-gradient(to bottom, #dccece00, #c5c7d0) 1 stretch;*/
  }
  .border3{
	border-top: 2px solid #d8dbe0;
	border-bottom: 2px solid #d8dbe0;

	/*border-left-width: 0;
	border-right-width: 0;
	border-image: linear-gradient(to right, #dccece00, #c5c7d0) 1 stretch; 	*/
  }
  .border4{
	border: 2px solid;
	border-image: linear-gradient( #d8dbe0, #c5c7d0) 1 stretch;
  }
  .border5{
	border-top: 2px solid #d8dbe0;
	border-bottom: 2px solid #d8dbe0;
	/*border-right-width: 0;
	border-left-width: 0;
	border-image: linear-gradient(to left, #dccece00, #c5c7d0) 1 stretch;*/
  }
  .border7{
	border-left: 2px solid #d8dbe0;
	border-right: 2px solid #d8dbe0;
	/*border-bottom-width: 0;
	border-top-width: 0;
	border-image: linear-gradient(to top, #dccece00, #c5c7d0) 1 stretch;*/
  }
  .border2,.border6,.border8{
	  border: 0;
  }
.imageDiv{
	height: 9vh;
}
.imageDiv img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;
  object-fit: contain;
}
.grid h3{
	text-align: center;
	margin: 0;
  padding: 7px 2px 7px 2px;
  text-transform: capitalize;
}
.grid ion-col{
	padding: 14px;
}



@media (min-width:768px) {
	ion-content{
		--background: #efefef;
	}
	.mainDiv{background: #fff;}
}


@media (max-width:480px) {
	.grid{
  	padding: 14px 16px 0px 16px;
	}
	.grid h3{
		font-size: 14px;
	}
}


// ====================================
// height

@media (max-height: 823px) {
	ion-slides{
		height: 45vh;
	}
	.imageDiv {	
    height: 6vh;
	}
}


@media (max-height: 736px) {
	ion-slides{
		height: 40vh;
	}
	.grid h3{
		font-size: 14px;
	}
}

@media (max-height: 667px) {
	.grid h3{
    padding: 7px 0 0px 0;
	}
	ion-slides{
		height: 41vh;
	}
	.grid {
    padding: 7px 16px 0px 16px;
	}
}


@media (max-height: 640px) {
	.grid ion-col{
		padding: 12px 14px;
	}
}

@media (max-height: 568px) {
	.grid{
		padding: 16px 16px 0px 16px;
	}
	.grid ion-col{
		padding: 7px 14px;
	}
	.imageDiv {
    height: 6vh;
	}
	.grid h3 {
    font-size: 11px;
    padding: 6px 2px 0px 2px;
	}
}

.ios{
	@media (max-height: 568px) {

	}
}
}