<!-- 
<ion-header>

  <ion-navbar color='header'>
    <button class='buttonMenu' ion-button menuToggle>
      <ion-img name="menu"></ion-img>
    </button>
    <ion-title class='title'>{{name}}</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
          <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
          <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="parent">
    <ion-card>
      <img [src]="img" />
    </ion-card>
  </div>
  <ion-grid class="backImage" *ngIf="network == true">

    <ion-row>
      <ion-col col-4 *ngFor='let r1 of row1,let i = index'>
        <div (click)="gotoSubpages(i)">
          <img src="{{r1.img}}" aria-hidden="true" item-center />
          <p>{{r1.title}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="backImage" *ngIf="network == false">

    <ion-row>
      <ion-col col-4 *ngFor='let r1 of localsection,let i = index'>
        <div (click)="gotoSubpages(i)">
          <img src="{{r1.img}}" aria-hidden="true" item-center />
          <p>{{r1.title}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="promo">
      <ion-col (click)="gotoinnerpages()">
        <div>
          <img src="../../assets/imgs/home/icons8-discount-100.png" aria-hidden="true" item-center />
          <p>Promotions & Offers</p>
        </div>
      </ion-col>
      </ion-row>
    <ion-row class="promo">
      <ion-col (click)="booking()">

        <div>
          <img src="../../assets/imgs/home/icons8-two-tickets-100.png" aria-hidden="true" item-center />
          <p>Book Tickets</p>
        </div>
      </ion-col>
      </ion-row>      
  </ion-toolbar>
</ion-footer> -->

<!-- NEW UI -->

<ion-header color={{ThemeC}}>
    <ion-navbar color={{ThemeC}}>
      <button class='buttonMenu' ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title align-self-start color="white">{{name}}</ion-title>
      <ion-buttons>
        <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons right>
        <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
          <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
          <ion-icon name="md-notifications" item-end></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content>
      <div class="mainDiv">
      <ion-slides *ngIf="slides && slides.length" autoplay="3000" loop="true" speed="500" pager="true">
        <ion-slide class="sliderim" *ngFor="let slide of slides ">
          <img [src]="slide.imgpath">
        </ion-slide>
      </ion-slides>

      <ion-grid class="grid">
          <ion-row>

              <ion-col col-4 *ngFor='let r1 of row1,let i = index' class="border{{i}}">
                <div (click)="gotoSubpages(i)">
                  <div class="imageDiv" >
                    <img src="{{r1.img}}">
                  </div>
                  <div class="text"><h3>{{r1.title}}</h3></div>
                </div>
                </ion-col>
          </ion-row>
      </ion-grid>

      </div>
    </ion-content>