<ion-header class="redcolorHeader">
  <ion-navbar color='header'>
    <button class='button' ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class='title'>
      My Schedule
    </ion-title>

    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
          <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
          <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
</ion-buttons>
  </ion-navbar>
  <!-- <ion-toolbar>
    <ion-segment [(ngModel)]="page">
      <ion-segment-button value="page1">
        Items
      </ion-segment-button>
      <ion-segment-button value="page2">
        More items
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content #content>
  <div *ngIf="!nodataAvailable">
      <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing..."></ion-refresher-content>
      </ion-refresher> -->
    

      <ion-list *ngFor="let item of outerArray">
        <ion-list-header *ngIf='outerArray.length > 0' ion-affix [content]="content" class="no_top">{{item.Locations}}</ion-list-header>
        <ion-item-sliding *ngFor="let r of item.subSchdule">
          <ion-item class='slide'>
            <ion-avatar item-start>
              <img [src]="r.locimgpath">
            </ion-avatar>
           
            <ion-label>
              <h2>{{r.title}}  <h4 [ngStyle]="{'color': getColor(r.HomeCat)}">{{r.HomeCat}}</h4></h2>
              <p>{{r.desc}}</p>
            </ion-label>
            <ion-checkbox color="secondary" [checked]="r.flag" [(ngModel)]=r.flag (ionChange)='ifSeen(r)' item-end mode="ios"></ion-checkbox>
          
          </ion-item>

          <ion-item-options>
            <button ion-button color="success" class="option_buttons" (click)="goToDetails(r)">
              <ion-icon name="eye"></ion-icon>
            </button>
            <button ion-button color="danger" class="option_buttons" (click)="removeItemRides(r)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <!-- <ion-list>
      <ion-list-header *ngIf='fb.length > 0' ion-affix [content]="content" class="no_top">F & B</ion-list-header>
        <ion-item-sliding *ngFor="let f of fb">
          <ion-item class='slide'>
            <ion-avatar item-start>
              <img [src]="f.avatar">
            </ion-avatar>
           
            <ion-label>
              <h2>{{f.title}}</h2>
              <p>{{f.desc}}</p>
            </ion-label>
            <ion-checkbox color="secondary" [checked]="f.flag" [(ngModel)]=f.flag (ionChange)='ifSeen(f)' item-end mode="ios"></ion-checkbox>
       
          </ion-item>

          <ion-item-options>
            <button ion-button color="success" class="option_buttons" (click)="goToDetails(f)">
              <ion-icon name="eye"></ion-icon>
            </button>
            <button ion-button color="danger" class="option_buttons" (click)="removeItemRides(f)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-list>
          <ion-list-header *ngIf='games.length > 0' ion-affix [content]="content" class="no_top">Games</ion-list-header>
          <ion-item-sliding *ngFor="let g of games">
            <ion-item class='slide'>
              <ion-avatar item-start>
                <img [src]="g.avatar">
              </ion-avatar>
            
              <ion-label>
                <h2>{{g.title}}</h2>
                <p>{{g.desc}}</p>
              </ion-label>
              <ion-checkbox color="secondary" [checked]="g.flag" [(ngModel)]=g.flag (ionChange)='ifSeen(g)' item-end mode="ios"></ion-checkbox>
            
            </ion-item>
      
            <ion-item-options>
              <button ion-button color="success" class="option_buttons" (click)="goToDetails(g)">
                <ion-icon name="eye"></ion-icon>
              </button>
              <button ion-button color="danger" class="option_buttons" (click)="removeItemRides(g)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
      </ion-list> -->
    
  </div>
 

  <div class="noDataOuter" *ngIf="nodataAvailable">
      <div class="noDataInner">
        No Data Available
      </div>
    <!-- <p>Data not available</p> -->
  </div>
	<!-- <ion-fab bottom right>
      <button ion-fab mini><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></button>
    </ion-fab>   -->
</ion-content>