page-schedule {

    .check{
        float: right;
        color: green;
        font-size: 11px;
        display: block;
    }

    .check_div{
        float: right !important;

    }

    .no_top{
        // background-color: #4d83e4;
        color: white;
        text-transform: uppercase;
        margin-bottom: 0;
        background-color: rgb(255, 0, 0);
    }

    ion-item-options{
        min-width: 20%;
    }

    .option_buttons{
        width: 15vw;
    }

    .button1 {
        float: right;
        background-color: transparent;
        color: #fff;
        ion-badge {
            position: absolute;
            top: -0.5rem;
            right: 0.1rem;
            opacity: 0.9;
            border-radius: 15px;

            & ~ ion-icon {
                margin-right: 1.2rem;
            }
        }
    }

    .button{
        color: #fff;
    }

    .title{
        color: #fff
    }

    .slide{
        color: black;
    }
    .item-inner{
        padding-right: 0px !important;
        .noteavatar{
            margin: 0px 5px 10px 0px !important;
            color: #51d651;
        }
    }

    .noDataInner{
        top: 40%;
        left: 33%;
        font-size: 4vw;
        position: absolute;
    }
    .noDataOuter{
        background:#fff;
        height: -webkit-fill-available;
    }
    

}
