<!--
  Generated template for the RegisterNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='header'>
        <!-- <button class='button' ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button> -->
        <ion-title class='title'>Registration</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="mainDivreg">
	    <!-- <div text-center>
			<img class="regImage" src="assets/imgs/loginImg1.png">
		</div> -->
		<div text-center>
	          <img class="regImg" src="assets/imgs/ew_wk.png">
	         <!--  <img class="menuImg" src="assets/imgs/wkNew1.png" > -->
	    </div>

		<div>
			<form novalidate [formGroup]="registerForm">
				<ion-list class="mainList1">
					<ion-item>
						<ion-label class="labelName" floating><ion-icon class="labelIcon" name="md-person"></ion-icon>FIRST NAME</ion-label>
						<ion-input type="text" [(ngModel)]="registerCredentials.name"
						formControlName="name" maxLength="30" required></ion-input>
					</ion-item>
					<ion-item>
							<ion-label class="labelName" floating><ion-icon class="labelIcon" name="md-person"></ion-icon>LAST NAME</ion-label>
							<ion-input type="text" [(ngModel)]="registerCredentials.lname"
							formControlName="lname" maxLength="30" required></ion-input>
						</ion-item>
					<ion-item>
						<ion-label class="labelName" floating><ion-icon class="labelIcon" name="md-call"></ion-icon>MOBILE NUMBER</ion-label>
						<ion-input type="tel" [(ngModel)]="registerCredentials.mobile"  formControlName="mobile" maxlength="10" required></ion-input>
						<!-- <ion-label stacked>Username</ion-label> -->
						<!-- <ion-row>
							<ion-col col-1>
								 <ion-icon md="md-call"></ion-icon>
							</ion-col>
							<ion-col col-11>
								<ion-input type="tel" placeholder="Mobile Number"></ion-input>
							</ion-col>
						</ion-row> -->
					</ion-item>

					<ion-item>
						<ion-label class="labelName" floating><ion-icon class="labelIcon" name="md-person"></ion-icon>ADDRESS</ion-label>
						<ion-input type="textarea" [(ngModel)]="registerCredentials.addr" formControlName="addr" maxLength="100"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label class="labelName" floating><ion-icon class="labelIcon" name="md-person"></ion-icon>DATE OF BIRTH</ion-label>
						<ion-datetime class="bdcolor" displayFormat="DD/MM/YYYY" [(ngModel)]="registerCredentials.bdate" formControlName="bdate" required></ion-datetime>
					</ion-item>

					<ion-row>
						<ion-label class="labelNameG"><ion-icon class="labelIcon" name="md-person"></ion-icon>GENDER</ion-label>
					</ion-row>			
							<ion-row radio-group [(ngModel)]="registerCredentials.gender" formControlName="gender">
							<ion-col col-6>
					 <ion-item class="checkItem">
						 
						 <ion-radio color="danger" value="1" item-left required></ion-radio>
						 <ion-label class="checkLabelInner">Male</ion-label>
					 </ion-item>
				 </ion-col>
 
				 <ion-col col-6>
					 <ion-item class="checkItem">
						 
						 <ion-radio color="danger" value="2" item-left required></ion-radio>
						 <ion-label class="checkLabelInner">Female</ion-label>
					 </ion-item>
				 </ion-col>
				 </ion-row>

					<div text-center>
						<p class="terms1" text-center>
							Already have an account? <a class="textClr" (click)="gotoLogin()">Login</a>
						</p>
					</div>



				</ion-list>
			</form>
		</div>
	</div>

</ion-content>
<ion-footer>
	<button ion-button block color="danger" [disabled]="registerForm.invalid"  class="signupBtn" (click)="gotoOtp()">SIGN UP</button>
</ion-footer>
