page-register-new {
	.signupBtn{
		height: 50px !important;
		font-size: 1.6rem !important;
		//background-color: orangered;
		margin-bottom: 0px;
	}
	.regImage{
		width: 100%;
        height: 100%;
        background:transparent !important;
	}
	// .mainList1{
	// 	padding-left: 8px;
	// }
	.item-md{
		//padding-top:16px !important;
		padding-left:0px !important;
	}

	.list-md .item-block .item-inner {
    border-bottom: none !important;
   }

   .item-input ion-input, .item-input ion-textarea {
	    position: static;
	    // border: 1px solid #dcd4d4;;
	    // border-radius: 4px;
	    border-bottom: 1px solid #ddd;
	}
	.text-input-md{
		color: black;
	}
	.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		top:0;
		bottom:0;
		height:0;

	}
	.labelIcon{
		padding-right: 2vw;
	}
	.labelName{
		color:#666 !important;
	}
	.mainList1{
		width:80%;
		margin: auto;
	}
	.mainDivreg{
		// padding-top: 18vw;
	}
	.regImg{
		width:100%;
	}
	.textClr{
		color: #f04141 !important;
	}
	.checkItem{
		color:#999 !important;
		padding-left:0px !important;
	}
	.checkLabelInner{
		font-size: 3.4vw !important;
	}
	.checkLabel{
		color: #999;
		font-size: 3.2vw !important;
	}
	.labelNameG{
		color: #999 !important;
		margin: 13px 8px 0px 0 !important;
		font-size: medium;
	}
	.bdcolor{
		color: black;
	}

	.picker-md .picker-button, .picker-md .picker-button.activated {
		margin: 0;
		height: 44px;
		color: #ff0000;
		background: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
