page-events-details {
    h3 {
		font-size: 2.0rem;
	}
	.h3Header{
		margin-top:1rem !important;
		text-align: center !important;
	}

    .imgDImg{
        width: 100%;
        height: 60vw;
    }
    .sub{
        // overflow-y: scroll;
        padding-left: 10px;
		padding-right: 10px;
		overflow-y: scroll;
		text-align: left;
		font-family: 'helvetica' !important;
		font-weight: normal !important;
    }
    .scrollDiv{
        position: sticky !important;
        top: 0;
        background-color: #ffffff;
    }
}
