page-groups-nschools-details {
    h3 {
        font-size: 2.0rem;
        background-color: white;
	}
    .card-title-md {
        display: block;
        font-size: 1.6rem !important;
        line-height: 1.2;
        color: #222;
        margin: 2px 0;
        padding: 8px 0;
    }
    p{
		font-family: 'helvetica' !important;
		font-weight: normal !important;
	}

    .imgDImg{
        width: 100%;
        height: 60vw;
    }
    .sub{
        overflow-y: scroll !important;
        
    }
    .scrollDiv{
        position: sticky !important;
        top: 0;
        // background-color: #488aff;
    }
	.h3Header{
		margin-top:1rem !important;
		text-align: center !important;
	}
}

.ios{
    .GaSheader{
        .bar-button-ios{
            font-size: 1.4rem;
        }
        .toolbar-title-ios{
            padding-right: 18px;
            font-size: 1.5rem;
        }
    }
    .scrollDiv{
        z-index: 2;
    }
}