page-booking-history-list {
    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
      
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
      
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }	
      
    }
    .button1 {
        float: right;
        background-color: transparent;
        color: #fff;
        ion-badge {
            position: absolute;
            top: -0.5rem;
            right: 0.1rem;
            opacity: 0.9;
            border-radius: 15px;
      
            & ~ ion-icon {
                margin-right: 1.2rem;
            }
        }
    }

    .noDataInner{
        top: 40%;
        left: 33%;
        font-size: 4vw;
        position: absolute;
    }
    .noDataOuter{
        background:#fff;
        height: -webkit-fill-available;
    }

    .set{
        margin-top: 2vh;
        margin-left: 5vw;
    }
    .row{
        font-size: 1.3rem;
    }
    .details{
        // padding: 15px;
        font-size: 1.3rem;
    }
    .trckerID{
        font-size: 4.5vw;
        padding-bottom: 1vh;
    }
    .tktclr{
        color: #488aff;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
    }
    .mainImg{
        margin: auto!important;
    }
}
