<!--
  Generated template for the BookingHistoryListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="redcolorHeader">

	<ion-navbar color='header'>
		<button class='buttonMenu' ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class='title'>Vouchers</ion-title>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
          <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
          <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
</ion-buttons>   		
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>		
	</ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="nodataAvailable == false">
  <ion-card *ngFor="let item of bookingSummary; let i = index">
  <div (click)="goToHistoryDetails(i)">
    <div for="row" class="row">
      <div for="tickImg" col-3 class="mainImg">
          <img src="assets/imgs/invoice1.png" />
      </div>
      <!-- <div class="details" col-6>
        <ion-row>
        <span>{{item.firstname}}</span>
      </ion-row>
      <ion-row></ion-row>
      <ion-row >
        <p><span>{{item.mobileno}}</span></p>
      </ion-row>
      </div>
      <div  col-3>
        <span> {{item.ticketdate | date:'dd-MMM-yy'}}</span> -->
        <!-- <p><span>₹ {{totalPrice}}</span></p> -->
      <!-- </div> -->
      <div class="details" col-9>
        <ion-row>
        <span class="trckerID">#{{item.trackerID}}</span>
      </ion-row>
      <ion-row>
        <ion-col col-6>
            <p>Ticket Date</p>
            <p>Total Price</p>
        </ion-col>
        <ion-col col-6  text-right>
            <span class="tktclr">{{item.ticketdate | date:'dd-MMM-yy'}}</span>
            <p class="tktclr" text-right>₹ {{item.totalPrice}}</p>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
          <ion-col col-5>
              <p>Total Price</p>
          </ion-col>
          <ion-col col-7 text-right>
              <span class="tktclr">₹ {{totalPrice}}</span>
          </ion-col>
        </ion-row> -->
      </div>
    </div>
  </div>
</ion-card>
</div> 
	<div class="noDataOuter" *ngIf="nodataAvailable">
    <div class="noDataInner">
      No Booking History Found
    </div>
  </div>
</ion-content>
