<!--
  Generated template for the GroupsNschoolsDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color={{ThemeC}}>
    <ion-title>Offers</ion-title>   
		<ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
		</ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>				
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
        
        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>	 
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="contentDivDetailsInner">
    <div class="scrollDiv">
      <div class="imgDiv">
        <ion-slides pager="true">
          <ion-slide>
            <img class="imgDImg" [src]="contentImg">
          </ion-slide>
          <!-- <ion-slide>
            <img class="imgDImg" [src]="contentImg">
          </ion-slide> -->
        </ion-slides>
        <!-- <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
            <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()">Next</button> -->
      </div>
      <div class="nameDiv">
        <h3 class="h3Header">
          {{contentHead}}
        </h3>
      </div>
    </div>


    <div class="nameDiv">
      <p [innerHTML] = "subContentP1" class="sub">
        <!-- {{subContentP1}} -->
      </p>
    </div>
    <!-- <div class="descDiv">
      <p>
        {{Desc.desc}}
      </p>
    </div>     -->
  </div>
</ion-content>