page-offers-details {
    h3 {
        font-size: 2.0rem;
        margin: 0!important;
        background-color: white;
    }
    .imgDiv{
        background-color: white;        
    }
    .card-title-md {
        display: block;
        font-size: 1.6rem !important;
        line-height: 1.2;
        color: #222;
        margin: 2px 0;
        padding: 8px 0;
    }
    p{
		font-family: 'helvetica' !important;
		font-weight: normal !important;
	}

    .imgDImg{
        width: 100%;
        height: 60vw;
    }
    .sub{
        overflow-y: scroll !important;
        
    }
    .scrollDiv{
        background-color: white;
        position: sticky !important;
        top: 0;
        // background-color: #488aff;
    }
	.h3Header{
        // margin-top:1rem !important;
        background-color: white;
		text-align: center !important;
	}
}
