<!--
  Generated template for the GroupsNschoolsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color={{ThemeC}}>
		<button class='buttonMenu' ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class='title'>Events</ion-title>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
          <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
          <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
</ion-buttons>   		
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>		
	<!-- 	<ion-buttons right>
			<button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
				<ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
				<ion-icon name="md-notifications" item-end></ion-icon>
			</button>
		</ion-buttons> -->
	</ion-navbar>

</ion-header>


<ion-content padding>

	<!-- <div *ngIf="groups.length > 0 && !nodataAvailable">
		<swipe-tab [tabs]='groups'></swipe-tab>
	</div>

	<div class="noDataOuter" *ngIf="nodataAvailable">
	<div class="noDataInner">
		No Data Available
	</div>
	
</div> -->
<div *ngIf="events.length > 0 && !nodataAvailable">
<ion-card class="rideCard" *ngFor="let events of events">
	<img class="contentImg" (click)="gotoeventsDetails(events)" [src]="events.contentImg"/>
	<ion-card-content>
		<ion-card-title>
			{{events.contentHead}}
		   
		</ion-card-title>
		  <!-- <p (click)="gotoeventsDetails(events)"> -->
			<p [innerHTML] = "events.subContentP1 | truncate : 100 : '...' | safeHtml" (click)="gotoeventsDetails(events)">
			</p>
			<!-- </p> -->
		  <div (click)="gotoeventsDetails(events)" text-center>
				<!-- <a>view more</a> -->
				<span *ngIf="red">
				<a>{{events.subContentP1.length > 100 ? 'view more' : '' }}</a>
			</span>
			<span *ngIf="blue">
				<a style="color:blue !important">{{events.subContentP1.length > 100 ? 'view more' : '' }}</a>
			</span>
			<span *ngIf="green">
				<a style="color:green !important">{{events.subContentP1.length > 100 ? 'view more' : '' }}</a>
			</span>
		  </div>
	</ion-card-content>
  </ion-card>
</div>	
<div class="noDataOuter" *ngIf="nodataAvailable">
	<div class="noDataInner">
		No Events
	</div>
</div>
</ion-content>
