<!--
  Generated template for the FAndBCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="pdHeader">
  <ion-navbar color='{{ThemeC}}'  no-border>
    <ion-title>Paid Attractions</ion-title>
    <ion-buttons>
      <button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
        <!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
        <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
        <ion-icon name="md-notifications" item-end></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
        
        <ion-icon name="md-home" item-end></ion-icon>
      </button>
    </ion-buttons>         
  </ion-navbar>
 <!--  <ion-toolbar no-padding color='light'>
    <ion-row>
        <ion-col col-7>
          <h2 class="fheader">EsselWorld</h2>
        </ion-col>
        <ion-col col-5>
          <p class="fdate"><ion-icon name="calendar" class="calendarIcon"></ion-icon> {{ todayDate | date }}</p>
        </ion-col>
      </ion-row>
    <p padding-left>{{pushToBook.bookHead}}</p>
    <ion-buttons end>
      <button ion-button icon-end color="royal">
        <ion-icon name="calendar" padding-right></ion-icon>
        {{ tcktDt | date }}
      </button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>


<!-- <ion-content>
  <div [ngClass]="{'header-image' : paidAttractionsBucket.length>0 || tktbucketarray.length>0 }">
    <div *ngFor="let item of paCategory">
      <div>
        <h3 class="mainmenu">
          {{item.title}}
        </h3>
      </div>
      <div class="menuList">
        <div *ngFor="let content of item.subCat" class="menuLayout">
          <ion-row>
            <ion-col col-3>
              <img class="imgDImg" src="assets/imgs/gamepad.png" />
            </ion-col>
            <ion-col col-9>
              <ion-row class="menuname1">
                <ion-col col-9>
                  <p class="menudescp">{{content.name}}<span class="red" *ngIf="content.isDisable == 1">Unavailable</span></p>
                </ion-col>
                <ion-col col-3>
                  <p class="menudescp"><i class="rupee fa fa-rupee"></i> {{content.displaytickprice}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="menuname">
                <ion-col col-8>
                  <p class="menudisc" *ngIf="!content?.expanded">{{content.disc | truncate : 50 : "..."}}</p>
                  <epandable [expanded]="content?.expanded">
                    <p class="menudisc" *ngIf="content?.expanded">{{content.disc}}</p>
                    <img class="imgWithDesc" *ngIf="content?.expanded" [src]="content.ticketimg">
                </epandable>
                <p *ngIf="!content?.expanded" class="ticketmorec" (click)="expandItem(content)">view more</p>
                <p *ngIf="content?.expanded" class="ticketmorec" (click)="expandItem(content)">view less</p>
                </ion-col>
                <ion-col col-4 [ngClass]="{'disableTicket': content.isDisable == 1}">
                  <ion-row *ngIf="content.Qnt == 0">
                    <button ion-button small round (click)="onIncrement(item.id,content.id,content.Qnt)">Add</button>
                  </ion-row>
                  <ion-row class="countRow" *ngIf="content.Qnt > 0">
                    <ion-col col-4>
                      <ion-fab right><button (click)="onDecrement(item.id,content.id,content.Qnt)"
                          ion-fab class="fabColor" mini>
                          <ion-icon md="md-remove"></ion-icon>
                        </button></ion-fab>
                    </ion-col>
                    <ion-col col-4>
                      <ion-input class="countinput" [(ngModel)]="content.Qnt" type="number" min="0" max="10" disabled="true"></ion-input>
                    </ion-col>
                    <ion-col col-4>
                      <ion-fab><button (click)="onIncrement(item.id,content.id,content.Qnt)"
                          ion-fab class="fabColor" mini>
                          <ion-icon md="md-add"></ion-icon>
                        </button></ion-fab>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="card-content animation" *ngIf="paidAttractionsBucket.length == 0 || tktbucketarray.length == 0">
    <ion-footer>
      <ion-row>
      <ion-toolbar no-padding color='light'>
          <ion-col col-7>

          </ion-col>
          <ion-col col-5>
              <button ion-button full (click)="skip()">
                  Skip
              </button>
          </ion-col>
      </ion-toolbar>
    </ion-row>
  </ion-footer>
  </div>
  <div class="card-content animation" *ngIf="paidAttractionsBucket.length > 0 || tktbucketarray.length > 0">
      <ion-footer>
          <ion-row>
          <ion-toolbar no-padding color='light'>
              <ion-col col-7>
              <h3 padding-left>Items <ion-badge class="countBadge" color="warning">{{TotalTCount()}}</ion-badge></h3>
              </ion-col>
              <ion-col col-5 class="proccedbtn">
                    <button ion-button full (click)="proceed1()">
                        Proceed
                    </button>
                  </ion-col>
          </ion-toolbar>
          </ion-row>
      </ion-footer>
    <div class="cartView" [ngStyle]="{'height': cardHeight(tktbucketarray.length, paidAttractionsBucket.length)}">
      <div *ngIf="paidAttractionsBucket.length > 0">
        <div class="totalSelected">
          <ion-row>
            <ion-col>
              <p class="titleDescptn paddingRemoved">TOTAL ITEMS</p>
            </ion-col>
            <ion-col>
              <p class="titleDescptn paddingRemoved">TOTAL PRICE</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="fontWBold paddingRemoved">{{TotalTCount()}}</p>
            </ion-col>
            <ion-col>
              <p class="fontWBold paddingRemoved"><i class="rupee fa fa-rupee"></i> {{TotalTPrice()}}</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="headerBorderBottom">
          <ion-row>
            <ion-col col-2>
              <p class="titleDescptn paddingRemoved">NO.</p>
            </ion-col>
            <ion-col col-6>
              <p class="titleDescptn paddingRemoved">NAME</p>
            </ion-col>
            <ion-col col-2>
              <p class="titleDescptn paddingRemoved">QTY</p>
            </ion-col>
            <ion-col col-2>
              <p class="titleDescptn paddingRemoved">PRICE</p>
            </ion-col>
          </ion-row>
        </div>
        <div *ngFor="let item of paidAttractionsBucket; let i =index">
          <ion-row>
            <ion-col col-1 class="numAlign">
              <p class="fontWBold paddingRemoved">{{i + 1}}</p>
            </ion-col>
            <ion-col col-6>
              <p class="fontWBold paddingRemoved">{{item.name}}</p>
            </ion-col>
            <ion-col col-2>
              <p class="fontWBold paddingRemoved numAlign">{{item.Qnt}}</p>
            </ion-col>
            <ion-col col-1 (click)="DeleteTicket(item)">
              <i class="trash fa fa-trash" aria-hidden="true"></i>
            </ion-col>
            <ion-col col-2>
              <p class="fontWBold paddingRemoved numAlign"><i class="rupee fa fa-rupee"></i> {{item.totalPrice}}</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
  <div class="noDataOuter" *ngIf="nodataAvailable">
    <div class="noDataInner">
      No Data Available
    </div>
</div>  
</ion-content> -->



<ion-content>
<div class="mainDiv">
  <ion-grid  [ngStyle]="{'border-bottom': getColor(ThemeC)}">
    <ion-row>
      <ion-col col class="tabs">
        <button ion-button clear small color="{{ThemeC}}" icon-start>
            <img *ngIf="ThemeC == 'red'" class="iconim" src="assets/imgs/TicketIconRed.png" />
            <img *ngIf="ThemeC == 'blue'" class="iconim" src="assets/imgs/TicketIconBlue.png" />
            <img *ngIf="ThemeC == 'green'" class="iconim" src="assets/imgs/TicketIconGreen.png" />
           Book Ticket
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-scroll scrollY="true">
    <div>
      <div class="repeat" *ngFor="let item of paCategory">
       <ion-row [ngClass]="{redClass: red == true, greenClass: green == true, blueClass: blue == true}" class="section">
         <ion-col col-2>
           <div class="sectionim">
               <img *ngIf="ThemeC == 'red'" src="/assets/imgs/Ticket-Logo-Red.png">
               <img *ngIf="ThemeC == 'blue'" src="/assets/imgs/Ticket-Logo-Blue.png">
               <img *ngIf="ThemeC == 'green'" src="/assets/imgs/Ticket-Logo-Green.png">
           </div>
         </ion-col>
         <ion-col col-8>
           <span>{{item.title}}</span>
           <p>{{item.disc}}</p>
         </ion-col>
         <ion-col col-2 class="dropdown">
           <ion-icon name="arrow-dropdown" [ngClass] = "{rotate: rotate == true}" (click)="expandItem(item)"></ion-icon>
         </ion-col>
       </ion-row>   
      
       <!-- <epandable [expanded]="item?.expanded" *ngIf="item?.expanded"> -->
        <div class="anim" *ngIf="item.expanded">
       <div *ngFor="let content of item.subCat" class="hideDiv" >
         <ion-grid [ngClass]="{redClass: red == true, greenClass: green == true, blueClass: blue == true}">
           <ion-row>
             <ion-col col-1></ion-col>
              <ion-col col-1></ion-col>
             <ion-col col-3><p>{{content.name}}</p></ion-col>
             <ion-col col-3><h3>₹ {{content.displaytickprice}}</h3></ion-col>
             <ion-col col-3 class="lastcol" [ngClass]="{'disableTicket': content.isDisable == 1}">
                 <ion-row *ngIf="content.Qnt == 0 && content.isDisable == 0">
                   <button ion-button small round (click)="onIncrement(item.id,content.id,content.Qnt)">Add</button>
                 </ion-row>
                 <ion-row *ngIf="content.isDisable == 1">
                    <ion-badge color="dark">Unavailable</ion-badge>
                  </ion-row>                    
                 <ion-row class="countRow" *ngIf="content.Qnt > 0 && content.isDisable == 0">
                   <ion-col col-4>
                    <button (click)="onDecrement(item.id,content.id,content.Qnt)" ion-fab
                         class="fabColor" mini>
                         <ion-icon md="md-remove"></ion-icon>
                       </button>
                   </ion-col>
                   <ion-col col-4>
                     <ion-input class="countinput" [(ngModel)]="content.Qnt" type="number" min="0" max="10"
                       disabled="true"></ion-input>
                   </ion-col>
                   <ion-col col-4>
                     <button (click)="onIncrement(item.id,content.id,content.Qnt)" ion-fab class="fabColor"
                         mini>
                         <ion-icon md="md-add"></ion-icon>
                       </button>
                   </ion-col>
                 </ion-row>
               </ion-col>
           </ion-row>
         </ion-grid>
       </div>
       </div>
       <!-- </epandable> -->
     </div>
     </div>
  </ion-scroll>


  
</div>
<div class="noDataOuter" *ngIf="nodataAvailable">
    <div class="noDataInner">
      No Data Available
    </div>
</div>  
</ion-content>


<ion-footer *ngIf="paidAttractionsBucket.length === 0" class="pdFooter">
  <!-- <ion-row> -->
  <ion-toolbar no-padding color='light'>
    <!-- <ion-col col-7></ion-col> -->
    <!-- <ion-col col-5> -->
        <button color="{{ThemeC}}" ion-button full (click)="askOtherPark()">
            Skip
        </button>
    <!-- </ion-col> -->
  </ion-toolbar>
<!-- </ion-row> -->
</ion-footer>

<ion-footer *ngIf="paidAttractionsBucket.length>0">
  <ion-toolbar color="{{ThemeC}}">
    <ion-fab>
      <div class="footer">
        <ion-icon name="cart"></ion-icon>
        <p>₹ {{TotalTPrice()}}</p>
        <button ion-button color="{{ThemeC}}" class="footerbtn" (click)="askOtherPark()">PROCEED ></button>
      </div>
    </ion-fab>
  </ion-toolbar>
</ion-footer>