page-guide-map {

    .button1 {
		float: right;
		background-color: transparent;
		color: #fff;
		ion-badge {
			position: absolute;
			top: -0.5rem;
			right: 0.1rem;
			opacity: 0.9;
			border-radius: 15px;

			& ~ ion-icon {
				margin-right: 1.2rem;
			}
		}
	}
	.zoom{
		.zoomIn{
			display:inline-block;
  			vertical-align:middle;
		}
		.zoomOut{
			display:inline-block;
  			vertical-align:middle;
		}
	}
	.buttonMenu{
		color: #fff;
	}

	.title{
		color: #fff
	}

	.scroll-content{
		padding: 0px !important;
	}

	pinch-zoom div{
		position: fixed;
	}

}
