<!--
  Generated template for the GuideMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

		<ion-navbar color={{ThemeC}}>
			<button class='buttonMenu' ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title class='title'>Guide Map</ion-title>			
				<ion-buttons>
					<button ion-button icon-only class='button1' color="trans" (click)="gotocart()">
							<!-- <ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge> -->
							<ion-icon ios="ios-cart" md="md-cart"></ion-icon>
					</button>
			</ion-buttons>
				 <ion-buttons right>
								<button ion-button icon-only class='button1' color="trans" (click)="gotornotificationPage()">
										<ion-badge *ngIf="number" color="danger">{{ number }}</ion-badge>
										<ion-icon name="md-notifications" item-end></ion-icon>
								</button>
					</ion-buttons>
					<ion-buttons right>
							<button ion-button icon-only class='button1' color="trans" (click)="gotohomePage()">
								
								<ion-icon name="md-home" item-end></ion-icon>
							</button>
						</ion-buttons>	
		</ion-navbar>

</ion-header>


<ion-content padding>
	<div text-center>

		<pinch-zoom [transition-duration]="100"
					[double-tap]="true"
					[zoom-button]="true"
					[linear-horizontal-swipe]="false"
					[linear-vertical-swipe]="false">
			<img [src]='image'>
		</pinch-zoom>
	</div>
	<!-- <div text-center>
	<zoom-area [(scale)]="scale" (afterZoomIn)="afterZoomIn($event)" (afterZoomOut)="afterZoomOut($event)" [(controls)]="showControls">
    <div>Zoom It</div>
    or
    <img src="assets/image-to-zoom.jpg" alt="Zoom It">
</zoom-area>	
</div> -->
	<!-- <div class="zoom">
		<ion-fab bottom (click)="zoomIn($event)">
			<button ion-fab><span class="zoomIn"><ion-icon md="md-add-circle"></ion-icon></span></button>
		  </ion-fab>
		<ion-fab bottom right (click)="zoomOut($event)">
			<button ion-fab><span class="zoomOut"><ion-icon md="md-remove"></ion-icon></span></button>
	</ion-fab>
	</div> -->
	<div>
			<ion-fab right bottom>
					<button color="{{ThemeC}}" ion-button class="btnSave" (click)="goToNearBy()">View Live Map</button>
			</ion-fab>
		<!-- <button color="{{ThemeC}}" ion-button class="btnSave" (click)="goToNearBy()">View Live Map</button> -->
	</div>
</ion-content>
