<!--
  Generated template for the TermsAndConditionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="redcolorHeader">

  <ion-navbar color='header' no-border>
    <ion-title>Terms and Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div *ngFor="let item of termsAndCondt ;let i=index">
  <div class="descriotion">
    {{item.desc}}
  </div>
  <div *ngFor="let subitem of item.List ;let j=index">
  <ion-row>
    <ion-col col-1 text-right>
      <i class="fa fa-circle" aria-hidden="true"></i>
    </ion-col>
    <ion-col col-11>
      {{subitem.list}}
    </ion-col>
  </ion-row>
</div>
</div>
</ion-content>
